<template>
    <div class="menu-mobile-only">
        <a class="hamburger header-menu-mobile__item circle-link circle-link__outline-blue" v-on:click="showMenu=!showMenu">
            <i class="fas fa-bars"></i>
            <span class="second-menu">
                <i class="icon-menu"></i> Меню
            </span>
        </a>
        <transition name="fade">
            <div v-show="showMenu" class="mobile-menu-wrapper">
                <a class="hamburger circle-link circle-link__outline-blue" v-on:click="showMenu=!showMenu"><i class="fas fa-bars"></i></a>
                <ul class="menu-mobile">
                    <li>
	                	<a href="/catalog" class="menu-mobile-link">Каталог</a>
	                </li>
                    <li>
	                	<a href="/page/about" class="menu-mobile-link">О компании</a>
	                </li>
	                <li>
	                	<a href="/page/how-to-apply" class="menu-mobile-link">Как оформить</a>
	                </li>
	                <li>
	                	<a href="/contacts" class="menu-mobile-link">Адреса аптек</a>
	                </li>
	                <li>
	                	<a href="/articles" class="menu-mobile-link">Блог о красоте и здоровье</a>
	                </li>
	                <li>
	                	<a href="/promotions" class="menu-mobile-link">Акции</a>
	                </li>
	                <li>
	                	<a href="/vacancies" class="menu-mobile-link">Вакансии</a>
	                </li>
                </ul>
                <ul class="menu-mobile">
                    <li v-if="authorised === '1'" class="menu-mobile-link flex-container align-middle">
                    	<a href="/profile"><i class="fas fa-user"></i>Мой кабинет</a>
                    </li>
                    <li v-if="authorised === '1'" class="menu-mobile-link flex-container align-middle">
                    	<a href="/logout"><i class="fas fa-sign-out-alt"></i>Выйти из профиля</a>
                    </li>
                    <li class="menu-mobile-link flex-container align-middle">
                    	<a href="/favorites"><i class="fas fa-heart"></i>Избранное</a>
                    </li>
                    <li class="border-bottom menu-mobile-link flex-container align-middle">
						<a href="/cart"><i class="fas fa-shopping-cart"></i>Корзина</a>
                    </li>
                    <li>
                        <a v-if="vklink" :href="vklink" title="ВКонтакте" class="circle-link circle-link__filled-blue" target="_blank">
							<i class="fab fa-vk"></i>
						</a>
                        <a v-if="oklink" :href="oklink" title="Одноклассники" class="circle-link circle-link__filled-blue" target="_blank">
							<i class="fab fa-odnoklassniki"></i>
						</a>
                        <a v-if="fblink" :href="fblink" title="Facebook" class="circle-link circle-link__filled-blue" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
                        <a v-if="inlink" :href="inlink" title="Instagram" class="circle-link circle-link__filled-blue" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
                    </li>
                    <li>
                        <h3><a  class="menu-mobile-link free-phone" href="tel:88002012010" title="8-800-201-20-10">8-800-201-20-10</a></h3>
                    </li>
                    <li>
                        <a href="/feedback" class="menu-mobile-link"><i class="fas fa-comment-dots"></i>Оставить отзыв</a>
                    </li>
                </ul>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {
            authorised: String,
            vklink: {
              type: String,
              default: null,
            },
            oklink: {
              type: String,
              default: null,
            },
            fblink: {
              type: String,
              default: null,
            },
            inlink: {
              type: String,
              default: null,
            },
        },
        data() {
            return {
                showMenu: false
            }
        },
        mounted() {

        },
        methods: {

        }
    }
</script>