.cart-header {
	&__count {
		font-size: rem-calc(12);
		color: $black;
		font-family: "Roboto";
	}
	&__total {
		font-size: rem-calc(12);
		color: $black;
		font-family: "Roboto";
		font-weight: 700;
	}
	&__icon {
	}
	&__badge {
		position: absolute;
	    right: -10px;
	    top: 0;
		font-size: rem-calc(12);
		line-height: rem-calc(12);
		color: $white;
		font-family: "Roboto";
		text-align: center;
		border-radius: 50%;
		background-color: $red;
		padding: rem-calc(4) rem-calc(6);
	}
}