.cart-index {
	&__header {
		font-size: rem-calc(22);
		color: $black;
		font-family: "Roboto";
		font-weight: 700;
	}
	&__empty {
		font-size: rem-calc(14);
		color: $blue;
		font-family: "Roboto";
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&__total-price {
		font-size: rem-calc(18);
		font-family: "Roboto";
		font-weight: bold;
	}
	&__total-price-promocode {
		font-size: rem-calc(18);
		font-family: "Roboto";
		text-decoration: line-through;
		color: rgb(191,191,191);
	}
	&__success {
		padding-left: 100px;
		background: url("/images/greenpoint.png") no-repeat 20px 10px;
		@media screen and (max-width: 39.9375em) {
			background-size: 24px;
			padding-left: 30px;
			background-position: 10px 3px;
		}
		div.margin-bottom-3 {
			> div:not(.cart-index__success__divider) {
				padding-left: 50px;
				background: url("/images/bluebaloon.png") no-repeat 0px center;
				div {
					font-size: 14px;
				}
				div.blue {
					font-size: 22px;
				}
			}
		}
		&__title {
			font-size: rem-calc(22);
			color: rgb(43,210,88);
			font-family: "Roboto";
			font-weight: bold;
		}
		&__divider {
			border-bottom: 1px solid #d5dde1;
		}
	}
	&__promocode {
		border-bottom: 1px solid #f6f8f9;
		&__form {
			&__input {
				border-radius: 3px;
				background-color: #e9f9f9;
				border: 1px solid #09b7bf;
			}
			&__button {
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
		&__description {
			font-size: rem-calc(14);
		}
	}
}