.cart-table {
	.basketAdd {
		&__count {
			&__decriment, &__increment, &__input {
				width: rem-calc(31);
				height: rem-calc(31);
				font-size: rem-calc(14);
				line-height: rem-calc(31);
			}
		}
	}
	thead {
		tr {
			th {
				font-size: rem-calc(16);
				font-family: "Roboto";
				font-weight: normal;
				border: 1px solid #d5dde1;
			}
		}
	}
	tbody {
		tr {
			td {
				border: 1px solid #d5dde1;
			}
		}
	}
}