.catalog-index {
    .menu.vertical {
        &.croped {
            height: 80px;
            overflow: hidden;
            transition: 0.5s;
            &.visible {
                height: initial;
            }
        }
    }
    .catimage {
        height: 140px;
    }
    .evilbutton {
        font-size: 14px;
        text-decoration: underline;
        display: inline-block;
        margin-top: 5px;
        color: $light-blue-btn-from;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}