.catalog-category {
	&__title {
		color: $blue;
		font-size: rem-calc(22);
		font-weight: 700;
	}
	//h1 {
	//	font-size: rem-calc(22);
	//	font-weight: 700;
	//}
	.catpad0 {
		padding: 0!important;
	}
	.drug {
		&:hover {
			.drug__title {
				color: $blue;
			}
		}
		&.listed {
			.drug__title {
				height: initial;
				margin-bottom: 12px;
			}
			.drug__manufacturer {
				margin-bottom: 0;
			}
			.drug__hr {
				margin-top: 8px;
				margin-bottom: 1rem;
			}
		}
		&.blocked {
			padding: 0!important;
			.drug__title {
				margin: 1rem 1rem 0.5rem 1rem;
				font-size: rem-calc(16);
				line-height: 1.2rem;
    			overflow-y: hidden;
    			height: 62px;
			}
			.drug__manufacturer {
				padding: 0 1rem;
			}
			.drug__hr {
				margin-bottom: 0;
			}
			.pricecontainer {
				width: calc(100% - 1.875rem);
				margin: 0.5rem 1.5rem;
				.button {
					margin-bottom: 0;
					padding: 0.5em 1em;
				}
				p {
					margin-bottom: 0;
					&.price {
						font-size: 1.325rem;
    					font-weight: 700;
					}
				}
				img {
					border-bottom: none;
				}
			}
		}
		.drug__title {
			font-size: rem-calc(16);
			font-weight: 700;
			color: $black;
			// height: 62px;
			height: initial;
			display: block;
		}
		.drug__manufacturer {
			font-size: rem-calc(14);
			color: $light-gray;
			abbr {
				text-decoration: none;
				border-bottom: none;
			}
		}
		.drug__hr {
			border-color: #ebebeb;
		}
		.drug__in_stock {
			font-size: rem-calc(14);
			color: $blue;
			margin-bottom: 0;
		}
		.drug__price {
			font-size: rem-calc(21);
			color: $black;
			font-weight: 700;
		}
		.drug__image {

		}
	}
	.drugs-counter{
		font-size: rem-calc(14);
		color: $light-gray;
	}
	.count-selector-label{
		color: $light-gray;
		text-align: right;
	}
	.count-selector{
		width: auto;
		margin-left: 1rem;
		border: 1px solid $light-gray;
		color: $light-gray;
		&:focus {
			border: 1px solid $light-gray;
		}
	}
}
.catalog-view-switcher {
	width: 27px;
	height: 27px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	margin-left: 6px;
	&.active {
		color: #d4d4d4;
		border-radius: 3px;
		box-shadow: 0 0 2px rgba(0,0,0,0.15);
		background: #fff;
	}
}