.drug-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
	border-bottom: 1px solid $callout-border-color;
	//padding: 1rem;
	img {
		border-radius: 3px 3px 0 0;
		border: none;
		max-height: 100%;
	}
}
.listed {
	.drug-image-container {
		border-bottom: none;
	}
}
.drug__item__block {
	.pricecontainer {
		padding: 10px;
		.button {
			margin-bottom: 0;
			padding: 0.5em 1em;
		}
		img {
			border-bottom: none;
		}
	}
	.drug-image {
		height: 150px;
		text-align: center;
	}
	h3 {
	    line-height: 1;
	    overflow-y: hidden;
	    height: 62px;
		a {
			font-size: rem-calc(16);
			font-weight: 700;
			color: $black;
		}
	}
	.anonce {
		font-size: rem-calc(14);
	    overflow-y: hidden;
	    height: 62px;
	}
	.price {
		font-size: rem-calc(18);
		font-weight: 700;
		p {
			margin-bottom: 0;
		}
	}
	.properties {
		p {
			font-size: rem-calc(14);
			color: $light-gray;
			&:nth-of-type(1){
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		abbr {
			text-decoration: none;
			border-bottom: none;
		}
	}
	.more {
		span {
			font-size: rem-calc(14);
			color: rgb(158,158,158);
		}
		.mdi {
			font-size: rem-calc(22);
			color: #757575;
		}
	}
	&:hover {
		h3 {
			a {
				color: $blue;
			}
		}
		.more {
			span, .mdi {
				color: $blue;
			}
		}
	}
}
.discount-price {
	text-decoration: line-through;
    font-size: rem-calc(14);
    font-weight: normal;
    margin-bottom: 0;
    line-height: 100%;
}