.catalog-index {
	h2 {
		a {
			color: $black;
			font-size: rem-calc(22);
		}
	}
}
//Foundation дрявое дерьмо с каскадом
.menu {
	.catalog-index__category-item {
		color: $black;
		font-size: rem-calc(14);
		padding: 0;
		line-height: rem-calc(25);
		display: inline-block;
		small {
			color: #c3bdb1;
			font-size: rem-calc(14);
		}
	}
}
