.catalog-view-modal {
    .price-container {
        p {
            font-size: 0.85em;
            color: $gray;
        }
        .drug__price {
            font-size: 1.45em;
            margin-bottom: 0!important;
            line-height: 46px;
        }
    }
}
@media screen and (max-width: 39.9375em) {
    .modal-strictly-prescription-drug .drug__item__block {
        padding-top: 25px!important;
    }
}