.sidebar-block-title {
  color: $white;
  font-weight: 700;
  font-size: rem-calc(22);
  background: $light-blue-btn-from;
  background-image: linear-gradient(to top, $light-blue-btn-from, $light-blue-btn-to);
  padding: 0.5rem;
  line-height: 1.5;
}

.sidebar-categories {
  .sidebar-block-title {
    margin-bottom: 0;
    font-size: 1.1rem;
    padding-left: 1rem;
  }
  ul {
    li {
      border-bottom: 1px solid #ebebeb;
      &:last-child {
        border-bottom: none;
      }
      a {
        font-size: rem-calc(15);
        color: $black;
        padding-left: 0;
        padding-right: 0;
        word-break: break-word;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.sidebar-collapse {
  @media screen and (max-width: 39.9375em) {
    .hide-for-small-filter {
      height: 0px;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;
      &.filter-show {
        height: 320px;
        opacity: 1;
        visibility: visible;
      }
    }
    .hide-for-small-only {
      &.filter-show {
        display: block!important;
      }
    }
  }
  .sidebar-block-title {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    padding-left: 1rem;
    position: relative;
    .trigger {
      position: absolute;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      width: 10px;
      height: 10px;
      top: 15px;
      right: 15px;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      &.active {
        transform: rotate(-225deg);
      }
    }
  }
  .sublead {
    margin-bottom: 0.5rem;
  }
  input[type="number"],
  input[type="search"] {
    height: 2rem;
    font-size: 0.8rem;
  }
  .button {
    padding: 0.55em 1em;
  }
  .vue-slider-component {
    &.vue-slider-horizontal {
      margin-bottom: 0.5rem;
    }
    .vue-slider {
      height: 6px;
      background-color: #d5dde2;
      border-radius: 0;

      &-dot {
        background-color: #123ba3;
        height: 20px;
        border-radius: 10px;
        border: 4px solid $white;
      }

      &-process {
        background-color: #123ba3;
      }

    }
  }

  .button.hollow {
    border-color: $light-blue-btn-from;
    color: $light-blue-btn-from;
    //&:hover {
    //  border-color: $light-blue;
    //  color: $light-blue;
    //}
  }
}

.v-autocomplete {
  position: relative;

  .v-autocomplete-input {
    margin-bottom: 0;
  }

  .v-autocomplete-list {
    position: absolute;
    width: 100%;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid $light-gray;
    border-top: none;
    z-index: 1;

    .v-autocomplete-list-item {
      cursor: pointer;
      background-color: #fff;
      padding: 10px;

      &:hover {
        background-color: #e9f9f9;
      }

    }
  }
}