.drug__item__block .statuses,
.drug .statuses,
.catalog-view .statuses,
.search-drugs__suggestions .search-drugs__drug > div > .prescription {
	position: absolute;
    left: 0px;
	top: 0;
	text-align: left;
}
.prescription {
	// position: absolute;
	// left: 0;
	// top: 0;
	display: inline-block;
	vertical-align: top;
	background: $blue;
	border-radius: 3px;
	color: $white;
	font-size: rem-calc(14);
	line-height: rem-calc(24);
	z-index: 3;
}
.super-prescription {
	// position: absolute;
	// left: 0;
	// top: 0;
	display: inline-block;
	vertical-align: top;
	background: $red;
	border-radius: 3px;
	color: $white;
	font-size: rem-calc(14);
	line-height: rem-calc(24);
	z-index: 3;
}
.sale {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;
	// position: absolute;
	// left: 50px;
	// top: 0px;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	background-color: #f47333;
}
.VueCarousel-slide {
	.padding-1.flex-container {
		padding: 13px;
	}
}
.catalog-view {
	.drug {
		&__images {
			position: relative;
			&__image {
				max-height: 400px;
			}
		}
		&__title {
			font-weight: 700;
			font-size: rem-calc(22);
		}
		&__manufacturer {
			font-size: rem-calc(14);
			color: $light-gray;
			border-bottom: 1px solid #ebebeb;
			padding: 10px 0;
			position: relative;
		}
		&__in_stock {
			font-size: rem-calc(14);
			color: $blue;
		}
		&__price {
			font-weight: 700;
			font-size: rem-calc(26);
		}
		&__drugstores {
			&__description {
				font-size: rem-calc(14);
			}
		}
		&__info {
			font-size: rem-calc(14);
		}
		&__description {
			.rls {
				float: right;
			}
			.instruction-title {
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 1.3em;
			}
			&__toggle {
				border-radius: 3px;
				background-color: #f7f5f5;
				&__link {
					font-size: rem-calc(18);
					color: $blue;
					font-weight: 700;
					border-bottom: 1px dashed $blue;
					&:hover {
						border-bottom-color: transparent;
					}
				}
			}
			&__text {
				table {
					word-break: break-all;
				}
				td {
					padding: rem-calc(3px) rem-calc(5px) rem-calc(5px);
				}
			}
		}
	}
}