.feedback-widget {
	background: $blue;
	&.feedback-widget-page {
		background: none;
		@media screen and (max-width: 39.9375em) {
			margin-top: -20px!important;
		}
		.feedback-widget__file-label {
			color: inherit;
		}
	}
	&__title {
		color: $white;
		font-size: rem-calc(22);
	}
	&__description {
		color: $white;
		font-size: rem-calc(16);
	}
	&__icon {
		color: $white;
		font-size: 4rem;
	}
	&__name, &__phone, &__email {
		border-radius: 3px;
		padding-left: rem-calc(30px);
	}
	&__textarea {
		border-radius: 3px;
		height: 110px;
		resize: none;
	}
	&__submit {
		color: $white !important;
      	padding: 0.85em 0.5em;
	}
	&__file {
		display: none;
		opacity: 0;
	}
	&__file-label {
		color: $white;
		font-size: rem-calc(14);
		cursor: pointer;
		span {
			border-bottom: 1px dashed $white;
		}
		&:hover {
			span {
				border-bottom-color: transparent;
			}
		}
	}

	.icon-label {
		position: relative;
		&:before {
			position: absolute;
			top: rem-calc(12px);
			left: rem-calc(10px);
			color: $blue;
		}
	}
}