<template>
    <div class="catalog-menu width-100">
		<transition name="fade">
			<div class="overlay" :class="{ visible: isActive }" @click="menuMouseLeave"></div>
		</transition>
	    <a
			href="#"
			title="Каталог товаров"
	       	class="hollow button expanded text-uppercase menu-button"
			@click="menuMouseOver"
		>
            <i class="icon-menu"></i> Каталог товаров
        </a>
        <ul class="catalog-menu-categories" :class="{ visible: isActive }">
			<li v-for="category in categories" :key="category.id">
	            <a :href="'/catalog/' + category.slug" :title="category.title" class="clearfix">
	            	<div class="float-left caticon">
	    	        	<img v-if="category.icon" :src="'/'+category.icon" :alt="category.title" :title="category.title" :width="30">
						<img v-if="category.icon_hover" class="img-hover" :src="'/'+category.icon_hover" :alt="category.title" :title="category.title" :width="30">
	    	        </div>
	            	<div class="float-left cattitle">
	                	{{ category.title }}
	                </div>
	            </a>
	            <div class="catalog-menu-subcategories">
	                <div class="grid-x grid-margin-x padding-1">
	    	            <div v-for="subcategory in category.children" :key="subcategory.id" class="cell small-12 medium-4">
	    	                <a :href="'/catalog/' + subcategory.slug" :title="subcategory.title">
	    	                    {{ subcategory.title }}
	    	                </a>
	    	            </div>
	                </div>
	            </div>
	        </li>
        </ul>
    </div>
</template>
<script>
    export default {
		name: 'catalog-menu',
        props: ['categories'],
        data() {
            return {
                isActive: false,
            }
		},
		mounted() {
		},
		methods: {
			menuMouseOver(){
				this.isActive = true;
			},
			menuMouseLeave(){
                this.isActive = false;
			},
		}
    }
</script>