<template>
    <div>
        <vmodal v-if="showAlert" class="modal-strictly-prescription-drug" @close="showAlert = false">
            <template slot="header">Внимание!</template>
            <div slot="body" class="grid-x grid-margin-x">
                <div class="cell small-3 large-2 margin-bottom-1">
                    <img src="/images/pharmacy.svg" class="float-center"/>
                </div>
                <div class="cell small-9 large-10 margin-bottom-1">
                    <h4>Строгорецептурный препарат</h4>
                    <p>Вы выбрали товар, который продается только при наличии
                        рецепта по форме №107-1/У (или №148-1/У-88).
                        Рецепт необходимо предъявить при получении товара в аптеке</p>
                </div>
            </div>
            <div slot="footer" class="grid-x grid-margin-x">
                <div class="cell small-3 large-2 margin-bottom-1"></div>
                <div class="cell small-9 large-10 margin-bottom-1">
                    <button type="button" class="button" @click="setPrescription(true)">У меня есть рецепт</button>
                    <button type="button" class="button" @click="setPrescription(false)">Нет рецепта</button>
                </div>
            </div>
        </vmodal>
        <div class="grid-x search-drugs__drug">
            <div class="cell small-3 medium-2 text-center flex-container align-middle hide-for-small-only position-relative">
                <div class="statuses">
                    <div v-if="suggestion.type == 2" class="prescription padding-horizontal-1"
                         title="Товар продается при наличии рецепта">
                        <i class="icon-pharmacy-icon"></i>
                    </div>
                    <div v-else-if="suggestion.type == 3" class="super-prescription padding-horizontal-1"
                         title="Товар продается только при наличии рецепта по форме 107-1/у">
                        <i class="icon-pharmacy-icon"></i>
                    </div>
                </div>
                <img v-show="suggestion.image" v-bind:src="'/image/100/70/' + suggestion.image"
                     v-bind:title="suggestion.title" v-bind:alt="suggestion.title" class="search-drugs__drug__image"/>
                <img v-show="!suggestion.image" src="/image/100/70/images/no_photo.png" v-bind:title="suggestion.title"
                     v-bind:alt="suggestion.title" class="search-drugs__drug__image"/>
            </div>
            <div class="cell small-12 medium-10">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-8">
                        <a v-bind:href="suggestion.url" v-bind:title="suggestion.title"
                           class="search-drugs__drug__title">
                            {{ suggestion.title }}
                        </a>
                    </div>
                    <div class="cell small-12 medium-4 text-right hide-for-small-only">
                        <div class="search-drugs__drug__price text-right margin-bottom-1">
                            {{ suggestion.price }} руб.
                        </div>
                    </div>
                    <div class="cell small-12 medium-8 hide-for-small-only">
                        <drugstores-select :drugstores="suggestion.drugstores"
                                           v-model="selectedDrugstore"></drugstores-select>
                    </div>
                    <div class="cell small-12 medium-4 text-right hide-for-small-only">
                        <a href="#" class="button text-uppercase expanded"
                           @click="submit"
                           v-bind:class="{disabled: max === 0 || disabled}">
                            В корзину
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            suggestion: {
                type: Object,
                required: true
            },
            choosedDrugstoreId: {
                type: [Number, null],
                default: null
            },
        },
        data() {
            return {
                showAlert: false,
                disabled: false,
                selectedDrugstore: null,
                count: 1,
                prescription: null,
            }
        },
        created: function () {
            this.selectedDrugstore = this.suggestion.drugstores.find(drugstore => drugstore.id === this.choosedDrugstoreId);

            if (this.selectedDrugstore === undefined) {
                this.selectedDrugstore = {
                    title: 'Товар есть в ' + this.suggestion.drugstores.length + ' аптеках',
                    id: false
                };
            }
        },
        computed: {
            max: function () {
                if (this.selectedDrugstore && this.selectedDrugstore.pivot && this.selectedDrugstore.pivot.in_stock) {
                    return this.selectedDrugstore.pivot.in_stock;
                }
                return 0;
            },
        },
        methods: {
            submit: async function () {
                if (this.suggestion.type === 3 && !this.prescription) {
                    this.showAlert = true;
                } else {
                    this.disabled = true;
                    await this.deleteDrug();
                    await axios.post('/cart/add', {
                        cart: [
                            {
                                drug_id: this.suggestion.id,
                                count: 1,
                                drugstore_id: this.selectedDrugstore.id
                            }
                        ]
                    }).then((response) => {
                        this.disabled = false;
                    });
                    await window.cartHeader.load();
                }
            },
            deleteDrug: function () {
                return axios.delete('/cart/' + this.suggestion.id);
            },
            setPrescription: function (val) {
                this.prescription = val;
                this.showAlert = false;
                if (val) {
                    this.submit();
                }
            }
        }
    }
</script>