.vacancy {
  color: #616161;
  &__title {
    color: $blue;
    font-size: rem-calc(16);
    font-weight: bold;
    cursor: pointer;
  }
  &__city, &__salary {
    font-size: rem-calc(12);
    display: inline-block;
    margin: 0 rem-calc(10) rem-calc(10) 0;
    cursor: pointer;
  }
  &__city {
    color: $blue;
    position: relative;
    i {
      font-size: 1rem;
    }
  }
  &__salary {
    font-weight: bold;
    .rouble {
      font-size: rem-calc(20);
      color: $blue;
    }
  }
  &__phone {
    font-size: rem-calc(14);
    margin-bottom: rem-calc(10);
    i{
      color: $blue;
    }
  }
  &__description{
    font-size: rem-calc(14);
    color: #616161;
    margin-bottom: 1rem;
  }
  &__description-title {
    border-bottom: 1px solid #616161;
    cursor: pointer;
  }
  &__description-content {
    margin-top: rem-calc(10);
  }
}