<template>
    <!--Блок регионов с городами -->
    <div class="grid-x grid-margin-x contacts">
        <div class="cell large-3 margin-vertical-1 show-for-large">
            <aside class="sidebar-contacts">
                <div class="callout padding-0" v-for="region in regions">
                    <h5 class="padding-1">{{ region.title }}</h5>
                    <ul class="menu vertical padding-horizontal-1">
                        <li v-for="city in region.cities">
                            <a v-bind:title="city.title" v-on:click="selectedCity = city; selectCity()">
                                {{ city.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="cell small-12 large-9">
            <vmodal v-show="showModal" @close="showModal = false" style="display:none" class="modal-choose-city">
                <template slot="header">Выберите город</template>
                <div slot="body" class="grid-x grid-margin-x">
                    <!-- mobile -->
                    <div class="cell small-12 city-choice show-for-small-only">
                        <ul class="menu vertical">
                            <li v-for="region in regions">
                                <a v-bind:title="region.title" @click="selectedRegion = region" class="collapse"
                                   v-bind:class="{active: region.id == selectedRegion.id}">
                                    {{ region.title }}
                                </a>
                                <transition name="slide-fade">
                                    <ul class="menu vertical" v-bind:class="{active: region.id == selectedRegion.id}">
                                        <li v-for="city in region.cities">
                                            <a v-bind:title="city.title"
                                               @click="selectedCity = city; showModal = false; selectCity();"
                                               v-bind:class="{active: selectedCity !==null && city.id == selectedCity.id}">
                                                {{ city.title }}
                                            </a>
                                        </li>
                                    </ul>
                                </transition>
                            </li>
                        </ul>
                    </div>
                </div>
                <div slot="footer"></div>
            </vmodal>
            <h1>Адреса аптек</h1>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 margin-bottom-1">
                    <a title="Выбрать город" class="choose-city hide-for-large" @click="showModal = !showModal">
                        <i class="icon-earth blue" style="font-size:1.5rem"></i> {{ selectedCityTitle }}
                    </a>
                </div>
            </div>
            <!--Блок с аптеками города -->
            <contacs-item v-if="drugsitems.length > 0" :items="drugsitems"></contacs-item>
            <div class="grid-x grid-margin-x drugstores" v-else>
                <div class="cell small-12 medium-4 drugstore flex-container align-stretch">
                    <h4>Для вашего города аптек не найдено! </h4>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            regions: {
                type: Array
            },
            drugstores: {
                type: Array
            }
        },

        data() {
            return {
                drugsitems: this.drugstores,
                selectedCity: null,
                selectedRegion: null,
                showModal: false,
                openConfrim: true,
            }
        },

        created() {
            this.selectedRegion = this.regions[0];
        },
        computed: {
            selectedCityTitle() {
                if (this.selectedCity) {
                    return this.selectedCity.title;
                }
                if (this.drugsitems.length > 0) {
                    return this.drugsitems[0].city.title
                }
                return 'Выберите город';
            }
        },
        methods: {
            selectCity: function () {
                axios.post('/contacts/select', {
                    city: this.selectedCity.id
                }).then((response) => {
                    this.drugsitems = response.data
                });
            },
        }

    }
</script>