<template>
    <div class="catpad0">
        <div class="grid-x grid-margin-x drugstores show-for-large">
            <div v-for="item in items" class="cell small-12 medium-6 large-6 xlarge-4 drugstore flex-container align-stretch">
                <div class="width-100 callout shadow-hover padding-0 drugstore-item">
                    <div class="drugstore-image">
                        <i v-if="item.is_24h" class="icon-hours-24"></i>
                        <img
                                :src="'/image/260/150/' + item.main_image"
                                :title="item.title"
                                :alt="item.title"
                                class="width-100">
                    </div>
                    <div class="padding-1">
                        <h2 class="clearfix">
                            <p class="drugstore-title float-left">
                                {{ item.title }}<br>
                                {{ item.address }}
                            </p>
                            <div v-if="item.freeday"
                                 v-tooltip.top-start="{content: getworktime(item.freeday), classes: 'freeday__tooltip'}"
                                 class="float-right icon-danger drugstore__freeday">
                            </div>
                        </h2>
                        <div class="drugstore-worktime margin-bottom-1">
                            {{ item.worktime }}
                        </div>
                        <div>
                            <a v-on:click="setposition(item)" class="button expanded text-uppercase"
                               title="Аптека на карте">
                                На карте
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-margin-x hide-for-large drugstores-slider">
            <slick ref="slick" :options="slickOptions" class="margin-vertical-0 padding-vertical-0">
                <div v-for="item in items" class="padding-horizontal-1 flex-container">
                    <div class="cell small-12 medium-4 large-4 drugstore flex-container align-stretch" >
                        <div class="width-100 callout shadow-hover padding-0 margin-vertical-0">
                            <div class="drugstore-image">
                                <i v-if="item.is_24h" class="icon-hours-24"></i>
                                <img :src="'/image/260/150/' + item.main_image"
                                     :title="item.title"
                                     :alt="item.title"
                                     class="width-100">
                            </div>
                            <div class="padding-1">
                                <h2 class="clearfix">
                                    <p class="drugstore-title">
                                        {{ item.title }}<br>
                                        {{ item.address }}
                                        <small v-if="item.freeday" style="color:#E62328">
                                            <br>{{ getworktime(item.freeday) }}
                                        </small>
                                    </p>
                                </h2>
                                <div class="drugstore-worktime margin-bottom-1">
                                    {{ item.worktime }}
                                </div>
                                <div>
                                    <a v-on:click="setposition(item)" class="button expanded text-uppercase"
                                       title="Аптека на карте">
                                        На карте
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </slick>
        </div>
        <div class="grid-x grid-margin-x drugstores">
            <map-widget :stores="stores" :position="position" id="ya-map-container"></map-widget>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            items: {
                type: Array
            },
        },
        data() {
            return {
                stores: this.items,
                position: this.items[0],
                slickOptions: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    dots: false,
                    // autoplay: true,
                    // autoplaySpeed: 7000,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 360,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                }
            }
        },

        watch: {
            items: function (after, before) {
                this.stores = this.items;
                this.position = this.items[0];
                this.reInit();
            }
        },


        methods: {
            getworktime(freedays) {
                let fredaystatus = freedays.freeday_status.title
                let closetime = fredaystatus + ' с ' + freedays.start_datetime + ' по ' + freedays.end_datetime

                return closetime
            },
            reInit: function () {
                let currIndex = this.$refs.slick.currentSlide();
                this.$refs.slick.destroy();
                this.$nextTick(() => {
                    this.$refs.slick.create();
                    this.$refs.slick.goTo(currIndex, true);
                })
            },
            setposition(item) {
                this.position = item
                let position = document.getElementById('ya-map-container').offsetTop

                this.scroll(document.body, position, 600);

            },
            scroll(element, to, duration) {

                var difference = to - element.scrollTop;
                var perTick = difference / duration * 10;

                setTimeout(function () {
                    element.scrollTop = element.scrollTop + perTick;
                    if (element.scrollTop == to) return;
                    this.scroll(element, to, duration - 10);
                }, 10);

                document.getElementById('yamap').scrollIntoView();

            }

        }
    }
</script>