<template>
    <div class="cell small-12 medium-12"
         id="yamap">
        <!--Поле ввода вдреса -->
        <form v-on:submit.prevent="findstores()">
            <div class="grid-x grid-margin-x drugstores">
                <div class="cell small-12 medium-12">
                    <p style="margin-top: 25px;">Чтобы найти ближайшие к себе аптеки, введите свой адрес</p>
                </div>
                <div class="cell small-8 medium-9">
                    <div class="autocomplete">
                        <input placeholder="Введите свой адрес" type="text" v-model="searchstores">
                    </div>
                </div>
                <div class="cell small-4 medium-3 align-middle ">
                    <button style="color: #FFF;" type="submit" class="button alert expanded text-uppercase">Найти
                    </button>
                </div>
            </div>
        </form>
        <!--Яндекс Карта -->
        <yandex-map v-if="stores.length > 0"
                    :coords="[latitude,longitude]"
                    :controls="['zoomControl']"
                    zoom="16"
                    style="width: 100%; height: 370px;"
                    map-type="map">

            <ymap-marker
                    v-for="mark in stores"
                    :key="mark.id"
                    marker-type="placemark"
                    :coords="[mark.latitude, mark.longitude]"
                    :hint-content="mark.title"
                    :balloon="{header: mark.title, body: mark.address, footer:''}"
                    :icon="{color: 'blue', glyph: 'none'}"
                    cluster-name="1"
                    markerId="mark.id"
            ></ymap-marker>

        </yandex-map>
    </div>
</template>
<script>
    import {yandexMap, ymapMarker} from 'vue-yandex-maps'

    export default {
        props: {
            stores: {
                type: Array
            },
            position: {
                type: Object
            }
        },
        data() {
            return {
                searchstores: "",
                latitude: this.position.latitude,
                longitude: this.position.longitude,
            }
        },

        watch: {
            position: function (after, before) {
                this.latitude = this.position.latitude
                this.longitude = this.position.longitude
            }
        },

        methods: {
            findstores() {
                window.axios.defaults.headers.common = {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                };
                let adress = this.searchstores;
                let city = this.stores[0].city.title;
                axios.get('https://geocode-maps.yandex.ru/1.x/?format=json&geocode=' + city + '+' + adress,
                ).then((response) => {
                    let position = response.data.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos;
                    position = position.split(' ');
                    const long = +(position[0].split('.')[1].padEnd(9, '0'));
                    const lat =  +(position[1].split('.')[1].padEnd(9, '0'));
                    this.stores.sort(
                        function (markA, markB) {
                            try {
                                const markALat = markA.latitude ? +(markA.latitude.split('.')[1].padEnd(9, '0')) : 0;
                                const markALong = markA.longitude ? +(markA.longitude.split('.')[1].padEnd(9, '0')) : 0;
                                const markBLat = markB.latitude ? +(markB.latitude.split('.')[1].padEnd(9, '0')) : 0;
                                const markBLong = markB.longitude ? +(markB.longitude.split('.')[1].padEnd(9, '0')) : 0;
                                return (Math.abs(lat - markALat) + Math.abs(long - markALong)) -
                                    (Math.abs(lat - markBLat) + Math.abs(long - markBLong));
                            }
                            catch (e) {
                                return 1;
                            }
                        }
                    );
                    this.longitude = this.stores[0].longitude;
                    this.latitude = this.stores[0].latitude;
                }).catch(error => {
                })
            }
        }

    }
</script>