<template>
    <div>{{ item.title }}</div>
</template>

<script>
    export default {
        props: {
            item: {required: true},
            searchText: {required: true}
        }
    }
</script>