<template>
    <div class="childrens hide-for-small-only">
		<ul class="menu vertical croped" :class="{ visible: isActive }">
		    <li v-for="child in childrens" :key="child.id">
		        <a class="catalog-index__category-item" :href="'/catalog/' + child.slug" :title="child.title">
		            <span>{{ child.title }}</span>
		        	<small>{{ child.drugsCount }}</small>
		        </a>
		    </li>
		</ul>
        <p v-if="counter > 3" >
            <a class="evilbutton" v-on:click="isActive=!isActive">{{isActive ? 'Свернуть' : 'Показать все'}}</a>
        </p>
    </div>
</template>
<script>
    export default {
        props: ['childrens'],
        data() {
            return {
                isActive: false,
            }
        },
        computed: {
            counter(){
                return this.childrens.length;
            }
        },
    }
</script>