<template>
    <div class="grid-x grid-margin-x catalog-index">
        <div v-for="category in decodedCategories" :key="category.id" class="cell small-12 medium-6 margin-vertical-1">
	    	<div class="grid-x grid-margin-x catitem">
	    		<div class="cell small-3 medium-4">
	    			<img
                        v-if="category.image"
                        :src="'/'+category.image"
                        :alt="category.title"
                        :title="category.title"
                    >
        		</div>
	    		<div class="cell small-9 medium-8">
	    			<h2>
                        <a class="text-uppercase" :href="'/catalog/' + category.slug" :title="category.title">
			                {{ category.title }}
			            </a>
			        </h2>
                    <catalog-category :childrens="category.children"></catalog-category>
	    		</div>
	    	</div>
	    </div>
    </div>
</template>
<script>
    export default {
        props: ['categories'],
        computed: {
            decodedCategories() {
                return JSON.parse(this.categories);
            }
        },
        data() {
            return {
                isActive: false,
            }
        }
    }
</script>