<template>
    <aside class="sidebar-filter sidebar-collapse">
        <div class="callout padding-0">
            <p class="sidebar-block-title">
                Фильтр
                <span class="trigger show-for-small-only" :class="{active: filterTrigger}" @click="filterRefresh()"></span>
                <!-- <span class="trigger show-for-small-only" :class="{active: filterTrigger}" @click="toggleFilter"></span> -->
            </p>
            <div class="grid-container hide-for-small-filter" :class="{'filter-show': filterTrigger}">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <p class="sublead"><b>Цена, &#8381;</b></p>
                    </div>
                    <div class="cell small-6">
                        <input type="number" v-model="value[0]">
                    </div>
                    <div class="cell small-6">
                        <input type="number" v-model="value[1]">
                    </div>
                    <div class="cell small-12">
                        <vue-slider ref="slider" :value="value" v-bind="options"
                                    @callback="setPriceFromSlider"></vue-slider>
                    </div>
                    <div class="cell small-12">
                        <p class="sublead"><b>Производитель</b></p>
                    </div>
                    <div class="cell small-12 margin-bottom-1">
                        <v-autocomplete :items="manufacturers" v-model="manufacturer" :get-label="getLabel"
                                        :component-item='template' :input-attrs='{placeholder: "Производитель"}'
                                        @update-items="updateManufacturers" @item-selected="manufacturerSelected">
                        </v-autocomplete>
                    </div>
                    <div class="cell small-12 margin-bottom-1">
                        <div class="switch-container">
                            <div class="switch">
                                <input class="switch-input" id="is24hsw" type="checkbox"
                                       v-model="is_24h" @change="setIs24h">
                                <label class="switch-paddle" for="is24hsw"></label>
                            </div>
                            <label for="is24hsw">Только круглосуточные аптеки</label>
                        </div>
                    </div>
                    <div class="cell small-12 margin-bottom-1">
                        <div class="switch-container">
                            <div class="switch">
                                <input class="switch-input" id="orderbyname" type="checkbox"
                                       v-model="sortByTitle" @change="setSorting">
                                <label class="switch-paddle" for="orderbyname"></label>
                            </div>
                            <label for="orderbyname">Сортировка по названию</label>
                        </div>
                    </div>
                    <div class="cell small-12">
                        <a @click="clearFilter" class="button expanded" :class="{hollow : filterDefault}">Очистить фильтр</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>
<script>
    import vueSlider from 'vue-slider-component';
    import vAutocomplete from 'v-autocomplete';
    import autocompleteItem from './autocomplete-item';
    import debounce from 'lodash.debounce';

    export default {
        props: {
            category: {
                default: false
            },
            q: {
                default: ''
            },
            drugstores: {
                type: Array
            },
            cityId: {
                type: Number
            }
        },
        components: {
            vueSlider,
            vAutocomplete
        },
        data() {
            return {
                value: [
                    0,
                    100000
                ],
                options: {
                    min: 0,
                    max: 100000,
                    tooltip: false,
                },
                manufacturers: [],
                manufacturer: {},
                manufacturerInput: 'А',
                template: autocompleteItem,
                filterDefault: true,
                filterTrigger: true,
                is_24h: false,
                sortByTitle: false,
            }
        },
        mounted() {
            this.getFilters(true);
            this.$refs.slider.refresh();
            this.filterTrigger = false;
        },
        methods: {
            getFilters: function (mounted = false) {
                axios.get('/api/filters', {
                    params: {
                        city_id: this.cityId,
                        category_id: this.category ? this.category.id : 0,
                        q: this.q ? this.q : '',
                        manufacturer: this.manufacturerInput
                    }
                }).then((response) => {
                    if (mounted) {
                        this.value = [Math.floor(+response.data.data.price.min), Math.ceil(+response.data.data.price.max)];
                        this.options.min = Math.floor(+response.data.data.price.min);
                        this.options.max = Math.ceil(+response.data.data.price.max);
                    }
                    this.manufacturers = response.data.data.manufacturers;
                    this.filterDefault = mounted;
                }).catch(error => {
                    console.log(error.response.data);
                });
            },
            toggleFilter: function () {
                this.filterTrigger = !this.filterTrigger;
                this.$nextTick(() => this.$refs.slider.refresh());
                // this.$refs.slider
                // const oldVal = this.value;
                // this.getFilters(true);
                // this.options.min = 0;
                // this.options.max = 10000;
                // this.options.min = this.value[0];
                // this.options.max = this.value[1];
                // this.options.max = 10000;
                // this.value = [0, 1000];
                // this.value = oldVal;
            },
            clearFilter: function () {
                this.manufacturer = {};
                this.manufacturerInput = 'А';
                this.getFilters(true);
            },
            getLabel: function (item) {
                return item.title;
            },
            updateManufacturers: function (text) {
                this.manufacturerInput = text;
                this.getFilters();
            },
            manufacturerSelected: function (item) {
                this.$store.commit('setManufacturer', item.id);
                if (!(this.manufacturer === {})) {
                    this.filterDefault = false;
                }
            },
            setPriceFromSlider: function (value) {
                this.value = value;
            },
            setMinMaxPrice: function () {
                this.$store.commit('setMinPrice', Math.floor(this.value[0]));
                this.$store.commit('setMaxPrice', Math.ceil(this.value[1]));
            },
            debouncedSetPrice: debounce(function () {
                this.setMinMaxPrice();
            }, 500),
            filterRefresh: function () {
                this.filterTrigger=!this.filterTrigger;
            },
            setIs24h() {
                this.$store.commit('setIs24h', this.is_24h);
            },
            setSorting() {
                this.$store.commit('setSorting', this.sortByTitle ? 'drugs.title' : 'price');
            },
        },
        watch: {
            value: function (newVal, oldVal) {
                if (!(newVal[0] === this.options.min && newVal[1] === this.options.max)) {
                    this.filterDefault = false;
                }
                this.debouncedSetPrice();
            }
        }
    }
</script>