<template>
    <div>
        <div class="cell small-12 margin-bottom-1" v-if="showSuggest">
            По запросу &laquo;{{ q }}&raquo; ничего не найдено. Возможно вы имели ввиду: <a :href='"/drugs/search?q="+ suggest'>{{ suggest }}</a>
        </div>
        <div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-9">
                    <h1 class="catalog-category__title">{{ categoryTitle }}</h1>
                </div>
                <div class="cell small-12 medium-3 text-right">
                    <a @click="type = 'list'" v-bind:class="{active: type == 'list'}"
                       class="margin-left-1 catalog-view-switcher show-for-medium">
                        <i class="icon-menu"></i>
                    </a>
                    <a @click="type = 'block'" v-bind:class="{active: type == 'block'}"
                       class="catalog-view-switcher show-for-medium">
                        <i class="icon-menu-9"></i>
                    </a>
                </div>
            </div>
            <div class="cell small-12 margin-bottom-1"><hr class="margin-0 blue"></div>
            <div class="cell small-12 margin-bottom-1" v-if="!showSuggest && drugs.length == 0">
                По запросу &laquo;{{ q }}&raquo; ничего не найдено.
            </div>
            <!--<drug-request-form v-if="showDrugRequestForm"-->
                               <!--:dosage-forms="dosageForms"></drug-request-form>-->
            <!--<template v-else>-->
                <div class="grid-x grid-margin-x">
                    <catalog-item
                            v-for="drug in drugs"
                            :type="type"
                            :key="drug.id"
                            :drug="drug"></catalog-item>
                </div>
            <!--</template>-->
            <div class="grid-x grid-margin-x margin-vertical-1">
                <div class="cell small-12 text-center">
                    <a v-show="showLoadMore" @click="loadMore" class="button">Смотреть еще</a>
                </div>
            </div>
            <div class="grid-x" v-if="q === false">
                <div class="cell small-12 medium-12 large-3">
                    <span v-if="category" class="drugs-counter">Товаров в категории {{ total }}</span>
                </div>
                <div class="cell small-12 medium-9 large-6">
                    <span class="show-for-medium-only"> <br/></span>
                    <paginate
                            v-model="page"
                            v-show="pages > 1"
                            :page-count="pages"
                            :click-handler="clickPage"
                            :prev-text="''"
                            :next-text="''"
                            :prev-class="'pagination-previous'"
                            :next-class="'pagination-next'"
                            :container-class="'pagination text-center'"
                            :active-class="'current'"
                            :break-view-class="'ellipsis'"
                            :break-view-text="''"
                            style="display:none"
                            ref="paginate">
                    </paginate>
                </div>
                <div class="cell small-12 medium-3 large-3">
                    <label class="count-selector-label">Показывать по<br class="show-for-medium-only"/>

                        <select @change="changeTake();" v-model="take" class="count-selector">
                            <option v-for="take in takes" :value="take.value">
                                {{ take.title }}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            category: {
                default: false
            },
            items: {
                type: Array,
                default: function () {
                    return []
                }
            },
            q: {
                default: false
            },
            discount: {
                default: false
            },
            drugstores: {
                type: Array,
                default: false
            },
            dosageForms: {
                type: Array,
                default: false
            },
            suggest: {
                type: String,
                default: null
            }
        },
        computed: {
            categoryTitle: function () {
                if (this.category.title) {
                    return this.category.title;
                }
                if (this.showSuggest) {
                    return this.suggest;
                }
                if (this.q !== false) {
                    return this.q;
                }
                return 'Акции';
            },
            showDrugRequestForm: function () {
                return this.showSuggestionAnyway && this.drugs.length === 0 || (!this.showSuggest && this.suggest === '');
            },
            showSuggest: function () {
                return this.showSuggestionAnyway || !this.loading && this.suggest && this.drugs.length === 0;
            },
            showLoadMore: function () {
                return !this.loading && this.drugs.length > 0 && this.page < this.pages;
            },
            price: function () {
                return {
                    from: this.$store.state.catalogFilter.minPrice,
                    to: this.$store.state.catalogFilter.maxPrice
                }
            },
            manufacturer: function () {
                return this.$store.state.catalogFilter.manufacturer
            },
            is_24h: function () {
                return this.$store.state.catalogFilter.is24h;
            },
            sorting: function () {
                return this.$store.state.catalogFilter.sorting;
            },
            catalogFilters: function () {
                return [this.price, this.manufacturer, this.is_24h, this.sorting];
            },
        },
        data() {
            return {
                drugs: [],
                showSuggestionAnyway: false,
                drugstore: '',
                type: 'list',
                // Pagination
                takes: [
                    {value: 9, title: 9},
                    {value: 18, title: 18},
                ],
                take: 9,
                skip: 0,
                total: 0,
                page: 1,
                pages: 0,
                loading: true,
                mounted: true,
            }
        },
        created() {
            this.drugs = this.items;
        },
        mounted() {
            this.page = 1;

            const params = new Map(location.search.slice(1).split('&').map(kv => kv.split('=')));
            if (params.has('page')) {
                this.page = +params.get('page');
            }

            if (this.discount) {
                this.changePage();
            }
        },
        methods: {
            loadDrugs: function (clearDrugs = true) {
                this.loading = true;
                axios.post('/catalog/search', {
                    category_id: this.category ? this.category.id : false,
                    is_24h: this.is_24h,
                    take: this.take,
                    skip: this.skip,
                    page: this.page,
                    drugstore_id: this.drugstore,
                    sorting: this.sorting,
                    q: this.showSuggestionAnyway ? this.suggest : this.q,
                    price_min: this.price.from,
                    price_max: this.price.to,
                    manufacturer: this.manufacturer,
                    sale: this.discount,
                }).then((response) => {
                    if (clearDrugs) {
                        this.drugs = response.data.drugs;
                    }
                    else {
                        response.data.drugs.forEach((drug) => {
                            this.drugs.push(drug);
                        });
                    }
                    this.total = response.data.total;
                    this.pages = response.data.pages;
                    this.loading = false;
                }).catch(error => {
                    console.log(error.response.data);
                });
            },
            changeFilter: function(filters) {
                this.is_24h = filters.is_24h;
                this.drugstore = filters.drugstore;
                this.sorting = filters.sorting;
                this.resetDrugsPageAndSearch();
            },
            changeType: function (type) {
                this.type = type;
            },
            changeTake: function (filters) {
                this.resetDrugsPageAndSearch();
                scroll(0, 0);
            },
            loadMore: function () {
                this.page++;
                this.changePage(false);
            },
            clickPage(page) {
                this.page = page;
                this.changePage();
                scroll(0, 0);
            },
            resetDrugsPageAndSearch() {
                if (this.mounted) {
                    this.mounted = false;
                }
                else {
                    this.page = 1;
                }
                this.changePage();
            },
            changePage: function (clearDrugs = true) {
                let str = 'page=' + this.page;
                if (this.q !== false) {
                    str += '&q=' + this.q;
                }
                window.history.pushState("", "", '?' + str);

                this.loadDrugs(clearDrugs);
            },
        },
        watch: {
            catalogFilters: function () {
                this.resetDrugsPageAndSearch();
            },
            showSuggest: function (newVal) {
                if (newVal) {
                    this.showSuggestionAnyway = true;
                    this.resetDrugsPageAndSearch();
                }
            }
        }
    }
</script>