<template>
	<div class="cell callout shadow-hover padding-1 drug" v-bind:class="{'medium-12 small-6 listed': type == 'list', 'large-4 medium-6 small-12 blocked': type == 'block'}">
		<show-modal :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
		<div class="statuses">
			<div v-if="drug.type == 2" class="prescription padding-horizontal-1" title="Товар продается при наличии рецепта">
				<i class="icon-pharmacy-icon"></i>
			</div>
			<div v-else-if="drug.type == 3" class="super-prescription padding-horizontal-1" title="Товар продается только при наличии рецепта по форме 107-1/у">
				<i class="icon-pharmacy-icon"></i>
			</div>
			<div v-if="hasDiscount" class="sale">%</div>
		</div>
		<favorite :drug-id="drug.id" :is-favorite="drug.is_favorite"></favorite>
		<div class="grid-x grid-margin-x">
			<div class="mobile-drug-image cell small-12 text-center" v-bind:class="{'medium-3': type == 'list'}">
				<a v-bind:href="drug.url" v-bind:title="drug.title" class="drug-image-container">
					<img v-bind:src="'/image/240/183/' + drug.image" v-bind:title="drug.title" v-bind:alt="drug.title"
						 class="drug__image"/>
				</a>
				<!-- <a v-bind:href="drug.url" v-bind:title="drug.title" v-else>
					<img v-bind:src="'/image/260/150/' + drug.image" v-bind:title="drug.title" v-bind:alt="drug.title"
						 class="drug__image"/>
				</a> -->
			</div>
			<div class="cell small-12" v-bind:class="{'large-6 medium-5': type == 'list'}">
				<a v-bind:href="drug.url" v-bind:title="drug.title" class="drug__title">
					{{ drug.title }}
				</a>
				<p v-if="drug.manufacturer" class="drug__manufacturer hide-for-small-only">
					Производитель: <abbr v-if="drug.manufacturer.title.length > 15 && type == 'block'" :title="drug.manufacturer.title">{{ drug.manufacturer.title.substr(0, 12) }}...</abbr>
					<template v-else>{{ drug.manufacturer.title }}</template>
				</p>
				<hr class="drug__hr hide-for-small-only">
				<p v-if="type == 'list'" class="drug__in_stock">
					В наличии
				</p>
			</div>
			<div v-if="type == 'list'" class="cell small-12" v-bind:class="{'large-3 medium-4': type == 'list'}">
				<div class="drug__price margin-bottom-1">
					<template v-if="hasDiscount">
						<p class="red discount-price hide-for-small-only">{{ drug.price }} руб.</p>
						<p class="price">{{ priceWithDiscount }} руб.</p>
					</template>
					<p v-else class="price">{{ drug.price }} руб.</p>
				</div>
				<a class="button text-uppercase expanded"
					v-bind:title="drug.title"
					@click="showModal = true"
				>
					В корзину
				</a>
			</div>

			<div v-else class="grid-x search-drugs__drug pricecontainer">
				<div class="cell small-12 medium-9 flex-container align-middle">
					<div class="price">
						<template v-if="hasDiscount">
							<p class="red discount-price">{{ drug.price }} руб.</p>
							<p class="price">{{ priceWithDiscount }} руб.</p>
						</template>
						<p v-else class="price">{{ drug.price }} руб.</p>
					</div>
				</div>
				<div class="cell small-12 medium-3 text-center flex-container align-middle">
					<a class="button text-uppercase expanded" @click="showModal = true" v-bind:title="drug.title">
						<img src="/images/newcart.svg">
					</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import axios from 'axios';
    export default {
        props: {
			drug: {
				type: Object
		    },
			type: {
				type: String,
				default: 'list'
		    }
		},
		computed: {
			priceWithDiscount: function () {
                let discount = +this.drug.discount;
                let price = +this.drug.price;
                if (discount === null) {
                    return price;
                }
                if (this.drug.discount_is_percent) {
                    discount = price * discount * 0.01;
                }
                return (price - discount).toFixed(2);
            },
            hasDiscount: function () {
                return +this.priceWithDiscount !== +this.drug.price;
            }
		},
		data() {
            return {
				showModal: false
			}
  		}
	}
</script>