<template>
	<div>
		<vmodal v-if="showAlert" class="modal-strictly-prescription-drug" @close="showAlert = false">
            <template slot="header">Внимание!</template>
            <div slot="body" class="grid-x grid-margin-x">
                <div class="cell small-3 large-2 margin-bottom-1">
                    <img src="/images/pharmacy.svg" class="float-center" />
                </div>
                <div class="cell small-9 large-10 margin-bottom-1">
                    <h4>Строгорецептурный препарат</h4>
                    <p>Вы выбрали товар, который продается только при наличии
                    рецепта по форме №107-1/У (или №148-1/У-88).
                    Рецепт необходимо предъявить при получении товара в аптеке</p>
                </div>
            </div>
            <div slot="footer" class="grid-x grid-margin-x">
                <div class="cell small-0 large-2 margin-bottom-1"></div>
                <div class="cell small-6 large-5 margin-bottom-1">
					<button type="button" class="button" @click="setPrescription(true)">У меня есть рецепт</button>
                </div>
				<div class="cell small-6 large-5 margin-bottom-1">
                    <button type="button" class="button hollow" @click="setPrescription(false)">Нет рецепта</button>
                </div>
            </div>
        </vmodal>
		<vmodal v-if="showModal" @close="closeModal" @open="openModal" class="modal-strictly-prescription-drug">
	        <template slot="header">Подтверждение</template>
	        <div slot="body">
	            <div class="grid-x grid-margin-x catalog-view catalog-view-modal">
	                <div class="cell small-12 large-4 hide-for-small-only">
						<div class="statuses">
			        		<div v-if="drug.type == 2" class="prescription padding-horizontal-1" title="Товар продается при наличии рецепта">
								<i class="icon-pharmacy-icon"></i>
							</div>
							<div v-else-if="drug.type == 3" class="super-prescription padding-horizontal-1" title="Товар продается только при наличии рецепта по форме 107-1/у">
								<i class="icon-pharmacy-icon"></i>
							</div>
						</div>
	                	<a v-bind:href="drug.url" v-bind:title="drug.title">
							<img v-bind:src="'/image/240/183/' + drug.image" v-bind:title="drug.title" v-bind:alt="drug.title"
								 class="drug__images__image"/>
						</a>
	                </div>
					<div class="cell small-12 large-8">
						<a v-bind:href="drug.url" v-bind:title="drug.title">
							<h3 class="drug__title margin-bottom-0">
								{{ drug.title }}
							</h3>
						</a>
						<div v-if="drug.manufacturer" class="drug__manufacturer margin-bottom-1">
							Производитель: <abbr v-if="drug.manufacturer.title.length > 15"
												 :title="drug.manufacturer.title">{{ drug.manufacturer.title.substr(0,
							12) }}...</abbr>
							<template v-else>{{ drug.manufacturer.title }}</template>
						</div>
						<div class="grid-x grid-margin-x price-container">
							<div class="cell small-6 large-6">
								<p>Цена:</p>
								<div class="drug__price margin-bottom-1">
						    		<template v-if="hasDiscount">
										<p class="red discount-price">{{ drug.price }} руб.</p>
										<p class="price">{{ priceWithDiscount }} руб.</p>
									</template>
									<p v-else class="price">{{ drug.price }} руб.</p>
								</div>
							</div>
							<div class="cell small-6 large-6 text-right">
								<p>Количество:</p>
								<div class="basketAdd__count">
				                    <a class="display-inline-block basketAdd__count__decriment" @click="decrement">-</a>
				                    <input v-model="count" class="display-inline-block basketAdd__count__input" type="number" placeholder="1" min="1" v-bind:max="max"/>
				                    <a class="display-inline-block basketAdd__count__increment" v-tooltip.top-center="tooltip" @click="increment">+</a>
				                </div>
							</div>
						</div>
					</div>
					<div class="cell small-12">
						<div class="drug__in_stock margin-bottom-1">
							Есть в наличии на выбранной аптеке
						</div>
						<drugstores-select :drugstores="drug.drugstores"
	                       @change="count = 1"
	                       v-model="selectedDrugstore"></drugstores-select>
						<div class="drug__drugstores__description margin-bottom-1">
	    					Выберите аптеку, на которой Вы хотели бы забрать товар
						</div>
					</div>
	            </div>
	            <div class="grid-x grid-margin-x">
	                <div class="cell small-6 large-6">
	                    <button type="button" class="width-100 button hollow" @click="closeModal">Закрыть</button>
	                </div>
	                <div class="cell small-6 large-6">
	                    <button
	                    	type="button"
	                    	class="width-100 button"
	                    	@click="submit"
	                    	v-bind:class="{disabled: max === 0 || disabled}">
	                    	В корзину
	                	</button>
	                </div>
	            </div>
				<individuals
						:drugs="recommendedDrugs"
						:limit="2"
						:css-class="'blue'"
						:show-image="false"
						:title="'Вас может заинтересовать'">
				</individuals>
	        </div>
	        <div slot="footer" >
	        </div>
	    </vmodal>
	</div>
</template>
<script>
    import axios from 'axios';
    import PNotify from 'pnotify/dist/es/PNotify.js';
    import PNotifyHistory from 'pnotify/dist/es/PNotifyHistory.js';
    export default {
        components: {
            PNotify
        },
        props: {
			drug: {
				type: Object
		    },
			showModal: {
				type: Boolean,
				default: false
		    }
		},
        mounted() {
            PNotify.defaults.modules = {History: {maxInStack: 3}};
        },
		computed: {
			max: function () {
                if (this.selectedDrugstore && this.selectedDrugstore.pivot && this.selectedDrugstore.pivot.in_stock) {
                    return this.selectedDrugstore.pivot.in_stock;
                }
                return 0;
            },
			priceWithDiscount: function () {
                let discount = +this.drug.discount;
                let price = +this.drug.price;
                if (discount === null) {
                    return price;
                }
                if (this.drug.discount_is_percent) {
                    discount = price * discount * 0.01;
                }
                return (price - discount).toFixed(2);
            },
            hasDiscount: function () {
                return +this.priceWithDiscount !== +this.drug.price;
            }
		},
		data() {
            return {
            	showAlert: false,
            	disabled: false,
				selectedDrugstore: null,
				in_stock: 0,
				count: 1,
                prescription: null,
                tooltip: {
                    content: 'Максимальное кол-во в аптеке',
                    classes:'cart__max__tooltip',
                    trigger: 'manual',
                    show: false
                },
                recommendedDrugs: [],
			}
  		},
  		created: function() {
            this.selectedDrugstore = this.drug.drugstores[0];
            this.in_stock = this.selectedDrugstore.pivot.in_stock;
        },
        methods: {
        	closeModal: function() {
        		this.$emit('close');
        	},
            openModal: async function () {
				await axios.get(`/drugs/recommended/${this.drug.id}`)
					.then((response) => {
					    this.recommendedDrugs = response.data.drugs;
					});
            },
            decrement: function () {
                this.count = this.count > 1 ? this.count - 1 : this.count;
            },
            increment: function () {
                this.count = this.count < this.max ? +this.count + 1 : +this.count;
                this.tooltip.show = this.count == this.max;
                if (this.tooltip.show)
                    setTimeout(() => this.tooltip.show = false, 1500);
            },
	        submit: async function () {
	            if (this.drug.type === 3 && !this.prescription) {
	                this.showModal = false;
	                this.showAlert = true;
	            } else {
	                this.disabled = true;
	                await this.deleteDrug();
	                await axios.post('/cart/add', {
	                    cart: [
	                        {
	                            drug_id: this.drug.id,
	                            count: this.count,
	                            drugstore_id: this.selectedDrugstore.id
	                        }
	                    ]
	                }).then((response) => {
	                	PNotify.notice({text: 'Товар успешно добавлен в корзину!'});
	                    this.disabled = false;
	                    this.closeModal();
	                });
	                await window.cartHeader.load();
	            }
	        },
	        deleteDrug: function () {
	            return axios.delete('/cart/' + this.drug.id);
	        },
            setPrescription: function (val) {
                this.prescription = val;
                this.showAlert = false;
                this.showModal = true;
                if (val) { this.submit(); }
            }
        }
	}
</script>