<template>
	
	<aside class="sidebar-categories sidebar-collapse">
		<div class="callout padding-0">
			<p class="sidebar-block-title">
                Категории
                <span class="trigger show-for-small-only" :class="{active: categoriesTrigger}" @click="categoriesTrigger=!categoriesTrigger"></span>
            </p>
            <transition name="fade">
			    <ul class="menu vertical padding-horizontal-1 hide-for-small-only" :class="{'filter-show': categoriesTrigger}">
                    <li v-for="subcategory in sidebarCategories">
                        <a :href="'/catalog/' + subcategory.slug" :title="subcategory.title">
                            {{ subcategory.title }}
                        </a>
                    </li>
			    </ul>
            </transition>
		</div>
	</aside>
</template>
<script>
    export default {
        props: {
            sidebarCategories: {
                type: Array
            }
        },
        computed: {
            decodedCategories() {
                return JSON.parse(this.categories);
            }
        },
        data() {
            return {
                categoriesTrigger: false,
            }
        }
    }
</script>