.drugstores-slider {
  .slick-next {
    right: 0;
    opacity: 1;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1))!important;
    &:before {
      font-size: 40px;
    }
    text-align: right;
  }
  .slick-prev {
    left: 0;
    opacity: 1;
    background: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.1))!important;
    &:before {
      font-size: 40px;
    }
    text-align: left;
  }
}

.drugstore-image {
  min-height: 162px;
  position: relative;
  .icon-hours-24 {
    position: absolute;
    color: #e62327;
    font-size: 40px;
    font-weight: 700;
    background-color: #ebebebad;
    line-height: 1;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    text-align: center;
    right: 5px;
    top: 5px;
  }
}
.drugstore-title {
  font-size: rem-calc(16);
  color: $black;
  font-wight: 700;
  height: 70px;
  max-width: 86%;
  overflow: hidden;
}
.drugstore-worktime {
  font-size: rem-calc(14);
  color: #9e9e9e;
  height: 60px;
  overflow: hidden;
}
.drugstore__freeday {
  color: #f4333e;
}
.icon-danger:before {
  content: "";
  background-image: url(/images/locked-padlock.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  cursor: pointer;
}

.freeday__tooltip {
  .tooltip-inner {
    color: #f4333e !important;
    background: $white !important;
  }
}