.sidebar-contacts {
	h5 {
		background: $blue;
		color: $white;
		font-weight: 700;
		font-size: rem-cacl(22);
	}
	ul {
		li {
			border-bottom: 1px solid #ebebeb;
			&:last-child {
				border-bottom: none;
			}
			a {
				font-size: rem-calc(16);
				color: $black;
				padding-left: 0;
				padding-right: 0;
				&:hover {
					color: $blue;
				}
			}
		}
	}
}