.pagination {
	.disabled {
		padding: 0;
	}
	li{
      margin-right: rem-calc(8);
	}
	a{
      padding: rem-calc(5 11);
		outline: none;
	}
	.ellipsis {
		&.disabled {
			padding: 0;
		}
		a {
			display: none;
		}
	}
	.pagination-previous, .pagination-next {
		&.disabled {
			padding: 0;
			&:before, &:after{
				padding: rem-calc(5 13);
				border: 1px solid $light-gray;
				border-radius: $global-radius;
			}
			a {
				display: none;
			}
		}
		a {
			border: 1px solid $primary-color;
          padding: rem-calc(5 13);
			&:after, &:before {
				color: $primary-color;
			}

			&:hover {
				padding: rem-calc(5 13);
				&:after, &:before {
					color: $white;
				}
			}
		}
	}
	.pagination-previous a:before, .pagination-previous.disabled:before {
		display: inline-block;
		margin-right: 0;
		content: '\27E8';
	}
	.pagination-next a:after, .pagination-next.disabled:after {
		display: inline-block;
		margin-left: 0;
		content: '\27E9';
	}
	//.pagination-next a:after, .pagination-previous a:before {
	//	color: $primary-color;
	//}
	//.pagination-next a:hover:after, .pagination-previous a:hover:before {
	//	color: $white;
	//}
	.pagination-next.disabled:after, .pagination-previous.disabled:before {
		color: $light-gray;
	}
	.current{
      padding: rem-calc(5 11);
      a {
			color: $white;
			padding: 0;
		  &:hover {
			  padding: 0;
		  }
		}
	}
	a:hover {
		color: $white;
      padding: rem-calc(5 11);
	}
}