.modal-signin {
	.errors {
		font-size: rem-calc(12);
	}
	.modal-footer {
		padding: 0 !important;
	}
	.modal-body {
		padding: 0 !important;
	}
	&__tabs {
		border-bottom: 1px solid #dfe1e3;
		&__tab {
			font-size: rem-calc(22) !important;
			color: #b0bec5 !important;
			border-bottom: 1px dashed #b0bec5;
			&.active, &:hover {
				color: $black !important;
				border-bottom-color: transparent !important;
				i {
					color: $blue !important;
				}
			}
		}
	}
	&__form {
		&__label {
			font-size: rem-calc(16);
		}
		&__input {
			border: 1px solid #8fa3ad;
			border-radius: 3px;
			margin-bottom: 0;
		}
		&__body {
			border-top: 1px solid #dfe1e3;
		}
	}
	&__footer {
		font-size: rem-calc(12);
		border-top: 1px solid #dfe1e3;
		a {
			display: inline;
		    margin: 0;
		    padding: 0;
		    color: $blue;
			font-size: rem-calc(12);
		    &:hover {
		    	color: $black;
		    }
		}
		button {
			margin: 0 auto;
		}
	}
}