<template>
	<div>
		<show-modal v-if="drug" :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
		<div class="grid-x grid-margin-x">
			<div class="cell small-6 medium-6 large-4" v-for="drug in drugs" :key="drug.id">
				<drugs-item-block :drug="drug" v-on:openModal="openModal"></drugs-item-block>
			</div>
			<div class="cell small-12">
				<paginate
						v-show="pages > 1"
						:page-count="pages"
						:click-handler="clickPage"
						:prev-text="''"
						:next-text="''"
						:prev-class="'pagination-previous'"
						:next-class="'pagination-next'"
						:container-class="'pagination text-center'"
						:active-class="'current'"
						:break-view-class="'ellipsis'"
						:break-view-text="''"
						style="display:none"
						ref="paginate">
				</paginate>
			</div>
		</div>
    </div>
</template>
<script>
	export default {
		data() {
			return {
                drug: false,
                showModal: false,
				drugs: [],
				pages: 0,
				page: 1
			}
		},
		mounted() {
			this.search();
		},
		methods: {
			search: function() {
				axios.post('/favorites/search', {
					take: this.take,
					skip: this.skip,
					page: this.page,
				}).then((response) => {
					this.drugs = [];
                	response.data.drugs.forEach((drug) => {
						this.drugs.push(drug);
					});
					this.pages = response.data.pages;
                }).catch(error => {
                    console.log(error.response.data);
                });
			},
			clickPage(page) {
				this.page = page;
				this.search();
			},
            openModal: function (drug) {
                this.drug = drug;
                this.showModal = true;
            }
		}
	}
</script>