<template>
	<div class="box box-default">
		<div class="box-header with-border">
			<div class="box-title">Статистика заказов</div>
		</div>
		<div class="box-body">
			<select v-model="period">
				<option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
			</select>
		</div>
		<chartjs-line :labels="labels" :datasets="datasets" :bind="true" :linetension="0"></chartjs-line>
	</div>
</template>
<script>
    export default {
        data(){
        	return{
				period:'today',
				options:[
					{text:'Сегодня',value:'today'},
					{text:'Вчера',value:'yesterday'},
					{text:'Позавчера',value:'daybeforeyesterday'},
					{text:'На этой неделе',value:'thisweek'},
					{text:'На прошлой неделе',value:'lastweek'},
					{text:'На позапрошлой неделе',value:'weekbeforelast'},
					{text:'В этом месяце',value:'thismonth'},
					{text:'В прошлом месяце',value:'lastmonth'},
					{text:'В позапрошлом месяце',value:'monthbeforelast'}
				],
				flag:false,
				labels:[],
				datasets:[{
					borderColor: "blue",
					backgroundColor: "blue",
	                label: "Создан",
	                fill: false,
	                data: [],
	                lineTension: 0,
            	},
            	{	
            		borderColor: "green",
            		backgroundColor: "green",
	                label: "Оплачен",
	                fill: false,
	                data: [],
	                lineTension: 0,
            	},
            	{	
            		borderColor: "red",
            		backgroundColor: "red",
	                label: "Отменен",
	                fill: false,
	                data: [],
	                lineTension: 0,
            	}
            	]
			}
		},
		watch:{
			period:function(after,before){
				this.group()
			}
		},
		mounted:function(){
			this.group()
		},
		methods:{
			getstatistic(begin,end){
				axios.post('statistic',{
					begin:begin,
					end:end,
				}).then((response) => {
					this.requestparse(response.data.orders)
				})
			},
			group(){
				//Данный метод формирует массивы нужных мне значений для графика(Шкалу)
				//Для каждого периода формируется отдельный массив
				//После формирования массива вычисляется начало и конец периода, и вызывается метод getstatistic
				this.labels = []
				this.datasets[0].data = []
				this.datasets[1].data = []
				this.datasets[2].data = []
				switch(this.period){
					case 'today':
						let hour = moment().get('hour');
						for(let i = 0; i <= hour; i++){
							if(i != hour){
								this.labels.push(i+':00')
							}else{
								let minutes = moment().get('minutes')
								if(minutes > 9){
									this.labels.push(i+':'+minutes)
								}else{
									this.labels.push(i+':'+'0'+minutes)
								}
							}
						}

						var begin = moment().format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().format("YYYY-MM-DD HH:mm:ss")
						this.getstatistic(begin,end)
						break
					case 'yesterday':
						for(let i = 0; i <= 24; i++){
							this.labels.push(i+':00')
						}
						var begin = moment().subtract(1, 'day').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().subtract(1, 'day').format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'daybeforeyesterday':
						for(let i = 0; i <= 24; i++){
							this.labels.push(i+':00')
						}
						var begin = moment().subtract(2, 'day').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().subtract(2, 'day').format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'thisweek':
						for(let i = 0; i <= 6; i++){
							this.labels.push(moment().add(-i,'day').date())
						}
						this.labels.reverse()
						var begin = moment().subtract(6, 'day').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'lastweek':
						for(let i = 7; i < 14; i++){
							this.labels.push(moment().add(-i,'day').date())
						}
						this.labels.reverse()
						var begin = moment().subtract(13, 'day').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().subtract(7, 'day').format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'weekbeforelast':
						for(let i = 14; i < 21; i++){
							this.labels.push(moment().add(-i,'day').date())
						}
						this.labels.reverse()
						var begin = moment().subtract(20, 'day').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().subtract(14, 'day').format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'thismonth':
						for(let i = 1; i <= moment().date(); i++){
							this.labels.push(i)
						}
						var begin = moment().startOf('month').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'lastmonth':
						let endm = moment().add(-1,'month').endOf('month').date()
						for(let i = 1; i <= endm; i++ ){
							this.labels.push(i)
						}
						var begin = moment().subtract(1, 'month').startOf('month').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().subtract(1, 'month').endOf('month').format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
					case 'monthbeforelast':
						let endofmonth = moment().add(-2,'month').endOf('month').date()
						for(let i = 1; i <= endofmonth; i++ ){
							this.labels.push(i)
						}
						var begin = moment().subtract(2, 'month').startOf('month').format("YYYY-MM-DD")+' 00:00:00'
						var end = moment().subtract(2, 'month').endOf('month').format("YYYY-MM-DD")+' 23:59:59'
						this.getstatistic(begin,end)
						break
				}
			},
			requestparse(data){
				switch(this.period){
					case 'today':
					case 'yesterday':
					case 'daybeforeyesterday':
						for(let key in this.labels){

							let hour = this.labels[key].substr(0,this.labels[key].length-3)

							let paid = 0

							let canceled = 0

							let created = data.filter(function(value) {

								let reqhour = moment(value.created_at).get('hour')

								if(value.status == 5 && reqhour == hour){
									paid++
								}

								if(value.status == 4 && reqhour == hour){
									canceled++
								}

								return reqhour == hour 
							}).length
				
							this.datasets[0].data.push(created)
							this.datasets[1].data.push(paid)
							this.datasets[2].data.push(canceled)
						}
						break
					case 'thisweek':
					case 'lastweek':
					case 'weekbeforelast':
					case 'thismonth':
					case 'lastmonth':
					case 'monthbeforelast':
						for(let key in this.labels){

							let day = this.labels[key]

							let paid = 0

							let canceled = 0

							let created = data.filter(function(value) {

								let reqday = moment(value.created_at).date()

								if(value.status == 5 && reqday == day){
									paid++
								}

								if(value.status == 4 && reqday == day){
									canceled++
								}

								return reqday == day 
							}).length

							this.datasets[0].data.push(created)
							this.datasets[1].data.push(paid)
							this.datasets[2].data.push(canceled)
						}
						break
				}

				
			}
		}
	}
</script>