<template>
    <div>
        <vmodal v-if="showModal" class="modal-strictly-prescription-drug" @close="showModal = false">
            <template slot="header">Внимание!</template>
            <div slot="body" class="grid-x grid-margin-x">
                <div class="cell small-3 large-2 margin-bottom-1">
                    <img src="/images/pharmacy.svg" class="float-center" />
                </div>
                <div class="cell small-9 large-10 margin-bottom-1">
                    <h4>Строгорецептурный препарат</h4>
                    <p>Вы выбрали товар, который продается только при наличии
                    рецепта по форме №107-1/У (или №148-1/У-88).
                    Рецепт необходимо предъявить при получении товара в аптеке</p>
                </div>
            </div>
            <div slot="footer" class="grid-x grid-margin-x">
                <div class="cell small-3 large-2 margin-bottom-1"></div>
                <div class="cell small-9 large-10 margin-bottom-1">
                    <button type="button" class="button" @click="setPrescription(true)">У меня есть рецепт</button>
                    <button type="button" class="button hollow" @click="setPrescription(false)">Нет рецепта</button>
                </div>
            </div>
        </vmodal>
        <drugstores-select :classes="['drug__drugstores', 'margin-bottom-1' ]"
                           :drugstores="drug.drugstores"
                           v-model="drugstore"
                           @change="count = 1"></drugstores-select>
        <div class="drug__drugstores__description margin-bottom-1">
            Выберите аптеку, на которой Вы хотели бы забрать товар
        </div>
        <div class="drug__price margin-bottom-1 text-right">
            <template v-if="hasDiscount">
                <p class="red discount-price">{{ drug.price }} руб.</p>
                <p>{{ priceWithDiscount }} руб.</p>
            </template>
            <p v-else>{{ drug.price }} руб.</p>
        </div>
        <div class="grid-x grid-margin-x margin-bottom-1 basketAdd">
            <div class="cell small-6 basketAdd__count">
                <a class="display-inline-block basketAdd__count__decriment" @click="decrement">-</a>
                <input v-model="count" class="display-inline-block basketAdd__count__input" type="number" min="1" v-bind:max="max"/>
                <a class="display-inline-block basketAdd__count__increment" v-tooltip.top-center="tooltip" @click="increment">+</a>
            </div>
            <div class="cell small-6 basketAdd__in_bascket">
                <button class="button text-uppercase expanded" @click="submit" v-bind:class="{disabled: max === 0 || disabled}">
                    В корзину
                </button>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import PNotify from 'pnotify/dist/es/PNotify.js';
    import PNotifyHistory from 'pnotify/dist/es/PNotifyHistory.js';

    export default {
        components: {
            PNotify
        },
        props: {
            drug: {
                type: Object
            },
            currentDrugstore: {
                type: Number
            }
        },
        data() {
            return {
                showModal: false,
                drugstore: null,
                count: 1,
                prescription: null,
                disabled: false,
                tooltip: {
                    content: 'Максимальное кол-во в аптеке',
                    classes:'cart__max__tooltip',
                    trigger: 'manual',
                    show: false
                }
            }
        },
        watch: {
            count: function () {
                if (this.count < 0) {
                    this.count = 0;
                } else if (this.count > this.max) {
                    this.count = this.max;
                }
            }
        },
        computed: {
            max: function () {
                if (this.drugstore && this.drugstore.pivot && this.drugstore.pivot.in_stock) {
                    return this.drugstore.pivot.in_stock;
                }
                return 0;
            },
            priceWithDiscount: function () {
                let discount = +this.drug.discount;
                let price = +this.drug.price;
                if (discount === null) {
                    return price;
                }
                if (this.drug.discount_is_percent) {
                    discount = price * discount * 0.01;
                }
                return (price - discount).toFixed(2);
            },
            hasDiscount: function () {
                return +this.priceWithDiscount !== +this.drug.price;
            }
        },
        mounted() {
            this.drugstore = this.drug.drugstores.find(drugstore => drugstore.id === this.currentDrugstore);
            if (!this.drugstore) {
                this.drugstore = this.drug.drugstores[0];
            }
            this.pushDrugToLocalStorageViewed(this.drug);
            PNotify.defaults.modules = {History: {maxInStack: 3}};
        },
        methods: {
            decrement: function () {
                this.count = this.count > 1 ? this.count - 1 : this.count;
            },
            increment: function () {
                this.count = this.count < this.max ? +this.count + 1 : +this.count;
                this.tooltip.show = this.count == this.max;
                if (this.tooltip.show)
                    setTimeout(() => this.tooltip.show = false, 1500);
            },
            pushDrugToLocalStorageViewed: function (drug) {
                let viewedItems = [];
                let storedItems = localStorage.getItem('viewed');
                if(storedItems) {
                    viewedItems = JSON.parse(storedItems);
                }
                if (viewedItems.findIndex((item) => item.id === drug.id) !== -1) {
                    return;
                }
                if (viewedItems.length === 8) {
                    viewedItems.shift();
                }
                viewedItems.push(drug);
                localStorage.setItem('viewed', JSON.stringify(viewedItems));
            },
            submit: async function () {
                if (this.drug.type === 3 && !this.prescription) {
                    this.showModal = true;
                } else {
                    this.disabled = true;
                    await this.deleteDrug();
                    await axios.post('/cart/add', {
                        cart: [
                            {
                                drug_id: this.drug.id,
                                count: this.count,
                                drugstore_id: this.drugstore.id
                            }
                        ]
                    }).then((response) => {
                        PNotify.notice({text: 'Товар успешно добавлен в корзину!'});
                        this.disabled = false;
                    });
                    await window.cartHeader.load();
                }
            },
            deleteDrug: function () {
                return axios.delete('/cart/' + this.drug.id);
            },
            setPrescription: function (val) {
                this.prescription = val;
                this.showModal = false;
                if (val) { this.submit(); }
            }
        }
    }
</script>