<template>
    <a @click="addToCart" class="button expanded text-uppercase drug__in_bascket">
        В корзину
    </a>
</template>
<script>
    export default {
        props: {
            drugId: {
                type: Number
            },
            drugstoreId: {
                type: Number
            },
            count: {
                type: Number
            }
        },
        data() {
            return {}
        },
        methods: {
            addToCart: function () {
                axios.post('/cart/add', {
                    cart: [
                        {
                            drug_id: this.drugId,
                            count: this.count,
                            drugstore_id: this.drugstoreId
                        }
                    ]
                }).then((response) => {
                    console.log(response.data);
                });
            }
        }
    }
</script>