<template>
	<div class="autocomplete" v-outside="outside">
        <input
				v-model="selected"
				v-focus="open"
				v-bind:placeholder="placeholder"
				v-on:keyup="search"
				@focus="open=true; search"
				class="autocomplete-input"
				type="text"
				name="q"
				autocomplete="off"
		/>
        <div class="autocomplete-suggestions shadow" v-if="open && suggestions.length > 0" v-bind:class="{'autocomplete-suggestions-open': open}">
            <div v-for="suggestion in suggestions" class="autocomplete-suggestion">
				<suggestion-item :suggestion="suggestion" :choosed-drugstore-id="choosedDrugstoreId"
								 :key="suggestion.id"></suggestion-item>
            </div>
            <div class="padding-1">
				<a class="button text-uppercase" type="submit" :href='searchLink'>Все результаты</a>
            </div>
        </div>
    </div>
</template>
<script>
	import { focus } from 'vue-focus';
	export default {
		props: {
			placeholder: {
				type: String,
				default: 'Введите текст'
		    },
			value: {
				type: String,
				default: ''
		    },
			url: {
				type: String,
				required: true
		    },
			count: {
				type: Number,
				default: 4
            },
            choosedDrugstore: {
                type: [Object, Boolean],
                default: false
            },
		},
		created() {
	        this.selected = this.value;
            if (this.choosedDrugstore !== false) {
                this.choosedDrugstoreId = this.choosedDrugstore.id;
            }
	    },
		data() {
			return {
				suggestions: [],
				selected: '',
                open: false,
                choosedDrugstoreId: null,
			}
		},
        computed: {
            searchLink() {
                return '/drugs/search?q=' + this.selected;
            },
        },
		methods: {
			outside: function(e) {
				if (this.open) {
					this.open = false;
				}
			},
			setSelected: function(suggestion) {
				this.selected = suggestion.title;
				this.open = false;
				this.$emit('selected', suggestion);
			},
			search: _.debounce( function() {
				this.suggestions = [];
				axios.post(this.url, {
					q: this.selected,
					count: this.count
				}).then((response) => {
                	this.suggestions = response.data.suggestions;
                    this.choosedDrugstoreId = response.data.choosed_drugstore_id;
                }).catch(error => {
                    console.log(error.response.data);
                });
            }, 400)
		},
		directives: {
			outside: {
	      		bind: function(el, binding, vNode) {
		        	if (typeof binding.value !== 'function') {
		        		const compName = vNode.context.name
		          		let warn = "[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be";
						if (compName) {
							warn += "Found in component '${compName}'";
						}
		          		console.warn(warn);
		        	}
					const bubble = binding.modifiers.bubble;
					const handler = (e) => {
						if (bubble || (!el.contains(e.target) && el !== e.target)) {
							binding.value(e);
						}
					}
					el.__vueClickOutside__ = handler;
		        	document.addEventListener('click', handler);
				},
	      		unbind: function(el, binding) {
			        document.removeEventListener('click', el.__vueClickOutside__);
			        el.__vueClickOutside__ = null;
	      		}
    		},
    		focus: focus
	  	}
	}
</script>