<template>
	<div class="callout text-center margin-bottom-1">
		<ul class="menu vertical">
			<li>
				<div class="display-inline-block flex-container align-middle margin-right-2">
					Получать акции
				</div>
				<div class="display-inline-block flex-container align-middle">
					<div class="switch">
						<input class="switch-input" id="notification" type="checkbox" name="notification" v-model="is_notify" @click="toggle">
						<label class="switch-paddle" for="notification"></label>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>
<script>
    export default {
        props: {
            selected: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                is_notify: false
            }
        },
        mounted: function() {
            this.is_notify = this.selected;
        },
        methods: {
            toggle: function () {
                axios.post('/profile/change-notification', {
                	is_notify: !this.is_notify
                });
            }
        }
    }
</script>