<template>
	<div v-outside="outside" style="position:relative">
		<vmodal v-show="showModal" @close="showModal = false" style="display:none" class="modal-choose-city">
			<template slot="header">Выберите город</template>
            <div slot="body" class="grid-x grid-margin-x locations-list">
				<!-- mobile -->
				<div class="cell small-12 city-choice show-for-small-only">
                	<ul class="menu vertical">
                		<li v-for="region in regions" class="locations-list__region">
                			<a v-bind:title="region.title" @click="selectedRegion = region" class="location collapse" v-bind:class="{active: region.id == selectedRegion.id}">
                				{{ region.title }}
							</a>
							<transition name="slide-fade">
								<ul class="menu vertical" v-bind:class="{active: region.id == selectedRegion.id}">
                					<li v-for="city in region.cities">
                						<a class="location"
										   :title="city.title"
										   @click="selectedCity = city; showModal = false; selectCity();"
										   :class="{active: city.id == selectedCity.id}">
                							{{ city.title }}
                						</a>
                					</li>
                				</ul>
							</transition>
                		</li>
                	</ul>
                </div>
				<!-- !mobile -->
                <div class="cell small-6 hide-for-small-only" style="border-right:1px solid #dfe1e3">
                	<h4>Регион</h4>
                	<ul class="menu vertical">
                		<li v-for="region in regions">
                			<a  class="location"
								:title="region.title" @click="selectedRegion = region" :class="{active: region.id == selectedRegion.id}">
                				{{ region.title }}
                			</a>
                		</li>
                	</ul>
                </div>
                <div class="cell small-6 hide-for-small-only">
                	<h4>Город</h4>
                	<ul class="menu vertical">
                		<li v-for="city in selectedRegion.cities">
                			<a  class="location"
								:title="city.title"
								@click="selectedCity = city; showModal = false; selectCity();"
								:class="{active: city.id == selectedCity.id}">
                				{{ city.title }}
                			</a>
                		</li>
                	</ul>
                </div>
            </div>
            <div slot="footer"></div>
        </vmodal>
		<a title="Выбрать город" class="choose-city" @click="showModal = !showModal">
			<i class="icon-earth blue" style="font-size:1.5rem"></i> {{ selectedCity.title }}
		</a>
		<div class="confirm-city padding-1" v-show="!userCity && openConfrim">
			<p>
				Ваш город: {{ city.title }}?
			</p>
			<div class="clearfix">
				<div class="float-left">
					<a class="button confirm-city__yes" @click="selectedCity = city; selectCity(false); openConfrim = false">
						Да
					</a>
				</div>
				<div class="float-right">
					<a @click="showModal = true; openConfrim = false" class="confirm-city__other">
						Выбрать другой
					</a>
				</div>
			</div>
		</div>
    </div>
</template>
<script>
	export default {
		props: {
			userCity: {
				default: false
			},
			city: {
				type: Object
		    },
			regions: {
				type: Array
		    }
		},
		created() {
	        this.selectedCity = this.city;
	        this.selectedRegion = this.regions[0];
	    },
		data() {
			return {
				selectedCity: null,
				selectedRegion: null,
				showModal: false,
				openConfrim: true
			}
		},
		methods: {
			outside: function(e) {
				if (this.open) {
					this.open = false;
				}
			},
			selectCity: function(redirect = true) {
				axios.post('/choose-city', {
					selectedCityId: this.selectedCity.id
				}).then((response) => {
				    if (redirect) {
                        window.location = response.data.url + window.location.pathname;
					}
                });
			}
		},
		directives: {
			outside: {
	      		bind: function(el, binding, vNode) {
		        	if (typeof binding.value !== 'function') {
		        		const compName = vNode.context.name
		          		let warn = "[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be";
						if (compName) {
							warn += "Found in component '${compName}'";
						}
		          		console.warn(warn);
		        	}
					const bubble = binding.modifiers.bubble;
					const handler = (e) => {
						if (bubble || (!el.contains(e.target) && el !== e.target)) {
							binding.value(e);
						}
					}
					el.__vueClickOutside__ = handler;
		        	document.addEventListener('click', handler);
				},
	      		unbind: function(el, binding) {
			        document.removeEventListener('click', el.__vueClickOutside__);
			        el.__vueClickOutside__ = null;
	      		}
    		}
	  	}
	}
</script>