<template>
	<div v-outside="outside">
		<vmodal v-show="showModal" @close="showModal = false" style="display:none" class="modal-choose-city">
			<template slot="header">Выберите аптеку</template>
			<div slot="body" class="grid-x grid-margin-x drugstores-list">
				<div class="cell medium-6 small-12">
					<div class="drugstore" title="Все аптеки" @click="selectDrugstore({address: 'Выберите аптеку', id: null})">
						Все аптеки
					</div>
					<div v-for="drugstore in drugstores.slice(0, drugstores.length / 2)"
					   class="drugstore" :title="drugstore.address"
					   @click="selectDrugstore(drugstore)"
					   :class="{active: drugstore.id == selectedDrugstore.id}">
						{{ drugstore.address }}
						<div class="drugstore__worktime"><small>{{ drugstore.worktime }}</small></div>
						<div v-if="drugstore.freeday" >
							<small :class="{freeday: drugstore.freeday}">
								{{ drugstore.freeday.freeday_status.title }} с {{ drugstore.freeday.start_datetime }} по {{ drugstore.freeday.end_datetime }}
							</small>
						</div>
					</div>
				</div>
				<div class="cell medium-6 small-12">
					<div  v-for="drugstore in drugstores.slice(drugstores.length / 2)"
						class="drugstore" v-bind:title="drugstore.address"
						@click="selectDrugstore(drugstore)"
						:class="{active: drugstore.id == selectedDrugstore.id}">
						{{ drugstore.address }}
						<div class="drugstore__worktime"><small>{{ drugstore.worktime }}</small></div>
						<div>
							<small v-if="drugstore.freeday" :class="{freeday: drugstore.freeday}">
								{{ drugstore.freeday.freeday_status.title }} с {{ drugstore.freeday.start_datetime }} по {{ drugstore.freeday.end_datetime }}
							</small>
						</div>
					</div>
				</div>
			</div>
			<div slot="footer"></div>
		</vmodal>
		<a title="Выбрать аптеку" class="choose-drugstore" @click="showModal = !showModal">
			<i class="icon-baloon-home blue" style="font-size:1.5rem"></i> {{ selectedDrugstore.address }}
		</a>
	</div>
</template>
<script>
    export default {
        props: {
            selected: {
                default: false
            }
        },
        data() {
            return {
                selectedDrugstore: {
                    address: 'Выберите аптеку'
                },
                showModal: false,
                drugstores: []
            }
        },
        mounted: function() {
            this.loadDrugstores();
            if (this.selected) {
                this.selectedDrugstore = this.selected;
            }
        },
        methods: {
            outside: function(e) {
                if (this.open) {
                    this.open = false;
                }
            },
            loadDrugstores: function() {
                axios.get('/drugstores').then((response) => {
                    response.data.drugstores.forEach((drugstore) => {
                        this.drugstores.push(drugstore);
                    });
                    // console.log();
                    // console.log();
                })
            },
            selectDrugstore: function (drugstore) {
                this.selectedDrugstore = drugstore;
                this.showModal = false;
                axios.post('/choose-drugstore', {drugstore_id: this.selectedDrugstore.id});
            }
        },
        directives: {
            outside: {
                bind: function(el, binding, vNode) {
                    if (typeof binding.value !== 'function') {
                        const compName = vNode.context.name
                        let warn = "[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be";
                        if (compName) {
                            warn += "Found in component '${compName}'";
                        }
                        console.warn(warn);
                    }
                    const bubble = binding.modifiers.bubble;
                    const handler = (e) => {
                        if (bubble || (!el.contains(e.target) && el !== e.target)) {
                            binding.value(e);
                        }
                    }
                    el.__vueClickOutside__ = handler;
                    document.addEventListener('click', handler);
                },
                unbind: function(el, binding) {
                    document.removeEventListener('click', el.__vueClickOutside__);
                    el.__vueClickOutside__ = null;
                }
            }
        }
    }
</script>