<template>
    <select class="drugstores-select" v-model="currentDrugstore" @change="change"
            :class="[{ red: currentDrugstore && currentDrugstore.freeday }, classes]">
        <option v-if="currentDrugstore.id === false" :value="currentDrugstore">{{ currentDrugstore.title }}</option>
        <option v-for="store in drugstores" :key="store.id" v-bind:value="store" :class="{ red: store.freeday }">
            {{ store.title }}, {{ store.address }}
            <template v-if="store.freeday">
                {{ store.freeday.freeday_status.title }} c {{ store.freeday.start_datetime }} по {{
                store.freeday.end_datetime }}
            </template>
        </option>
    </select>
</template>
<script>
    export default {
        model: {
            prop: 'value',
            event: 'change'
        },
        props: {
            value: {        //https://ru.vuejs.org/v2/guide/components-custom-events.html
                type: Object
            },
            classes: {
                type: Array,
                default: () => []
            },
            drugstores: {
                type: Array
            }
        },
        data() {
            return {
                currentDrugstore: {},
            }
        },
        watch: {
            value: function (newValue) {
                this.currentDrugstore = newValue
            }
        },
        computed: {},
        created: function () {
            this.currentDrugstore = this.value;
        },
        methods: {
            change: function () {
                this.$emit('change', this.currentDrugstore);
            }
        }
    }
</script>