<template>
<div class="grid-x grid-padding-x padding-2">
    <template v-if="showForm">
        <p>
            Не смогли найти нужный товар? Оформите предварительную заявку и ожидайте звонка оператора
        </p>
        <div class="medium-4 cell hide-for-small-only">
            <label for="drug" class="text-right middle">Название препарата</label>
        </div>
        <div class="medium-8 small-12 cell">
            <input v-model="drug"
                   required minlength="2"
                   id="drug" type="text" placeholder="Название препарата">
            <div v-if="errors.drug" class="red errors">{{ errors.drug.join(', ') }}</div>
        </div>

        <div class="medium-4 cell hide-for-small-only">
            <label for="dosage_form_id" class="text-right middle">Форма выпуска</label>
        </div>
        <div class="medium-8 small-12 cell">
            <select v-model='dosage_form_id'
                    id="dosage_form_id" type="text" placeholder="Форма выпуска" required>
                <option v-for="form in dosageForms" :value="form.id"> {{ form.title }} </option>
            </select>
            <div v-if="errors.dosage_form_id" class="red errors">{{ errors.dosage_form_id.join(', ') }}</div>
        </div>

        <div class="medium-4 cell hide-for-small-only">
            <label for="count" class="text-right middle">Количество</label>
        </div>
        <div class="medium-8 small-12 cell">
            <input v-model='count'
                   required min="1"
                   id="count" type="number" placeholder="Количество">
            <div v-if="errors.count" class="red errors">{{ errors.count.join(', ') }}</div>
        </div>

        <div class="medium-4 cell hide-for-small-only">
            <label for="text" class="text-right middle">Сообщение</label>
        </div>
        <div class="medium-8 small-12 cell">
        <textarea v-model='text'
                  id="text" placeholder="None"></textarea>
            <div v-if="errors.text" class="red errors">{{ errors.text.join(', ') }}</div>
        </div>

        <div class="medium-4 cell hide-for-small-only">
            <label for="name" class="text-right middle">Имя</label>
        </div>
        <div class="medium-8 small-12 cell">
            <input v-model='name'
                   required minlength="2"
                   id="name" type="text" placeholder="Петр Медведев">
            <div v-if="errors.name" class="red errors">{{ errors.name.join(', ') }}</div>
        </div>

        <div class="medium-4 cell hide-for-small-only">
            <label for="phone" class="text-right middle">Контактный телефон</label>
        </div>
        <div class="medium-8 small-12 cell">
            <input v-model='phone'
                   required minlength="5"
                   id="phone" type="text" placeholder="+79997777777">
            <div v-if="errors.phone" class="red errors">{{ errors.phone.join(', ') }}</div>
        </div>

        <div class="small-12 cell">
            <button class="button expanded" @click="post">Оформить заявку</button>
        </div>
    </template>
    <template v-else>
        <div class="small-12 cell">
            <p>
                Запрос успешно отправлен, ожидайте звонка оператора.
            </p>
            <p>
                <a href="/catalog" title="каталог">Перейти в каталог</a>
            </p>
        </div>
    </template>
</div>
</template>
<script>
    export default {
        props: {
            dosageForms: {
                type: Array,
                default: false
            },
        },
        data() {
            return {
                drug: null,
                dosage_form_id: null,
                name: null,
                phone: null,
                text: null,
                count: null,
                errors: {},
                showForm: true,
            }
        },
        watch: {

        },
        computed: {

        },
        created: function () {
        },
        methods: {
            post: function() {
                axios.post('/drug-request', {
                    drug: this.drug,
                    dosage_form_id: this.dosage_form_id,
                    name: this.name,
                    phone: this.phone,
                    text: this.text,
                    count: this.count,
                }).then((response) => {
                    this.showForm = false;
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            },
        }
    }
</script>