<template>
	<a class="favorite" @click="selected ? unfavorite() : favorite();">
		<i class="icon" v-bind:class="{favorite__active: selected, 'icon-heart': selected, 'icon-heart-outline': !selected}"></i>
	</a>
</template>
<script>
	export default {
		props: {
			drugId: {
				type: Number
		    },
		    isFavorite: {
		    	default: false
		    }
		},
		data() {
			return {
				selected: false
			}
		},
		mounted: function() {
			this.selected = this.isFavorite;
		},
		methods: {
			favorite: function() {
				axios.post('/favorites/add', {
					drug_id: this.drugId
				}).then((response) => {
					this.selected = true;
                });
			},
			unfavorite: function() {
				axios.post('/favorites/delete', {
					drug_id: this.drugId
				}).then((response) => {
					this.selected = false;
                });
			}
		}
	}
</script>