<template>
	<transition name="modal">
		<div class="modal-mask" v-if="open_">
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-close">
						<slot name="close">
							<a @click="$emit('close')">
								<i class="icon icon-cancel-cross"></i>
							</a>
						</slot>
					</div>
					<div class="modal-header">
						<slot name="header"></slot>
					</div>
					<div class="modal-body">
						<slot name="body"></slot>
					</div>
					<div class="modal-footer">
						<slot name="footer">
							<button class="modal-default-button" @click="$emit('close')">
								OK
							</button>
						</slot>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>
<script>
	export default {
		props: {
			open: {
				type: Boolean,
				default: true
			}
		},
		data() {
            return {
                open_: this.open,
            }
        },
		mounted() {
		  this.$emit('open');
		},
		methods: {
			show: function() {
				this.open_ = true;
			},
			hide: function() {
				this.open_ = false;
			},
			toggle: function() {
				this.open_ = !this._open;
			}
		}
	}
</script>