<template>
    <slick ref="slick" :options="slickOptions">
        <a :href="slide.url" v-for="slide in slides">
            <img :src="slide.mobile_pic" class="slide-item width-100">
        </a>
    </slick>
</template>

<script>

    export default {
        props: [
            'slides'
        ],
        data() {
            return {
                slickOptions: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    dots: true,
                    autoplay: true,
                    autoplaySpeed: 5000
                }
            }
        }
    }
</script>
