<template>
    <div class="grid-container">
        <show-modal v-if="drug" :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
        <div class="grid-x grid-margin-x">
            <div class="cell medium-9 small-12">
                <slick id="slickpic" ref="slickpic" :options="slickOptionsPic">
                    <template v-for="(i, index) in slides" v-if="i.drug != null">
                        <a :href="i.url" class="slider-main-promo-image">
                            <img v-bind:src="'/image/870/400/' + i.image" :title="i.title" :alt="i.title">
                        </a>
                    </template>
                </slick>
            </div>
            <div class="cell medium-3 small-12">
                <slick class="height-100" id="slickdrug" ref="slickdrug" :options="slickOptionsDrug">
                    <drugs-item-block :key="index" v-for="(i, index) in slides" v-if="i.drug != null"
                                      class="fb-col-justify-space-beetween" :drug="i.drug" v-on:openModal="openModal"></drugs-item-block>
                </slick>
            </div>
        </div>
    </div>
</template>

<script>
    import {Slider, SliderItem} from 'vue-easy-slider';

    export default {
        props: [
            'slides'
        ],
        components: {
            Slider, SliderItem
        },
        data() {
            return {
                drug: false,
                showModal: false,
                slickOptionsPic: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    dots: true,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    asNavFor: '#slickdrug',
                    rows: 0
                },
                slickOptionsDrug: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: false,
                    dots: false,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    asNavFor: '#slickpic',
                    fade: true,
                    rows: 0
                }
            }
        },
        methods: {
            openModal: function(drug) {
                this.drug = drug;
                this.showModal = true;
            },
        }
    }
</script>
