.header__main-page {
	font-size: 2rem;
	color: $blue;
	font-weight: bold;
	margin-bottom: 1rem;
}
.white {
	color: $white !important;
}
.red {
	color: $red !important;
}
.blue {
	color: $blue !important;
}
.orange {
	color: $orange !important;
}
.button {
	background: $light-blue-btn-from;
	background-image: linear-gradient(to top, $light-blue-btn-from, $light-blue-btn-to);
	&.alert	{
		background-image: none;
	}
	&.hollow {
		background-image: none;
	}
	&.blue-gradient {
		background: #03b3c7;
		background: -moz-linear-gradient(left,  #03b3c7 0%, #09d1ef 100%);
		background: -webkit-linear-gradient(left,  #03b3c7 0%,#09d1ef 100%);
		background: linear-gradient(to right,  #03b3c7 0%, #09d1ef 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03b3c7', endColorstr='#09d1ef', GradientType=1);
		border: none;
	}
	&:hover {
		background: $light-blue-btn-from;
	}
}
.shadow-hover {
	&:hover {
		box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
	}
}
.callout {
	&.red {
		border-color: $red;
		color: $red;
		background-color: $white;
	}
	&.blue {
		border-color: $blue;
		color: $white;
		background-color: $blue;
	}
	&.lightblue {
		border-color: transparent;
		color: $blue;
		background-color: #e9f9f9;
	}
}
hr {
	width: 100%;
	max-width: 100% !important;
	border-bottom-color: #dfe1e3 !important;
	&.blue {
		border-bottom-width: 2px;
		border-bottom-color: $blue !important;
	}
	&.red {
		border-bottom-width: 2px;
		border-bottom-color: $red !important;
	}
	&.orange {
		border-bottom-width: 2px;
		border-bottom-color: $orange !important;
	}
}
.mdi {
	vertical-align: middle;
}
h2 {
	font-size: rem-calc(22);
	font-weight: 700;
}
.rouble:before {
	content: '\20BD';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    vertical-align: middle;
}
i.icon-heart-outline:before,
i.icon-user-outline:before,
i.icon-heart-outline:before,
i.favorite__active:before {
	display: none;
}
.header-menu i.icon-heart-outline {
	width: 18px;
	height: 22px;
	background: url('/images/favorite.svg') no-repeat center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.header-menu i.icon-heart-outline:hover {
	width: 18px;
	height: 22px;
	background: url('/images/favorite.svg') no-repeat center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
i.icon-user-outline {
	width: 18px;
	height: 22px;
	background: url('/images/user.svg') no-repeat center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
i.icon-heart-outline {
	width: 20px;
	height: 24px;
	background: url('/images/favadd.png') no-repeat center;
	background-size: contain;
	display: inline-block;
}
i.icon-heart-outline:hover {
	background: url('/images/favadd-hover.png') no-repeat center;
	background-size: contain;
}
i.favorite__active {
	width: 20px;
	height: 24px;
	background: url('/images/favadd-active.png') no-repeat center;
	background-size: contain;
	display: inline-block;
}
.feedback-widget .icon-user-outline.icon-label:before {
	content: '';
	width: 14px;
	height: 14px;
	background: url('/images/user.svg') no-repeat center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
}
.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.fb-col-justify-space-beetween {
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
}

html, body {
	overflow-x: hidden;
}
//.filled-circle-link {
//	width: 36px;
//	height: 36px;
//	display: inline-block;
//	border-radius: 50%;
//	font-size: 1.25rem;
//	text-align: center;
//	&__blue {
//		color: $white;
//		background-color: $blue;
//	}
//	i {
//		line-height: 36px;
//	}
//}
.circle-link {
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	font-size: 1.25rem;
	text-align: center;
	&__filled-blue {
		color: $white;
		background-color: $blue;
		&:hover {
			color: $white;
		}
	}
	&__outline-blue {
		color: $blue;
		border: 2px solid $blue;
		&:hover {
			color: $blue;
		}
	}
	i {
		line-height: 36px;
	}
}
.switch-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 1rem;
	.switch {
		margin: 0 10px 0 0;
	}
	label {
		font-size: 0.8rem;
	}
}