@charset "UTF-8";

@font-face {
  font-family: "tvoya-apteka";
  src:url("fonts/tvoya-apteka.eot");
  src:url("fonts/tvoya-apteka.eot?#iefix") format("embedded-opentype"),
    url("fonts/tvoya-apteka.woff") format("woff"),
    url("fonts/tvoya-apteka.ttf") format("truetype"),
    url("fonts/tvoya-apteka.svg#tvoya-apteka") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tvoya-apteka" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tvoya-apteka" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flip-x:before {
  transform: scale(-1, 1);
}
.icon-earth:before {
  content: "\61";
}
.icon-baloon-home:before {
  content: "\63";
}
.icon-hours-24:before {
  content: "\64";
}
.icon-arrow-right:before {
  content: "\65";
}
.icon-bag:before {
  content: "\66";
}
.icon-band-aid:before {
  content: "\67";
}
.icon-calendar:before {
  content: "\68";
}
.icon-cancel:before {
  content: "\69";
}
.icon-cancel-cross:before {
  content: "\6a";
}
.icon-cancel-form:before {
  content: "\6b";
}
.icon-check-box:before {
  content: "\6c";
}
.icon-checked:before {
  content: "\6d";
}
.icon-clock:before {
  content: "\6e";
}
.icon-close:before {
  content: "\6f";
}
.icon-cloud-storage-download:before {
  content: "\70";
}
.icon-cosmetics:before {
  content: "\71";
}
.icon-credit-card:before {
  content: "\72";
}
.icon-danger:before {
  content: "\73";
}
.icon-edit:before {
  content: "\74";
}
.icon-email:before {
  content: "\75";
}
.icon-envelope:before {
  content: "\76";
}
.icon-external-link:before {
  content: "\77";
}
.icon-heart-outline:before {
  content: "\78";
}
.icon-heart:before {
  content: "\79";
}
.icon-hospital:before {
  content: "\7a";
}
.icon-leaf:before {
  content: "\41";
}
.icon-pils:before {
  content: "\42";
}
.icon-menu:before {
  content: "\43";
}
.icon-menu-9:before {
  content: "\44";
}
.icon-mother:before {
  content: "\45";
}
.icon-pencil:before {
  content: "\46";
}
.icon-percent:before {
  content: "\47";
}
.icon-pharmacy-icon:before {
  content: "\48";
}
.icon-phone:before {
  content: "\49";
}
.icon-baloon:before {
  content: "\4a";
}
.icon-printer:before {
  content: "\4b";
}
.icon-question:before {
  content: "\4c";
}
.icon-arrow-right-bold:before {
  content: "\4d";
}
.icon-search:before {
  content: "\4e";
}
.icon-soap:before {
  content: "\4f";
}
.icon-sort-down:before {
  content: "\50";
}
.icon-speech-bubble:before {
  content: "\51";
}
.icon-star:before {
  content: "\52";
}
.icon-telephone-call-receiver:before {
  content: "\53";
}
.icon-thermometer:before {
  content: "\54";
}
.icon-user-outline:before {
  content: "\55";
}
.icon-user:before {
  content: "\56";
}
.icon-weighing-scale:before {
  content: "\57";
}
.icon-cart:before {
  content: "\62";
}
.icon-telegram-icon:before {
  content: "\58";
}
.icon-megaphone:before {
  content: "\59";
}
.icon-arrow-point-to-left:before {
  content: "\5a";
}
.icon-whatsapp-logo:before {
  content: "\30";
}
.icon-receiving-time:before {
  content: "\31";
}
