.profile-bonus-card {
	box-sizing: border-box;
	margin-bottom: 1rem;
	.button{
		&__card-activate {
			padding-top: rem-calc(11px);
			padding-bottom: rem-calc(11px);
			border-radius: 4px;
			background: $blue;
		}
	}
	.card-number-container {
		padding-right: rem-calc(45);
	}
	.bonus-card-image {
		margin-bottom: 20px;
	}
	.number {
		text-align: center;
		font-size: rem-calc(20);
		background: #CFCFCF;
		border-radius: 4px;
		padding: 5px;

	}
	.programm-rules-link {
		border-bottom: 1px dotted;
		font-size: rem-calc(14);
		&:hover {
			border-bottom: none;
		}
	}
}
