.order-filter {
    font-size: 0.9em;
    select {
        font-size: 0.9em!important;
    }
}
.order_wrap {
    font-size: 0.9em;
    .blue-back {
        background: #123ba3;
        color: #fff;
        padding: 5px 10px;
        margin-bottom: 0;
    }
    .order-content {
        padding: 20px 15px;
        border: 1px solid $callout-border-color;
        border-top: none;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
      }
      .fade-enter, .fade-leave-to {
        opacity: 0;
      }
    .ac-title {
        position: relative;
        display: inline-block;
        border-bottom: 1px dashed;
        margin-bottom: 10px;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: 110%;
            bottom: calc(50% - 5px);
            line-height: inherit;
            border-top: 1px solid #123ba3;
            border-right: 1px solid #123ba3;
            -webkit-transform: rotate(45deg);
            transform: rotate(135deg);
            transition: 0.3s;
        }
        &.visible:before {
            bottom: calc(50% - 8px);
            transform: rotate(-45deg);
        }
    }
    .ac-content {
        table {
            thead {
                font-weight: normal;
                background: #d5dde2;
                color: #666666;
            }
            td, th {
                word-break: break-all;
            }
            .order-item-title {
                width: 40%;
            }
        }
    }
}