
    .profile-accordeon {
        position: relative;
        overflow: hidden;
        border: 1px solid #42aaf5;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .menu a {
            border-bottom: 1px solid #ebebeb;
            padding-left: 0;
            padding-right: 0;
            margin: 0px 1rem;
            font-size: .9375rem;
            color: #212121;
            word-break: break-word;
        }
        @media screen and (max-width: 39.9375em) {
            .accpanel {
                max-height: 0px;
            }
        }
        .accordion {
            color: #ffffff;
            font-weight: 700;
            background: #42aaf5;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#42aaf5), to(#73b2f6));
            background-image: linear-gradient(to top, #42aaf5, #73b2f6);
            padding: 0.5rem;
            line-height: 1.5;
            position: relative;
            width: 100%;
            display: block;
            font-size: 1.1rem;
            padding-left: 1rem;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
            }
            @media screen and (max-width: 39.9375em) {
                &:after {
                    display: none;
                }
                &:before {
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid white;
                    border-left: 2px solid white;
                    width: 10px;
                    height: 10px;
                    top: 15px;
                    right: 15px;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
            &.active:before {
                -webkit-transform: rotate(-225deg);
                transform: rotate(-225deg); 
            } 
        }
    }
