.autocomplete {
	position: relative;
    width: 100%;
    &__submit {
    	color: $blue;
    	border-bottom: 1px dashed $blue;
    	height: 26px;
    	cursor: pointer;
    	&:hover{
    		border-bottom-color: transparent;
    	}
    }
	.autocomplete-input {
	    width: 100%;
	    cursor: text;
	    margin: 0;
	}
	.autocomplete-suggestions {
	    position: absolute;
	    left: 0;
	    min-width: 100%;
	    background: #fff;
	    z-index: 100;
	    padding: 0;
        max-height: 500px;
    	overflow-y: scroll;
	    .autocomplete-suggestion {
	    	font-size: rem-calc(14);
			font-weight: 400;
			cursor: pointer;
			border-bottom: 1px solid #e5e5e5;
			padding: 1rem;
	    	&:hover {
	    		background: #fafafa;
	    	}
	    }
	}
}