.catalog-view-modal {
	.basketAdd {
		&__count {
			&__decriment, &__increment, &__input {
				@media #{$small-only} {
					width: rem-calc(31);
					height: rem-calc(31);
					line-height: rem-calc(31);
					vertical-align: top;
				}
			}
		}
	}
}
.basketAdd {
	&__count {
		&__decriment, &__increment, &__input {
			width: rem-calc(45);
			height: rem-calc(45);
			border-radius: 3px;
			border: 1px solid $callout-border-color;
			text-align: center;
			line-height: rem-calc(45);
			margin: 0;
			font-size: rem-calc(20);
			color: $black;
			font-weight: 700;
			padding: 0;


			-webkit-transition: all 0.3s ease;;
			-moz-transition: all 0.3s ease;;
			-o-transition: all 0.3s ease;;
			transition: all 0.3s ease;

			&:not(input) {
				&:hover {
					background-color: $blue;
					color: $white;
				}
			}
		}
		&__input {
			@media #{$small-only} {
				top: 0px;
				vertical-align: bottom;
			}
			position: relative;
			top: -1px;
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}
		}
	}
}