.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .69);
  display: table;
  transition: opacity .3s ease;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .modal-container {
      width: 700px;
      max-width: 100%;
      margin: 0px auto;
      background: $white;
      transition: all .3s ease;
      position: relative;
      border-radius: 3px;
      @include breakpoint(small only) {
        position: fixed;
        top: 0;
        bottom: 0;
      }

      .modal-header {
        padding: 10px;
        background: $blue;
        font-size: rem-calc(24);
        font-weight: 700;
        color: $white;
        text-align: center;
        margin-bottom: 1rem;
      }

      .modal-footer {
        padding: 20px;
      }

      .modal-body {
        padding: 20px;
        position: relative;
        overflow: auto;
        max-height: 85vh;
      }

      .modal-close {
        position: absolute;
        right: 10px;
        top: 10px;

        a {
          color: $white;
          font-size: rem-calc(16);
        }
      }
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-choose-city {
  .drugstore {
    display: block;
    margin-bottom: 1rem;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    line-height: 1;
    min-height: 55px;
    &__worktime{
      margin-top: 5px;
    }
    small {
      font-weight: normal;
    }
    .freeday {
      color: $red !important;
    }
  }

  .location {
    font-size: rem-calc(18);
    color: #5a5a5a;
    padding-left: 0;

    &:hover {
      color: $blue;
    }
  }

  .drugstore, .location {
    &.active {
      font-weight: 700;
      color: $blue;
    }
  }

  .modal-body {
    h4 {
      color: $light-gray;
      font-size: rem-calc(24);
    }
  }
}

.modal-strictly-prescription-drug {
  .modal-container {

    width: 560px !important;
    .modal-header {
      margin-bottom: 20px!important;
    }
    .modal-body {

      padding-top: 0 !important;
      padding-bottom: 0 !important;

      img {
        width: 100%;
      }

      h4 {
        color: $red;
        font-size: rem-calc(24);
        font-weight: bold;
      }

      p {
        font-weight: 400;
      }
    }

    .modal-footer {

      padding-top: 0 !important;
      padding-bottom: 0 !important;

      button {
        margin-right: 0.5em;
        width: 165px;
      }
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .catalog-view.catalog-view-modal .drug__title {
    padding-top: 1rem;
  }
  .modal-choose-city {
    .modal-wrapper {
      .modal-container {
        .modal-body {
          padding: 0;
        }
      }
    }

    .drugstore {
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0 !important;
      min-height: auto;
    }

    .locations-list {
      &__region {
        padding: 10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        ul {
          &.slide-fade-enter-active {
            transition: all .3s ease;
          }

          &.slide-fade-leave-active {
            transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
          }

          &.slide-fade-enter, .slide-fade-leave-to {
            transform: translateX(10px);
            opacity: 0;
            visibility: hidden;
          }

          opacity: 0;
          visibility: hidden;
          display: none;

          &.active {
            opacity: 1;
            visibility: visible;
            display: block;
          }
        }
      }
    }

    .location {
      font-size: 1rem;
      position: relative;

      &.collapse:after {
        content: '';
        border: 2px solid #143ca5;
        display: block;
        border-left: 0;
        border-top: 0;
        width: 8px;
        height: 8px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition: 0.2s;
      }

      &.active {
        font-weight: normal;

        &:after {
          border-color: #143ca5;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
  .modal-mask {
    .modal-wrapper {
      .modal-container {
        .modal-close {
          top: 8px;

          a {
            color: white;
            font-size: 1.125rem;
          }
        }

        .modal-header {
          padding: 10px 10px 10px 20px;
          background: $blue;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          text-align: left;
          font-weight: 400;
          color: white;
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }
    }
  }
}