<template>
    <modal :height="'auto'" :name="'resume-modal'" @before-open="beforeOpen" :adaptive="true">
        <form :action="action" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_token" :value="csrfToken">
            <input type="hidden" name="vacancy_id" :value="vacancyId">
            <div class="grid-container">
                <div class="grid-x grid-padding-x padding-2">
                        <div class="small-4 cell">
                            <label for="name" class="text-right middle">Имя</label>
                        </div>
                        <div class="small-8 cell">
                            <input id="name" name="name" type="text" placeholder="Петр Медведев">
                        </div>
                        <div class="small-4 cell">
                            <label for="phone" class="text-right middle">Контактный телефон</label>
                        </div>
                        <div class="small-8 cell">
                            <input id="phone" name="phone" type="text" placeholder="+79997777777">
                        </div>
                        <div class="small-4 cell">
                            <label for="text" class="text-right middle">Сообщение</label>
                        </div>
                        <div class="small-8 cell">
                            <textarea id="text" placeholder="None" name="text"></textarea>
                        </div>

                    <div class="small-12 cell">
                        <label for="resume-file" class="button">Файл с резюме</label>
                        <input type="file" id="resume-file" name="file" class="show-for-sr">
                    </div>
                    <div class="small-12 cell">
                        <button class="button expanded">Отправить резюме</button>
                    </div>
                </div>
            </div>
        </form>
    </modal>
</template>

<script>
    export default {
        name: "resume-modal",
        props: [
            "action"
        ],
        data() {
            return {
                vacancyId: null,
            }
        },
        methods: {
            beforeOpen: function (event) {
                this.vacancyId = event.params.vacancy_id;
            }
        },
        computed: {
            csrfToken: function() {
                return document.head.querySelector('meta[name="csrf-token"]').content;
            }
        }
    }
</script>

<style scoped>

</style>