.slider {
    height: auto !important;
  	min-height: 400px;
  	background-color: #f6f8f9 !important;
	.slide-item {
	    background-size: cover;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    width: 100%;
	    height: auto;
	}
	.indicators {
		bottom: 9px !important;
		.slider-indicator-icon {
			background-color: #e9f9f9;
			width: 14px;
			height: 14px;
			&.slider-indicator-active {
				background-color: $blue;
			}
		}
	}
	.btn {
		.slider-icon {
		    border-left-color: #e9f9f9;
		    border-bottom-color: #e9f9f9;
		}
	}
}
section.VueCarousel {
	margin: 0px -0.85em;
}
.VueCarousel-slide .padding-1.flex-container {
	padding: 0!important;
	margin: 13px;
	display: block;
}
.slider-main-promo-container {
  background-color: #f6f8f9;
  .slider {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.slider-main-promo-container {
	.slider {
		min-height: 381px;
	}
	.slider-main-promo-image {
		display: block;
	}
	.drug__item__block {
		margin-bottom: 0;
	}
}

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	//img {
	//	display: block;
	//}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

/* Slider */

.slick-list {
	.slick-loading & {
		background: #e9f9f9;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 100%;
	width: 40px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	z-index: 1;
	&:hover, &:focus {
		outline: none;
		background: transparent;
		color: transparent;
		&:before {
			opacity: 1;
		}
	}
	&.slick-disabled:before {
		opacity: .25;
	}
	&:before {
		font-size: 20px;
		line-height: 1;
		color: $white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.slick-prev {
	left: 0;
	[dir="rtl"] & {
		left: auto;
		right: -25px;
	}
	&:before {
		content: '\27E8';
		[dir="rtl"] & {
			content: '\27E9';
		}
	}
	&:hover {
		background: linear-gradient(90deg, rgba(0, 0, 0, .1), transparent);
	}
}

.slick-next {
	right: 0;
	[dir="rtl"] & {
		left: -25px;
		right: auto;
	}
	&:before {
		content: '\27E9';
		[dir="rtl"] & {
			content: '\27E8';
		}
	}
	&:hover {
		background: linear-gradient(270deg, rgba(0, 0, 0, .1), transparent);
	}
}

/* Dots */

//.slick-dotted.slick-slider {
//	margin-bottom: 30px;
//}

.slick-dots {
	position: absolute;
	bottom: 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	@media screen and (max-width: 39.9375em) {
		margin: 0 -40px;
		width: calc(100% + 80px);
	}
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		margin: rem-calc(0 3);
		padding: 0;
		cursor: pointer;
		button {
			border: 0;
			background: #e9f9f9;
			display: block;
			height: 14px;
			width: 14px;
			border-radius: 50%;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			&:hover, &:focus {
				outline: none;
				&:before {
					opacity: 1;
				}
			}
		}
		&.slick-active button {
			background: $blue;
		}
	}
}

.slick-slider.height-100 {
	.slick-list, .slick-list, .slick-slide, .slick-track {
		height: 100% !important;
	}
}
@media screen and (max-width: 39.9375em) {
	.blocks {
		.slick-slider {
			padding-bottom: 10px;
			margin-bottom: 20px;
			margin-left: 40px;
			margin-right: 40px;
		}
	}
}