.show-for-large-only {
    display: none!important;
}
@media screen and (max-width: 74.9375em) {
    .show-for-large-only {
        display: block!important;
    }
    .hide-for-large-only {
        display: none !important;
    }
    .tablet-only-hide {
        display: none!important;
    }
}
@media screen and (max-width: 39.9375em) {
    .tablet-only-hide {
        display: block!important;
    }
    .modal-strictly-prescription-drug .modal-container {
        width: 100%!important;
    }
}