.item_discount {
    font-size: 0.9rem;
    font-family: "Roboto";
    text-decoration: line-through;
    color: #bfbfbf;
}
@media screen and (max-width: 39.9375em) {
    .cart-index {
        .medium-text-right.show-for-small-only {
            margin-bottom: 1rem!important;
        }
        .in_stock {
            font-size: 0.8rem;
            margin-bottom: 0;
            margin-top: 10px;
        }
        select.drugstores-select {
            font-size: 0.9rem;
            margin-bottom: 0;
        }
    }
    .mobile-text-center {
        text-align: center;
    }
    .item_discount {
        font-size: 0.8rem;
    }
    .cart-index__total-price-promocode {
        font-size: 0.8rem;
        font-weight: normal;
    }
    .cart-index__total-price {
        text-align: right;
    }
    .cart-table {
        margin-bottom: 0.5rem!important;
        tbody, thead, tfoot {
            border: none;
        }
    }
    .cart-table tbody {
        border-left: 0;
        border-right: 0;
        tr {
            display: block;
            position: relative;
            margin-bottom: 10px;
            border: 1px solid #dedede;
            background-color: #ffffff;
            box-shadow: 2px 2px 23px 0px rgba(0,0,0,0.2);
            &:after {
                content: '';
                display: block;
                overflow: hidden;
                height: 1px;
                width: 100%;
            }
            td {
                border: none;
                display: block;
                float: left;
                &.mimage {
                    width: 30%;
                }
                &.mtitle {
                    width: 70%;
                    padding-right: 25px;
                    padding-left: 0!important;
                    a {
                        font-size: 0.9rem;
                        line-height: 115%;
                        display: inline-block;
                    }
                }
                &.mcount {
                    width: 50%;
                    text-align: left;
                    padding-top: 10px!important;
                    border-top: 1px solid #f1f1f1;
                    input {
                        vertical-align: bottom;
                    }
                }
                &.mprice1 {
                    width: 50%;
                    text-align: right!important;
                    padding-top: 10px!important;
                    border-top: 1px solid #f1f1f1;
                }
                &.mprice2 {
                    width: 100%;
                    text-align: right;
                    padding-top: 0!important;
                }
                &.mremove {
                    position: absolute;
                    top: -10px;
                    right: -7px;
                }
            }
        }
    }
}    