@media screen and (max-width: 74.9375em) {
    .text-left-tablet {
        text-align: left!important;
    }
}
@media screen and (max-width: 39.9375em) {
    .text-left-tablet {
        text-align: none!important;
    }
    .listed {
        padding-top: 0 !important;
    }
    .mobile-drug-image {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    @media screen and (max-width: 500px) {
        .drugstore-title {
            height: auto;
        }
        .drugstore-worktime {
            height: auto;
        }
    }
	.catalog-category { 
        .drug {
		    .drug-image-container { 
		    	height: 105px;
		    	margin-bottom: 10px;
		    }
		    .drug__title {
                font-size: 0.875rem;
                margin-bottom: 6px !important;
                line-height: 1.1rem;
                height: 50px !important;
                overflow: hidden;
            }
            .drug__manufacturer {
                font-size: 0.775rem;
            }
            .drug__in_stock {
                font-size: 0.6rem;
            }
            .drug__price {
                font-size: 0.9rem;
            }
            .button {
                font-size: 0.7rem;
                margin-bottom: 0;
            }
        }
        .super-prescription {
            font-size: 0.6rem;
            line-height: 1rem;
            padding: 0px 5px!important;
        }
        .sale {
            height: 1rem;
		    width: 19px;
		    line-height: 1rem;
		    font-size: 0.8rem;
		    left: 22px;
        }
        .favorite {
            right: 3px;
            top: 0px;
            i.icon-heart-outline {
                width: 18px;
                height: 20px;
            }
        }
	}
    .catalog-index {
        border-top: 1px solid rgba(0,0,0,0.1);
        .margin-vertical-1 {
            margin-top: 0!important;
            margin-bottom: 0!important;
        }
        .catitem {
            display: flex;
            align-items: center;
            padding: 15px 10px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            h2 {
                font-weight: normal;
                margin-bottom: 0;
                a {
                    font-size: 18px;
                    color: $blue;
                    text-transform: none!important;
                }
            }
        }
    }
}