//@media screen and (max-width: 39.9375em) {
@media screen and  (max-width: 74.9375em) {
    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
        font-size: 0.9em;
    }
    .mob-margin-right-0 {
        margin-right: 0!important;
    }
    .mob-margin-left-0 {
        margin-left: 0!important;
    }
    .header-menu.show-for-small-only {
        padding: 10px;
    }
    a.hamburger {
        display: inline-block;
        width: 36px;
        cursor: pointer;
        .second-menu {
            display: none;
        }
    }
    .header-menu-mobile {
        position: fixed;
        height: 50px;
        left: 0;
        bottom: 0;
        background: #143ca5;
        color: white;
        width: 100%;
        padding: 5px 0;
        display: flex;
        align-items: center;
        z-index: 1001;
        i.fi-shopping-cart {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            background: url('/images/mobile-menu-cart.svg') no-repeat center;
            display: inline-block;
            background-size: contain;
        }
        a.header-menu-mobile__item
        {
            i {
                font-size: 16px;
            }
            width: 28%;
            display: inline-block;
            color: white;
            border-left: 1px solid rgba(255,255,255,0.2);
            font-size: 14px;
            text-align: center;
            &:first-child {
                border-left: none;
            }
        }
        .menu-mobile-only {
            display: inline-block;
            width: 28%;
            text-align: center;
            > .hamburger {
                width: 100%;
                color: white;
                img {
                    display: none;
                }
            }
            .mobile-menu-wrapper {
                text-align: left;
            }
            .second-menu {
                display: inline-block;
            }
        }
    }
    .small-header-wrap {
        padding-top: 50px;
        position: relative;
        z-index: 10;
    }
    .margin-mobile {
        margin-bottom: 5px!important;
    }
    .mobile-heading-new {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        margin: 0!important;
        width: 100%!important;
        padding: 0px 0.625rem 0px 0!important;
        height: 50px;
        display: flex;
        align-items: center;
        background: #e6edf1;
        .header-flex-right {
            height: 36px;
            justify-content: flex-end;
            font-weight: 700;
        }
        i.fi-shopping-cart {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            background: url('/images/mobile-menu-cart.svg') no-repeat center;
            display: inline-block;
            background-size: contain;
        }
        i.fi-favorite {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            background: url('/images/favorite.svg') no-repeat center;
            display: inline-block;
            background-size: contain;
        }
        .mobcell-3 {
            width: 20%;
            display: inline-block;
        }
        .mobcell-9 {
            width: 80%;
            float: right;
            .collapse {
                width: calc(25% - 1.25rem)!important;
                margin: initial!important;
            }
        }
        .circle-link {
            margin-left: 5px;
            border: none;
        }
    }
    header .mobile-search {
        .mob-margin-right-0.search-drugs {
            margin-left: 5%;
            button.autocomplete__submit {
                padding-left: 20px;
                padding-right: 20px;
                border-bottom: none;
                color: #fff;
            }
        }
        button.button.expanded {
            position: relative;
            padding: 0;
            font-size: 0!important;
            width: 34px;
            i {
                display: none;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 4px;
                width: 100%;
                height: 100%;
                background: #123ba3;
                background: url(/images/search.svg) no-repeat center;
                background-size: 60%;
            }
        }
    }
    .mobile-menu-wrapper {
        position: fixed;
        background: #e6edf1;
        width: 320px;
        @media screen and (max-width: 39.9375em) {
            width: 100%; 
        }
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        padding: 7px 0;
        ul {
            list-style: none;
            margin-top: 7px;
            padding-top: 5px;
            padding-left: 0;
            margin-left: 0;
            overflow: auto;
            max-height: 100%;
            border-top: 1px solid rgba(0,0,0,.1);
            li {
                font-size: 14px;
                text-transform: uppercase;
                padding: 5px 10px;
                &.separator{
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .menu-mobile {
        .circle-link {
            margin: 0 5px 0 0;
            font-size: 0.9rem;
            width: 28px;
            height: 28px;
            i {
                line-height: 28px;
            }
        }
        .border-bottom {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
    }
    .menu-mobile-link {
        i {
            margin-right: 5px;
            font-size: 1rem;
            vertical-align: text-top;
        }
    }
    .signin-button {
        width: 36px;
        height: 36px;
        display: inline-block;
        border-radius: 50%;
        font-size: 1.25rem;
        text-align: center;
        color: $blue;
        margin-left: 5px;
        i {
            line-height: 36px;
        }
    }
    header {
        .logo_wrap img {
            @media screen and (max-width: 39.9375em) {
                width: 50%; 
            }
        }
        .search-drugs-wrap .autocomplete {
            width: calc(100% - 34px);
            float: left;
        }
        .background {
            .search-drugs {
                .autocomplete-suggestions {
                    width: calc(100% + 40px);
                }
                input[type=text] {
                    background-position: 10px;
                    padding-left: 40px;
                }
            }
            .autocomplete .autocomplete-suggestions .autocomplete-suggestion {
                .search-drugs__drug__title {
                    margin-bottom: 0!important;
                    display: inline-block!important;
                    border-bottom: none;
                    text-decoration: underline;
                }
            }
        }
    }
    .fixed-header {
        .scroll-hide {
            display: flex;
        }
        .small-header-wrap {
            position: relative;
            top: inherit;
            left: inherit;
            background: none;
            box-shadow: none;
            padding: 40px 0 0 0;
            .margin-bottom-1 {
                margin-bottom: 1rem!important;
            }
        }
        .scroll-flex-center {
            height: initial;
        }
    }
    header .header-flex {
        height: initial;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}