// @media screen and (max-width: 39.9375em) {
@media screen and  (max-width: 74.9375em) {
    .relative {
        position: relative;
        >.cover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            color: inherit;
            &:before {
                content: "";
                border-top: 2px solid;
                border-right: 2px solid;
                position: absolute;
                right: 2%;
                top: calc(50% - 6px);
                width: 12px;
                height: 12px;
                transform: rotate(135deg);
                transition: 0.1s;
            }
            &.active:before {
                transform: rotate(-45deg);
                top: calc(50% - 9px);
            }
        }
    }
    footer {
        .app-images img {
            max-width: 140px;
        }
        .inquire {
            text-align: center;
            max-width: initial;
        }
    }
    .mainpage-articles {
        .drug-image-container {
            height: auto;
        }
    }
    .blocks .callout h3 {
        line-height: 0.9;
        height: 54px;
    }
    .blocks .callout .price {
        font-size: 1.2rem; 
    }
    .VueCarousel-slide .padding-1.flex-container {
        padding: 0!important;
        margin: 0px 10px 0 10px!important;
    }
    .VueCarousel .flex-container {
        display: block;
    }
    .padding-1 {
        padding: 0.7rem;
    }
    .feedback-widget__file-label {
        margin-bottom: 10px;
    }
    .feedback-widget__icon {
        font-size: 2.5em;
    }
    .modal-signin__tabs__tab {
        font-size: 1rem !important; 
    }
    input#remember {
        vertical-align: middle;
        margin: 0!important;
    }
    label[for="remember"] {
        margin: 0!important;
    }
    .slider {
        min-height: 120px!important;
    }
    .VueCarousel-inner {
        display: block!important;
    }
    section.VueCarousel {
        margin: 0px;
    }
    // ._orinationRight_25 .button_1O {
    //     margin-bottom: 5px;
    //     margin-right: 0.625rem!important;
    //     width: 40px;
    //     height: 40px;
    //     .envelopeIcon_3E {
    //         width: 18px;
    //         height: 15px;
    //         background-size: contain; 
    //     }
    // }
    .drug__item__block .pricecontainer .button {
        border-radius: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        img {
            width: 34px;
        }
    }
    .breadcrumbs {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        li {
            float: none;
            display: inline;
            &:not(:last-child)::after {
                position: relative;
                margin: 0 1px 0 5px; 
            }
        }
    }
    .smartbanner-button {
        right: 3px;
        font-size: 12px;
        text-transform: none;
    }
    .grid-container.blocks {
        h2.relative {
            color: #143ca5!important;
            font-size: 1.1rem;
        }
        hr {
            border-bottom-color: #143ca5 !important;
        }
    }
    footer .copyright {
        text-align: center;
    }
    .catalog-view .drug__description {
        padding: 0px 15px;
    }
}
@media screen and (max-width: 39.9375em) {
    footer {
        .social {
            border: none;
        }
    }
}