.footer-title {
  color: $blue;
  line-height: 1.2;

}

footer {
  background-color: #f6f8f9;

  h6 {
    font-weight: 700;
    font-size: rem-calc(18);
  }

  .menu {
    li {
      a {
        color: $black;
        font-size: rem-calc(12);
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &:hover {
          color: $blue;

          .mdi {
            color: $blue;
          }
        }

        .mdi {
          color: #acacac;
          font-size: rem-calc(26);
        }
      }
    }
  }

  small {
    font-size: rem-calc(12);
  }

  .free-phone {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .mdi-whatsapp {
    width: 22px;
    height: 22px;
    background: url(/images/wh.png) no-repeat;
    background-size: contain;
    margin-right: 5px;
    display: inline-block;
  }
  .padding-horizontal {
    padding: 0px 30px;
    @media screen and  (max-width: 74.9375em) {
      padding: 0;
    }
  }
  .social {
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
    text-align: center;
    padding: 0 20px;

    img {
      width: 24px;
    }
  }
}
  .inquire {
    max-width: 200px;
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      max-width: inherit;
    }
}