<template>
    <div class="grid-x grid-margin-x margin-bottom-1 align-stretch blocks">
        <div class="cell small-12 medium-12 flex-container">
            <h3>Вакансии</h3>
        </div>
        <div class="cell small-12 medium-12 flex-container">
            <label>
                <select v-model="selectedCity">
                    <option value="all">Все города</option>
                    <option v-for="(cityVacancies, city) in vacancies" :value="city">{{city}}</option>
                </select>
            </label>
        </div>
        <template v-for="(cityVacancies, city) in vacancies">
            <div v-for="vacancy in cityVacancies" class="cell small-12 medium-4" v-show="selectedCity == 'all' || selectedCity == city">
                <div class="width-100 callout shadow-hover padding-0 vacancy">
                    <div class="padding-1">
                        <h2 class="vacancy__title" @click="vacancyDescriptionShowToggle">
                            {{ vacancy.title }}
                        </h2>
                        <div class="vacancy__city">
                            <span v-tooltip.top-center="tooltipSettings" @click="selectedCity = city"><i class="icon-baloon"></i> {{ city }}</span>
                        </div>
                        <div class="vacancy__salary" v-if="vacancy.pay && vacancy.pay > 0">
                            <span class="rouble"></span> {{ vacancy.pay }}
                        </div>
                        <div class="vacancy__phone">
                            <i class="icon-phone"></i> {{ vacancy.phones }}
                        </div>
                        <div class="vacancy__description" @click="vacancyDescriptionShowToggle">
                            <span class="vacancy__description-title">
                                Условия работы:
                            </span>
                            <div class="vacancy__description-content hide" v-html="vacancy.text">
                            </div>
                        </div>
                        <button class="button expanded" @click="showResumeModal(vacancy.id)">Отправить резюме</button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    export default {
        props: [
            'vacancies'
        ],
        data() {
            return {
                selectedCity: 'all',
                tooltipSettings: {
                    content: 'Показать все вакансии в этом городе',
                    classes:'vacancy__tooltip'
                },
            }
        },
        methods: {
            vacancyDescriptionShowToggle: function (event) {
                event.target.closest('.vacancy').querySelector('.vacancy__description-content').classList.toggle('hide');
            },
            showResumeModal: function (vacancyId) {
                this.$modal.show('resume-modal', { vacancy_id: vacancyId });
            }
        },
    }
</script>
