<template>
	<div class="cell small-12">
		<div class="grid-x grid-margin-x" v-if="$route.path == '/forgetpassword/sendcode'">
		    <div class="cell small-12 medium-3">
		        <label for="phone" class="modal-signin__form__label">Телефон:</label>
		    </div>
		    <div class="cell small-12 medium-9">
		        <input type="tel" placeholder="Введите номер телефона" id="phone" v-model="$store.state.forget.phone" class="modal-signin__form__input">
		        <div v-if="errors.phone" class="red errors">{{ errors.phone[0] }}</div>
		    </div>
		</div>
		<div class="grid-x grid-margin-x" v-if="$route.path == '/forgetpassword/change' && !$store.state.forget.sucess">
		    <div class="cell small-12 medium-3 margin-bottom-1">
		        <label for="code" class="modal-signin__form__label">Полученный код:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="text" placeholder="Введите полученый код" id="code" v-model="$store.state.forget.sms_code" class="modal-signin__form__input">
		        <div v-if="errors.code" class="red errors">{{ errors.code[0] }}</div>
		    </div>
		    <div class="cell small-12 medium-3 margin-bottom-1">
		        <label for="newpswds" class="modal-signin__form__label">Новый пароль:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="password" placeholder="Введите новый пароль" id="newpswd" v-model="$store.state.forget.password" class="modal-signin__form__input" autocomplete="off">
		        <div v-if="errors.password" class="red errors">{{ errors.password[0] }}</div>
		    </div>
		    <div class="cell small-12 medium-3 margin-bottom-1">
		        <label for="confpswd" class="modal-signin__form__label">Подтвердите пароль:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="password" placeholder="Подтвердите новый пароль" id="confpswd" v-model="$store.state.forget.password_confirmation" class="modal-signin__form__input" autocomplete="off">
		        <div v-if="errors.password_confirmation" class="red errors">{{ errors.password_confirmation[0] }}</div>
		    </div>
		</div>
		<div class="grid-x grid-margin-x" v-if="$route.path == '/forgetpassword/change' && $store.state.forget.sucess">
			<div class="cell small-12 margin-bottom-1">
			    <p style="text-align: center;">Пароль успешно изменен!</p>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				errors: {},
			}
		},
		created:function(){
			if(!this.$store.state.forget.phone){
				this.$router.replace('/forgetpassword/sendcode')
			}
		},
		methods:{
			sendcode(){
				this.$store.state.forget.sucess = false
				this.errors = {}
				axios.post('/forget/send-code', {
					phone:this.$store.state.forget.phone,
				}).then((response) => {
					this.$router.replace('/forgetpassword/change')
                }).catch(error => {
                	this.errors = error.response.data.errors;
                });
			},
			recobery(){
				this.errors = {}
				axios.post('/forget/change',{
					phone:this.$store.state.forget.phone,
					code:this.$store.state.forget.sms_code,
					password:this.$store.state.forget.password,
					password_confirmation:this.$store.state.forget.password_confirmation
				}).then((response) => {
					this.$store.state.forget.sucess = true
				}).catch(error => {
					this.errors = error.response.data.errors;
				})
			}
		}
	}
</script>