<template>
	<div class="cell small-12">
		<div class="grid-x grid-margin-x">
		   <div class="cell small-12 medium-3 margin-bottom-1">
		        <label for="phone" class="modal-signin__form__label">Ваш логин:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="tel" placeholder="Введите номер телефона" id="phone" v-model="$store.state.login.phone" class="modal-signin__form__input">
		        <div v-if="errors.phone" class="red errors">{{ errors.phone[0] }}</div>
		    </div>
		    <div class="cell small-12 medium-3 margin-bottom-1">
		    	<label for="password" class="modal-signin__form__label">Ваш пароль:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="password" placeholder="Введите пароль" id="password" v-model="$store.state.login.password" class="modal-signin__form__input">
		        <div v-if="errors.password" class="red errors">{{ errors.password[0] }}</div>
		    </div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				errors: {}
			}
		},
		methods:{
			signin: function() {
				axios.post('/login', {
					phone:this.$store.state.login.phone,
					password:this.$store.state.login.password,
					remember:this.$store.state.login.remember
				}).then((response) => {
					location.reload();
                }).catch(error => {
                	this.errors = error.response.data.errors;
                });
			},
		}
	}
</script>