<template>
	<div class="cell small-12">
		<div class="grid-x grid-margin-x" v-if="$route.path == '/registration/sendcode'">
		    <div class="cell small-12 medium-3">
		        <label for="phone" class="modal-signin__form__label">Телефон:</label>
		    </div>
		    <div class="cell small-12 medium-9">
		        <input type="tel" placeholder="Введите номер телефона" id="phone" v-model="$store.state.registration.phone" class="modal-signin__form__input">
		        <div v-if="errors.phone" class="red errors">{{ errors.phone.join(', ') }}</div>
		        <div v-if="errors.server" class="red errors">{{ errors.server.join(', ') }}</div>
		    </div>
		</div>
		<div class="grid-x grid-margin-x" v-if="$route.path == '/registration/store'">
		    <div class="cell small-12 medium-3 margin-bottom-1">
		    	<label for="sms_code" class="modal-signin__form__label">Полученный код:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="text" placeholder="Введите полученный код" id="sms_code"  class="modal-signin__form__input" v-model="$store.state.registration.sms_code" autocomplete="off">
		        <div v-if="errors.sms_code" class="red errors">{{ errors.sms_code.join(', ') }}</div>
		   </div>
		    <div class="cell small-12 medium-3 margin-bottom-1">
		        <label for="password" class="modal-signin__form__label">Пароль:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="password" placeholder="Введите пароль" id="password" class="modal-signin__form__input" v-model="$store.state.registration.password" autocomplete="off">
		        <div v-if="errors.password" class="red errors">{{ errors.password.join(', ') }}</div>
		    </div>
		    <div class="cell small-12 medium-3 margin-bottom-1">
		        <label for="password_confirmation" class="modal-signin__form__label">Повторите пароль:</label>
		    </div>
		    <div class="cell small-12 medium-9 margin-bottom-1">
		        <input type="password" placeholder="Подтвердите пароль" id="password_confirmation" class="modal-signin__form__input" v-model="$store.state.registration.password_confirmation" autocomplet="off">
		        <div v-if="errors.password_confirmation" class="red errors">{{ errors.password_confirmation.join(', ') }}</div>
		    </div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				errors: {}
			}
		},
		created:function(){
			if(!this.$store.state.registration.phone){
				this.$router.replace('/registration/sendcode')
			}
		},
		methods:{
			sendcode: function() {
				axios.post('/register/send-code', {
					phone:this.$store.state.registration.phone,
				}).then((response) => {
					this.$router.replace('/registration/store')
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
			},
			signup: function(makeOrder) {
				axios.post('/register', {
					sms_code: this.$store.state.registration.sms_code,
					phone:this.$store.state.registration.phone,
					password:  this.$store.state.registration.password,
					password_confirmation:  this.$store.state.registration.password_confirmation,
				}).then((response) => {
					if (makeOrder) {
                        window.location = '/cart?make_order=' + response.data.data.id;
					} else {
                        location.reload();
                    }
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
			},
		}
	}
</script>