<template>
	<vmodal v-show="showModal" @close="showModal = false" style="display:none" class="modal-signin">
		<template slot="header">Добро пожаловать!</template>
		<div slot="body" class="modal-signin__body padding-1">
			<div class="grid-x grid-margin-x modal-signin__tabs margin-bottom-1">
				<div class="cell small-6 margin-bottom-1">
					<router-link class="modal-signin__tabs__tab" :to="{ name: 'login' }" active-class="active" >
						<i class="icon icon-checked"></i> Я уже зарегистрирован
					</router-link>
				</div>
				<div class="cell small-6 margin-bottom-1" v-if="$route.params.step != 'store'">
					<router-link class="modal-signin__tabs__tab" :to="{name:'register',params:{ step : 'sendcode' }}" active-class="active" replace >
						<i class="icon icon-checked"></i> Я новый пользователь
					</router-link>
				</div>
				<div class="cell small-6 margin-bottom-1" v-if="$route.path == '/registration/store'">
					<router-link class="modal-signin__tabs__tab" :to="{name:'register',params:{ step : 'store' }}"  active-class="active" replace>
						<i class="icon icon-checked"></i> Регистрация
					</router-link>
				</div>
			</div>
			<form class="modal-signin__form padding-vertical-1" v-on:submit.prevent>
				<div class="grid-x grid-margin-x">
				   <router-view ref="action"></router-view>
				   <div class="cell small-6 medium-5 medium-offset-3">
						<router-link v-if="$route.path == '/login'" :to="{name:'forgetpassword',params:{step:'sendcode'}}"  active-class="active" replace style="text-decoration: underline;padding-left: 0;">Забыли пароль?</router-link>
				   </div>
				   <div class="cell small-6 medium-4" v-if="$route.path == '/login'">
						<input id="remember" type="checkbox" v-model="$store.state.login.remember">
						<label for="remember" class="modal-signin__form__label">Запомнить меня</label>
					</div>
				</div>
				<div class="modal-signin__footer padding-1 margin-top-1">
					<div class="text-center margin-bottom-1" v-if="$route.params.step == 'store'">
						* Нажимая кнопку “Зарегистрироваться”, я принимаю условия <a href="/page/privacy-policy" target="_blank" title="Соглашение об использовании интернет-сервиса">Соглашения об использовании интернет-сервиса</a>, <a href="/page/privacy-policy" target="_blank" title="Политика обработки персональных данных">Политики обработки персональных данных</a>, <a href="/page/privacy-policy" target="_blank" title="Согласие пользователя на использование персональных данных">Согласия пользователя</a>, включающего мое согласие на обработку ООО &laquo;Семейная Аптека РФ&raquo; моих персональных данных в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ &laquo;О персональных данных&raquo;
					</div>
					<div class="text-center">
						<button v-if="$route.path == '/login'" class="button text-uppercase" v-on:click="signin">
							Войти на сайт
						</button>
						<button v-if="$route.path == '/registration/sendcode'" class="button text-uppercase" v-on:click="sendcode">
							Отправить код
						</button>
						<button type="submit" v-if="$route.params.step == 'store'" class="button text-uppercase" v-on:click="register">
							Зарегистрироваться
						</button>
						<button v-if="$route.path == '/forgetpassword/sendcode'" class="button text-uppercase" v-on:click="forgetpassword">
							Отправить код
						</button>
						<button v-if="$route.path == '/forgetpassword/change' && !$store.state.forget.sucess" class="button text-uppercase" v-on:click="changepassword">
							Сменить пароль
						</button>
					</div>
				</div>
			</form>
		</div>
		<div slot="footer"></div>
	</vmodal>
</template>
<script>
	export default {
        props: {
            makeOrder: {
                default: false,
            },
        },
		data() {
			return {
				showModal: false,
				step:'',
			}
		},
		methods: {
			signin(){
				this.$refs.action.signin()
			},
			sendcode(){
				this.$refs.action.sendcode();
			},
			register(){
				this.$refs.action.signup(this.makeOrder)
			},
			forgetpassword(){
				this.$refs.action.sendcode()
			},
			changepassword(){
				this.$refs.action.recobery()
			}
		}
	}
</script>