<template>
	<router-link class="signin-button" v-on:click.native="openAuth" :to="{ name: 'login' }">
		<slot>
			<span class="hide-for-small-only hide-for-large-only">Войти </span>
			<i class="show-for-small-only fas fa-sign-in-alt"></i>
			<i class="icon-user-outline blue hide-for-small-only"></i>
		</slot>
	</router-link>
</template>
<script>
	export default {
        props: {
            makeOrder: {
                default: false,
            },
        },
		data() {
			return {
			}
		},
		methods: {
            openAuth: function() {
                window.authModal.showModal = true;
                window.authModal.makeOrder = this.makeOrder;
            }
		}
	}
</script>