<template>
	<tr>
        <td class="mimage">
            <a :href="item.drug.url" target="_blank">
                <img :src="'/image/100/70/' + item.drug.image" class="drug__images__image">
            </a>
        </td>
        <td class="mtitle">
           <a class="title" :href="item.drug.url" target="_blank">{{ item.drug.title }}</a>
        </td>
        <td class="mcount">
            <div class="basketAdd__count basketAdd__count-small">
                <a class="display-inline-block basketAdd__count__decriment" @click="decrement">-</a>
                <input v-model="count" class="display-inline-block basketAdd__count__input" type="number" placeholder="1" min="1" v-bind:max="max" @change="update"/>
                <a class="display-inline-block basketAdd__count__increment" v-tooltip.top-center="tooltip" @click="increment">+</a>
            </div>
        </td>
        <td class="mremove">
            <a @click="remove"><i class="icon icon-cancel"></i></a>
        </td>
    </tr>
</template>
<script>
    export default {
        props: {
            item: Object
        },
        data() {
            return {
                loaded: true,
                count: 0,
                in_stock: 0,
                selectedDrugstore: null,
                tooltip: {
                    content: 'Максимальное кол-во в аптеке',
                    classes:'cart__max__tooltip',
                    trigger: 'manual',
                    show: false
                }
            }
        },
        mounted: function() {
            this.count = this.item.count;
            this.selectedDrugstore = this.item.drugstores.find(drugstore => drugstore.id === this.item.drugstore_id);
        },
        created: function() {
            this.count = this.item.count;
        },
        watch: {
            item: function() {
                this.count = this.item.count;
                this.selectedDrugstore = this.item.drugstores.find(drugstore => drugstore.id === this.item.drugstore_id);
            },
            count: function() {
                if (this.count <= 0) {
                    this.count = 1;
                } else if (this.count > this.max) {
                    this.count = this.max;
                }
                this.$emit('changed');
            },
            selectedDrugstore: function () {
                this.item.drug.drugstores.forEach((drugstore) => {
                    if (this.selectedDrugstore.id == drugstore.id) {
                        this.in_stock = drugstore.in_stock;
                        if (this.count > this.in_stock) {
                            this.count = this.in_stock;
                        }
                    }
                });
                this.$emit('changed');
            }
        },
        methods: {
            decrement: async function() {
                if (this.loaded) {
                    this.count = this.count > 1 ? this.count - 1 : this.count;
                    await this.update();
                }
            },
            increment: async function() {
                if (this.loaded) {
                    this.count = this.count < this.max ? +this.count + 1 : +this.count;
                    this.tooltip.show = this.count == this.max;
                    if (this.tooltip.show)
                        setTimeout(() => this.tooltip.show = false, 1500);
                    await this.update();
                }
            },
            update: async function() {
                this.loaded = false;
                await axios.delete('/cart/' + this.item.drug.id);
                await axios.post('/cart/add', {
                    cart: [
                        {
                            drug_id: this.item.drug.id,
                            count: this.count,
                            drugstore_id: this.selectedDrugstore.id
                        }
                    ]
                });
                await window.cartHeader.load();
                this.loaded = true;
            },
            remove: async function() {
                await axios.delete('/cart/' + this.item.drug.id);
                await window.cartHeader.load();
                this.$emit('deleted');
            },
        },
        computed: {
            max: function() {
                if (this.in_stock) {
                    return this.in_stock;
                }
                return 100;
            }
        }
    }
</script>