<template>
	<div class="grid-x grid-margin-x cart-header flex-container align-middle position-relative">
		<div class="cell small-9">
			<a href="/cart">
				<div class="text-right cart-header__count">{{ parseInt(count) }} {{ parseInt(count) | plural(['товар', 'товара', 'товаров'])}} на сумму:</div>
				<div class="text-right cart-header__total">{{ total ? total.toFixed(2) : 0 }} руб.</div>
			</a>
		</div>
		<div class="cell small-3 collapse position-relative text-right mob-margin-right-0 mob-margin-left-0">
			<a href="/cart">
				<div class="cart-header__icon width-100">
					<img src="/images/cart.svg" class="width-100">
				</div>
			</a>
			<span class="cart-header__badge">{{ parseInt(count) }}</span>
		</div>
        <div v-if="parseInt(count) > 0" class="cart-preview">
            <div class="catalog-view catalog-view-cart">
                <div class="table-wrap">
                    <table>
                        <tr is="cart-preview-item" v-for="item in sortedDrugs" :item="item" :key="item.drug.id">
                        </tr>
                    </table>
                </div>
                <div class="total-wrap">
                    <div class="text-right total__price">
                        Сумма: <b>{{ total ? total.toFixed(2) : 0 }}</b> руб.
                    </div>
                    <div class="text-right">
                        <a href="/cart" class="button alert text-white">Оформить заказ</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
    export default {
        data() {
            return {
                total: 0,
                count: 0,
                items: []
            }
        },
        mounted: function() {
            this.load();
        },
        methods: {
            load: function () {
                let promise = axios.get('/cart/get');
                promise.then((response) => {
                    this.total = response.data.data.order_price;
                    this.count = 0;
                    response.data.data.items.forEach((item) => {
                        this.count += item.count;
                    });
                    this.items = response.data.data.items;
                });
                return promise;
            }
        },
        computed: {
            sortedDrugs: function() {
                function compare(a, b) {
                    if (a.drug.id < b.drug.id) return -1;
                    if (a.drug.id > b.drug.id) return 1;
                    return 0;
                }
                return this.items.sort(compare);
            }
        },
        filters: {
            plural: function(value, words) {
                let n = Math.abs(value);
                n %= 100;
                if (n >= 5 && n <= 20) return words[2];
                n %= 10;
                if (n === 1) return words[0];
                if (n >= 2 && n <= 4) return words[1];
                return words[2];
            }
        }
    }
</script>