<template>
    <div>
        <div class="grid-x grid-margin-x cart-index__success" v-if="orders.length > 0">
            <div class="cell medium-12">
                <h1 class="cart-index__success__title">
                    Спасибо!
                </h1>
                <div v-for="(order, index) in orders" class="margin-bottom-3">
                    <div class="cart-index__success__divider margin-bottom-1 padding-bottom-1">
                        <p class="margin-0">Ваш заказ №{{ order.id }} от {{ order.created_at.date | createdDate }} успешно оформлен.</p>
                        <p class="margin-0">Мы оповестим Вас смс-сообщением, когда заказ будет готов к выдаче.</p>
                        <p class="margin-0">Примерное время ожидания 10 мин</p>
                    </div>
                    <p><strong>Заказ №{{ order.id }} от {{ order.created_at.date | createdDate }} </strong></p>
                    <p v-for="(drug, index) in order.drugs">
                        {{ index + 1 }}. {{ drug.title }}
                    </p>
                    <p class="margin-bottom-2"><strong>Сумма к оплате: {{ order.total_price_with_promocode.toFixed(2) }} руб.</strong></p>
                    <div class="margin-bottom-2">
                        <div class="blue">Пункт получения</div>
                        <div>{{ order.drugstore.title }}, {{ order.drugstore.address }}</div>
                    </div>
                    <a class="small button text-uppercase" title="Отменить заказ" alt="Отменить заказ" @click="cancelOrder(index, order)">
                        Отменить заказ
                    </a>
                </div>
            </div>
        </div>
        <div v-else>
            <div>
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-12 medium-6 margin-bottom-1">
                        <h1 class="cart-index__header">Оформление заказа</h1>
                    </div>
                    <div v-if="items.length > 0" class="cell small-12 medium-6 medium-text-right margin-bottom-1">
                        <a class="cart-index__empty" @click="clearCart">Очистить корзину</a>
                    </div>
                </div>
                <table class="stack cart-table unstriped margin-bottom-2">
                    <thead>
                    <tr>
                        <th style="border-right:none; min-width:120px"></th>
                        <th style="border-left:none">Товары</th>
                        <th style="min-width:125px" class="text-center">Кол-во</th>
                        <th style="min-width:150px" class="text-center">Цена</th>
                        <th style="min-width:150px" class="text-center">Сумма</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody v-if="items.length > 0">
                    <cart-item
                            v-for="(item, key, index) in items"
                            v-on:deleted="load"
                            v-on:changed="cartPriceRecalc"
                            ref="cartItem"
                            :key="item.drug.id"
                            :item="item"></cart-item>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="6" class="text-center">
                            Ваша корзина пуста. <a href="/catalog">Начать покупки</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="medium-text-right show-for-small-only" v-if="items.length > 0">
                    <div class="cart-index__total-price margin-bottom-1">
                        Общая сумма заказа:
                        <br class="show-for-small-only"/>
                        <div class="cart-index__total-price-promocode" v-show="total != total_with_promocode" style="display:none">
                        {{ total.toFixed(2) }} руб.
                        </div>
                        {{ total_with_promocode.toFixed(2) }} руб.
                    </div>
                    <p class="mobile-text-center">
                        <button v-if="!user" class="button text-uppercase" @click="openOrderModal">
                            Оформить заказ
                        </button>
                        <button v-else type="submit" class="button text-uppercase" @click="checkout">
                            Оформить заказ
                        </button>
                    </p>
                </div>
                <div class="blue margin-bottom-2" style="line-height:1.7rem">
                    <i class="icon-receiving-time" style="font-size:1.7rem"></i> Все товары в заказе резирвируются на 24 часа, после этого заказ автоматически отменяется
                </div>
                <div class="grid-x grid-margin-x cart-index__promocode margin-bottom-2 padding-bottom-2" v-if="items.length > 0 && false">
                    <div class="cell small-12 medium-6 clearfix cart-index__promocode__form">
                        <div class="float-left cart-index__promocode__description" style="width:25%;line-height:35px">
                            Промокод
                        </div>
                        <div class="float-left" style="width:75%">
                            <div class="position-relative">
                                <input v-model="promocode" type="text" placeholder="Промокод" class="width-100 cart-index__promocode__form__input">
                                <button class="text-uppercase button success position-absolute cart-index__promocode__form__button margin-0" @click="load">
                                    {{ promocode_activated ? 'Активирован' : 'Активировать' }}
                                </button>
                            </div>
                            <div class="form-error" v-if="errors.promocode" v-bind:class="{'is-visible': errors.promocode}">
                                {{ errors.promocode }}
                            </div>
                        </div>
                    </div>
                    <div class="cell small-12 medium-6 cart-index__promocode__description">
                        <p class="margin-0">Введите промокод и получите дополнительную скидку.</p>
                        <p class="margin-0"><a class="red">Как получить промокод?</a></p>
                    </div>
                </div>
                <div class="medium-text-right hide-for-small-only" v-if="items.length > 0">
                    <div class="cart-index__total-price-promocode" v-show="total != total_with_promocode" style="display:none">
                        {{ total.toFixed(2) }} руб.
                    </div>
                    <div class="cart-index__total-price margin-bottom-1">
                        Общая сумма заказа:<br class="show-for-small-only"/> {{ total_with_promocode.toFixed(2) }} руб.
                    </div>
                    <p class="mobile-text-center">
                        <button v-if="!user" class="button text-uppercase" @click="openOrderModal">
                            Оформить заказ
                        </button>
                        <button v-else type="submit" class="button text-uppercase" @click="checkout">
                            Оформить заказ
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <vmodal v-if="showModal" @close="showModal = false" class="modal-signin">
            <template slot="header">Оформить заказ</template>
            <div slot="body" class="modal-signin__body padding-1">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-12 medium-3 margin-bottom-1">
                                <label for="phone_unreg" class="modal-signin__form__label">Ваш телефон:</label>
                            </div>
                            <div class="cell small-12 medium-9 margin-bottom-1">
                                <input type="tel" placeholder="Введите номер телефона" id="phone_unreg" v-model="phone" class="modal-signin__form__input">
                                <div v-if="errors.phone" class="red errors">{{ errors.phone.join(', ') }}</div>
                            </div>
                            <div class="cell small-12 medium-3 margin-bottom-1">
                                <label for="name_unreg" class="modal-signin__form__label">Ваше имя:</label>
                            </div>
                            <div class="cell small-12 medium-9 margin-bottom-1">
                                <input type="text" placeholder="Введите имя" id="name_unreg" v-model="name" class="modal-signin__form__input">
                                <div v-if="errors.name" class="red errors">{{ errors.name.join(', ') }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="modal-signin__footer padding-1 margin-top-1">
                    <div class="text-center">
                        <button class="button text-uppercase" @click="checkout">
                            Оформить
                        </button>
                    </div>
                </div>
            </div>
        </vmodal>
    </div>
</template>
<script>
    export default {
        props: {
            user: {
                default: false,
            },
            cartItems: {
                type: Array,
                default: function () {
                    return [];
                }
            },
            makeOrder: {
                default: false,
            }
        },
        data() {
            return {
                items: [],
                count: 0,
                total: 0,
                total_with_promocode: 0,
                promocode: '',
                promocode_activated: false,
                orders: [],
                errors: [],
                showModal: false,
                phone: null,
                name: null,
            }
        },
        mounted: function() {
            this.items = this.cartItems;
            this.cartPriceRecalc();
            if (this.makeOrder) {
                this.checkout();
            }
        },
        methods: {
            notificate: function (text, level) {
                this.$notify({
                    group: 'flash-notifications',
                    title: '',
                    text: text,
                    type: level,
                    duration: 5000
                });
            },
            cartPriceRecalc: function () {
                this.total = this.total_with_promocode = this.count = 0;
                this.items.forEach((ref) => {
                    this.count += parseInt(ref.count);
                    this.total += ref.prices.price * ref.count;
                    this.total_with_promocode += ref.prices.item_price_with_discount_and_promocode * ref.count;
                });
            },
            load: function () {
                this.errors = [];
                this.promocode_activated = false;
                axios.get('/cart/get', {
                    params: {
                        promocode: this.promocode
                    }
                }).then((response) => {
                    this.items = response.data.data.items;
                    this.total = response.data.data.order_price;
                    this.total_with_promocode = response.data.data.order_price_with_promocode;
                    this.count = 0;
                    response.data.data.items.forEach((item) => {
                        this.count += item.count;
                    });
                    if (this.promocode && this.promocode == response.data.data.promocode.code) {
                        this.promocode_activated = true;
                    }
                    this.cartPriceRecalc();
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            },
            clearCart: function() {
                this.items = [];
                this.total = 0;
                this.count = 0;
                window.cartHeader.total = 0;
                window.cartHeader.cart = 0;
                axios.delete('/cart/clear');
            },
            checkout: function() {
                axios.post('/orders', {
                    promocode: this.promocode,
                    phone: this.phone,
                    name: this.name
                }).then((response) => {
                    this.orders = response.data.data;
                    this.items = [];
                    window.cartHeader.load();
                    this.showModal = false;
                }).catch((error) => {
                    this.errors = error.response.data.errors;
                    if (error.response.data.errors.drugs) {
                        for (let drug in error.response.data.errors.drugs) {
                            let cartItem = this.items.filter(cartItem => cartItem.drug.id == drug);
                            this.notificate(cartItem[0].drug.title + ': ' + error.response.data.errors.drugs[drug], 'error');
                        }
                    }
                    if (error.response.data.errors.drugstores) {
                        for (let drugstore in error.response.data.errors.drugstores) {
                            let cartItem = this.items.filter(cartItem => cartItem.drugstore_id == drugstore);
                            let freedayDrugstore = cartItem[0].drugstores.filter(store => store.id == drugstore)[0];
                            let drugstoreText = freedayDrugstore.title + ', ' + freedayDrugstore.address;
                            this.notificate(drugstoreText + ': ' + error.response.data.errors.drugstores[drugstore], 'error');
                        }
                    }
                });
            },
            cancelOrder: function (index, order) {
                axios.post('/profile/orders/' + order.id)
                    .then((response) => {
                        this.notificate('Заказ отменен!', 'success');
                        this.orders.splice(index, 1);
                    }).catch((error) => {
                        this.notificate('Возникла ошибка при отмене заказа', 'error');
                });
            },
            openOrderModal: function() {
                this.showModal = true;
            }
        },
        filters: {
            createdDate: function(value) {
                return value.substr(0,19);
            }
        },
    }
</script>