<template>
    <tr>
        <td class="mimage text-center" style="border-right:none">
            <a :href="item.drug.url" target="_blank">
                <img :src="'/image/100/70/' + item.drug.image">
            </a>
        </td>
        <td class="mtitle" style="border-left:none">
            <a :href="item.drug.url" target="_blank">
                {{ item.drug.title }}
            </a>
            <p class="in_stock">В наличии</p>
            <drugstores-select :drugstores="item.drugstores"
                               v-model="selectedDrugstore"></drugstores-select>
        </td>
        <td class="mcount text-center">
            <div class="basketAdd">
                <div class="basketAdd__count">
                    <a class="display-inline-block basketAdd__count__decriment" @click="decrement">-</a>
                    <input v-model="count" class="display-inline-block basketAdd__count__input" type="number" placeholder="1" min="1" v-bind:max="max" @change="update"/>
                    <a class="display-inline-block basketAdd__count__increment" v-tooltip.top-center="tooltip" @click="increment">+</a>
                </div>
            </div>
        </td>
        <td class="mprice1">
            <span v-if="item.prices.discount" class="item_discount">{{ item.prices.price.toFixed(2) }} руб.</br></span>
            <strong>{{ item.prices.item_price_with_discount_and_promocode.toFixed(2) }} руб.</strong>
        </td>
        <td class="mprice2 hide-for-small-only">
            <strong class="show-for-small-only">Сумма: </strong>
            <span v-if="item.prices.discount" class="item_discount">{{ (item.prices.price * count).toFixed(2) }} руб.</br></span>
            <strong>{{ (item.prices.item_price_with_discount_and_promocode * count).toFixed(2) }} руб.</strong>
        </td>
        <td class="mremove text-center">
            <a @click="remove">
                <i class="icon icon-cancel"></i>
            </a>
        </td>
    </tr>
</template>
<script>
    export default {
        props: {
            item: {
                type: Object
            }
        },
        data() {
            return {
                loaded: true,
                count: 0,
                in_stock: 0,
                selectedDrugstore: null,
                tooltip: {
                    content: 'Максимальное кол-во в аптеке',
                    classes:'cart__max__tooltip',
                    trigger: 'manual',
                    show: false
                }
            }
        },
        mounted: function() {
            this.count = this.item.count;
            this.selectedDrugstore = this.item.drugstores.find(drugstore => drugstore.id === this.item.drugstore_id);
        },
        created: function() {
            this.count = this.item.count;
        },
        watch: {
            count: function() {
                if (this.count <= 0) {
                    this.count = 1;
                } else if (this.count > this.max) {
                    this.count = this.max;
                }
                this.$emit('changed');
            },
            selectedDrugstore: async function (newDrugstore, oldDrugstore) {
                this.item.drug.drugstores.forEach((drugstore) => {
                    if (this.selectedDrugstore.id == drugstore.id) {
                        this.in_stock = drugstore.in_stock;
                        if (this.count > this.in_stock) {
                            this.count = this.in_stock;
                        }
                    }
                });
                if (oldDrugstore !== null) {
                    await this.update();
                }
                this.$emit('changed');
            }
        },
        computed: {
            max: function() {
                if (this.in_stock) {
                    return this.in_stock;
                }
                return 100;
            }
        },
        methods: {
            decrement: async function() {
                if (this.loaded) {
                    this.count = this.count > 1 ? this.count - 1 : this.count;
                    await this.update();
                }
            },
            increment: async function() {
                if (this.loaded) {
                    this.count = this.count < this.max ? +this.count + 1 : +this.count;
                    this.tooltip.show = this.count == this.max;
                    if (this.tooltip.show)
                        setTimeout(() => this.tooltip.show = false, 1500);
                    await this.update();
                }
            },
            remove: async function() {
                await axios.delete('/cart/' + this.item.drug.id);
                await window.cartHeader.load();
                this.$emit('deleted');
            },
            update: async function() {
                this.loaded = false;
                await axios.delete('/cart/' + this.item.drug.id);
                await axios.post('/cart/add', {
                    cart: [
                        {
                            drug_id: this.item.drug.id,
                            count: this.count,
                            drugstore_id: this.selectedDrugstore.id
                        }
                    ]
                });
                await window.cartHeader.load();
                this.loaded = true;
            }
        }
    }
</script>