<template>
	<div class="profile-index">
        <h1 class="profile-index__header">Дисконтная карта</h1>
        <div class="grid-x grid-margin-x margin-top-1 profile-bonus-card">
            <div class="cell small-12" :class="active ? 'medium-7' : 'medium-8'">
                <div v-if="!active" class="grid-x grid-margin-x margin-bottom-1">
                    <div class="cell small-12">
                        <img src="/images/bc-back.jpg" class="bonus-card-image">
                    </div>
                    <div class="cell small-12 medium-6">
                        <input class="number" type="text" placeholder="xxxxxxxxxxxxx" v-model="cardnumber">
                    </div>
                    <div class="cell small-12 medium-6">
                        <button class="button button__card-activate expanded margin-bottom-0 card-activate" style="color: #FFF" v-on:click="createcard">Активировать</button>
                    </div>
                </div>
                <div v-else class="grid-x grid-margin-x margin-bottom-1">
                    <div class="cell small-12 medium-8">
                        <p>Ваша карта активирована</p>
                        <img src="/images/bc-front.jpg" class="bonus-card-image">
                        <div class="number">
                            {{ cardnumber }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-8">
                <a class="programm-rules-link" title="Дисконтная карта" href="/page/diskontnaya-karta">
                    Правила дисконтной программы
                </a>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: [
            "bonuscard",
        ],
		data() {
			return {
				active:false,
                cardnumber: '',
			}
		},
		mounted:function(){
			if(this.bonuscard){
				this.active = true;
                this.cardnumber = this.bonuscard.number;
			}
		},
		methods: {
            notificate: function (text, level) {
                this.$notify({
                    group: 'flash-notifications',
                    title: '',
                    text: text,
                    type: level,
                    duration: 5000,
                });
            },
			createcard(){
				axios.post('/profile/createcard', {
					card:this.cardnumber
				}).then((response) => {
                        this.active = true;
                        this.notificate(response.data.message, 'success');
                    }
                ).catch((error) => {
                    for (let errorKey in error.response.data.errors) {
                        error.response.data.errors[errorKey].forEach(function (el) {
                            this.notificate(el, 'error');
                        }, this);
                    }
                });
			},
			getdate(date){
				let newdate = new Date(date)
				let options = {
						year: 'numeric',
						month: 'numeric',
						day: 'numeric',
						hour: 'numeric',
						minute: 'numeric',
                    timezone: 'UTC',
					};
				return newdate.toLocaleString("ru", options);
			},
		}
	}
</script>