<template>
	<div>
		<form class="profile-index__form" v-on:submit.prevent="submit" v-if="!success">
			<div class="grid-x grid-margin-x">
				<div class="cell small-12 medium-12">
					<input type="password" placeholder="Старый пароль" v-model="oldpswd" />
					<div v-if="errors.oldpswd" class="red errors">{{ errors.oldpswd[0] }}</div>
				</div>
				<div class="cell small-12 medium-12">
					<input type="password" placeholder="Новый пароль" v-model="newpswd" />
					<div v-if="errors.newpswd" class="red errors">{{ errors.newpswd[0] }}</div>
				</div>
				<div class="cell small-12 clearfix">
					<button type="submit" class="button float-right">
            			Сохранить
	            	</button>
				</div>
			</div>
		</form>
		<p v-else>Пароль успешно изменен!</p>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				newpswd:'',
				oldpswd:'',
				success:false,
				errors: {}
			}
		},
		methods: {
			submit: function() {
				this.errors = [];
				axios.post('/profile/changepswd', {
					newpswd: this.newpswd,
					oldpswd: this.oldpswd,
				}).then((response) => {
					this.success = true
                }).catch(error => {
                	this.errors = error.response.data.errors;
                });
			},
		}
	}
</script>