<template>
    <div>
        <!-- Тут фильтр -->
        <div class="cell small-12 medium-6 medium-text-right flex-container align-middle align-right margin-bottom-2 order-filter">
            <div class="display-inline-block text-right margin-right-1">
                Сортировка
            </div>
            <div class="display-inline-block margin-right-1">
                <select class="margin-0" name="datefilter" v-model="ordering" @change="getOrders">
                    <option value="desc">Дата по убыванию</option>
                    <option value="asc">Дата по возрастанию</option>
                </select>
            </div>
            <div class="display-inline-block">
                <select class="margin-0" name="statusfilter" v-model="status" @change="getOrders">
                    <option value="0">Все</option>
                    <option value="1">В работе</option>
                    <option value="3">Выполнен</option>
                    <option value="5">Оплачен</option>
                    <option value="4">Отменен</option>
                </select>
            </div>
        </div>
        <!-- Тут список заказов -->
        <div class="order_wrap">
            <order-item v-for="order in orderss" :key="order.id" :order="order"></order-item>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            orders: {
                type: Array
            }
        },
        data() {
            return {
                orderss: [],
                errors: {},
                ordering: 'desc',
                status: 0
            }
        },
        mounted() {
            this.orderss = this.orders;
        },
        methods: {
            getOrders: function () {
                axios.get('/profile/getOrders/', {
                    params: {
                        status: this.status == 0 ? null : this.status,
                        ordering: this.ordering,
                    }
                })
                    .then((response) => {
                        this.orderss = response.data;
                    }).catch((error) => {
                    this.notificate('Ошибка получения заказов', 'error');
                });
            }
        }
    }
</script>