<template>
    <div class="order-item">
        <p class="header blue-back">
            <b class="margin-right-1">Заказ №{{order.id}} от {{order.created_at}} {{statuses[order.status]}}</b>
            <a v-if="showCancel" class="oreder-remove float-right  margin-left-1" title="Отменить заказ"
               @click="cancelOrder"><img src="/images/check.png"/></a>
            <!--<a class="oreder-print float-right" title="Распечатать заказ"><img src="/images/print.png"/></a>-->
        </p>
        <div class="order-content margin-bottom-1">
            <div class="grid-margin-x grid-x">
                <div class="cell medium-8 margin-bottom-1">
                    <b>Адрес аптеки:</b>
                    {{order.drugstore.title}}, {{order.drugstore.address}}
                </div>
                <div class="cell medium-4 medium-text-right">
                    <b>Сумма:</b>
                    {{order.total_price_with_promocode}}
                </div>
            </div>
            <div class="order-accordion">
                <div class="ac-item">
                    <a class="ac-title" v-bind:class="{ visible: isVisible }" v-on:click="isVisible=!isVisible">Состав
                        заказа:</a>
                    <transition name="fade">
                        <div class="ac-content" v-show="isVisible">
                            <table>
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Наименование</th>
                                    <th>Производитель</th>
                                    <th>Количество</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(drug, index) in order.drugs">
                                    <td>{{index + 1}}</td>
                                    <td class="order-item-title"><b><a :href="drug.url">{{drug.title}}</a></b></td>
                                    <td>{{drug.manufacturer.title}}</td>
                                    <td>{{drug.pivot.count}} шт</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
        props: {
            order: {
                type: Object
            }
        },
		data() {
			return {
                showCancel: true,
                errors: {},
                isVisible: false,
                statuses: {
                    "1": "В работе",
                    "3": "Выполнен",
                    "5": "Оплачен",
                    "4": "Отменен"
                }
			}
		},
		mounted() {
            this.showCancel = this.order.status === 1;
		},
		methods: {
            notificate: function (text, level) {
                this.$notify({
                    group: 'flash-notifications',
                    title: '',
                    text: text,
                    type: level,
                    duration: 5000
                });
            },
            cancelOrder: function () {
                axios.post('/profile/orders/' + this.order.id)
                    .then((response) => {
                        this.showCancel = false;
                        this.notificate('Заказ отменен', 'success');
                    }).catch((error) => {
                    this.notificate('Возникла ошибка при отмене заказа', 'error');
                });
            }
		}
	}
</script>