<template>
	<div>
		<form class="profile-index__form" v-on:submit.prevent="submit">
			<div class="grid-x grid-margin-x">
				<div class="cell small-12 medium-2">
					<label for="surname">Фамилия</label>
				</div>
				<div class="cell small-12 medium-10">
                    <input type="text" id="surname" v-model="profile.lastname" placeholder="Ваша фамилия"/>
                    <div v-if="errors.lastname" class="red errors">{{ errors.lastname[0] }}</div>
				</div>
				<div class="cell small-12 medium-2">
					<label for="firstname">Имя</label>
				</div>
				<div class="cell small-12 medium-10">
					<input type="text" id="firstname" v-model="profile.firstname" placeholder="Ваше имя" />
					<div v-if="errors.firstname" class="red errors">{{ errors.firstname[0] }}</div>
				</div>
				<div class="cell small-12 medium-2">
					<label for="lastname">Отчество</label>
				</div>
				<div class="cell small-12 medium-10">
                    <input type="text" id="lastname" v-model="profile.surname" placeholder="Ваше отчество"/>
                    <div v-if="errors.surname" class="red errors">{{ errors.surname[0] }}</div>
				</div>
				<div class="cell small-12 medium-2">
					<label for="phone">Телефон</label>
				</div>
				<div class="cell small-12 medium-10">
					<input type="text" id="phone" v-model="profile.phone" readonly placeholder="Ваш телефон" />
				</div>
				<div class="cell small-12 medium-2">
					<label for="email">E-mail</label>
				</div>
				<div class="cell small-12 medium-10">
					<input type="text" id="email" v-model="profile.email" placeholder="Ваш e-mail" />
					<div v-if="errors.email" class="red errors">{{ errors.email[0] }}</div>
				</div>
				<div class="cell small-12 clearfix">
					<button @click="reset" type="button" class="button secondary float-right margin-left-1">
            			Отменить
	            	</button>
					<button type="submit" class="button float-right">
            			Сохранить
	            	</button>
				</div>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		props: [
            "user"
        ],
		data() {
			return {
				profile: {},
				errors: {}
			}
		},
		mounted() {
			this.profile = Object.assign({}, this.user);
		},
		methods: {
			submit: function() {
				this.errors = [];
				axios.post('/profile/edit', {
					surname: this.profile.surname,
					firstname: this.profile.firstname,
					lastname: this.profile.lastname,
					email: this.profile.email,
				}).then((response) => {

                }).catch(error => {
                	this.errors = error.response.data.errors;
                });
			},
			reset: function() {
				this.profile = this.user;
			}
		}
	}
</script>