<template>
	<div class="grid-container blocks" v-bind:class="css+'bl'">
        <show-modal v-if="drug" :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 large-12 xlarge-6">
				<h2 class="relative" :class="css">
                    <a class="cover show-for-large-only show-for-small-only" :class=" { active:openedSlides }" @click="openedSlides = !openedSlides"></a>
                    {{ title }}
                </h2>
			</div>
			<div class="cell medium-6 hide-for-large-only hide-for-small-only flex-container align-middle">
				<div class="width-100 clearfix">
					<div class="display-inline-block text-right margin-left-1 float-right"
						 v-if="drugs && drugs.length > 4">
						<a class="carousel__prev"
						   @click="$refs.slick.prev()">
							<i class="icon icon-arrow-point-to-left"></i>
						</a>
						<a class="carousel__next" @click="$refs.slick.prev()">
							<i class="icon icon-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="cell small-12 margin-bottom-1">
				<hr class="margin-0" :class="css">
			</div>
		</div>
        <div class="grid-margin-x" v-if="openedSlides">
		    <slick ref="slick" :options="slickOptions">
		    	<div v-for="drug in drugs" class="padding-1 flex-container">
		    		<drugs-item-block :drug="drug" v-on:openModal="openModal"></drugs-item-block>
		    	</div>
		    </slick>
		</div>
	</div>
</template>
<script>
    export default {
        props: {
            drugs: {
                type: Array
            },
            title: {
                type: String
            },
            css: {
                type: String,
                default: 'blue'
            }
        },
        data() {
            return {
                drug: false,
                showModal: false,
                openedSlides: false,
                slickOptions: {
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    infinite: true,
                    arrows: false,
                    dots: false,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    rows: 0,
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: true,
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: true,
                            },
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: true,
                            }
                        },
                        {
                            breakpoint: 360,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: true,
                            }
                        }
                    ]
                    
                }
            }
        },
        created() {
	        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent))
                this.openedSlides = false;
            else
                this.openedSlides = true;
	    },
        methods: {
            openModal: function(drug) {
                this.drug = drug;
                this.showModal = true;
            },
        }
    }
</script>