.actuals-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	@media screen and (max-width: 39.9375em) {
		justify-content: space-between;
	}
}
.blocks {
	a {
		&.all {
			font-size: rem-calc(14);
			text-decoration: underline;
			line-height: 32px;
			margin-left: 1rem;
			&:hover {
				text-decoration: none;
			}
			&.active {
				text-decoration: none;
				color: $black;
			}
			@media screen and (max-width: 39.9375em) {
				font-size: .8rem;
				line-height: 24px;
				border: 1px solid;
				border-radius: 60px;
				text-decoration: none;
				padding: 0 5px;
				color: rgba(0,0,0,.4)!important;
				margin: 0 0 10px;
				text-align: center;
				min-width: 49%;
				max-width: 49%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				&.active {
					text-decoration: none;
					color: #143ca5!important;
				}
			}
		}
	}
	.carousel__prev, .carousel__next {
		border: 1px solid #ebebeb;
	    color: #757575;
	    width: 34px;
	    height: 34px;
	    display: inline-block;
	    text-align: center;
	    line-height: 32px;
	    border-radius: 3px;
	}
	.callout {
		h3 {
			line-height: 0.62;
		    overflow-y: hidden;
		    height: 62px;
			a {
				font-size: rem-calc(16);
				font-weight: 700;
				color: $black;
			}
		}
		.anonce {
			font-size: rem-calc(14);
		    overflow-y: hidden;
		    height: 62px;
		}
		.price {
			font-size: rem-calc(21);
			font-weight: 700;
			p {
				margin-bottom: 0;
			}
		}
		.properties {
			p {
				font-size: rem-calc(14);
				color: $light-gray;
			}
		}
		.more {
			span {
				font-size: rem-calc(14);
				color: rgb(158,158,158);
			}
			.mdi {
				font-size: rem-calc(22);
				color: #757575;
			}
		}
		&:hover {
			h3 {
				a {
					color: $blue;
				}
			}
			.more {
				span, .mdi {
					color: $blue;
				}
			}
		}
	}
}