.article-sidebar {
	&__title {
		color: $white;
		font-weight: 700;
		font-size: rem-calc(18);
		margin-bottom: 0.5rem;
		line-height: 1.5;
	}
	.callout {
		.free-phone {
			font-size: rem-calc(24);
		}
		&.blue {
			.menu {
				li {
					border-bottom: 1px solid #fff;
					&:last-child {
						border-bottom: none;
					}
					a {
						color: $white;
						font-size: rem-calc(13);
					}
				}
			}
		}
	}
}