.promotions {
	h1 {
		font-size: rem-calc(22);
		font-weight: 700;
	}
	.promotion {
		h2 {
			font-size: rem-calc(18);
			font-weight: 700;
			border-bottom: 1px solid #ebebeb;
		}
		.promotion_label {
			font-size: rem-calc(12);
		}
		.promotion_date {
			font-size: rem-calc(16);
		}
	}
}