<template>
    <select v-model="selected" style="width:inherit" v-on:change="changeRoute">
        <option>---</option>
        <option v-bind:value="category.slug" v-for="category in categories">{{ category.title }}</option>
    </select>
</template>

<script>
    export default {
        props: [
            'categories'
        ],
        data() {
            return {
                selected: ""
            }
        },
        methods: {
            changeRoute() {
                window.location = '/articles/' + this.selected
            }
        }
    }
</script>
