<template>
    <div class="article-slider position-relative">
        <slick ref="slick" :options="slickOptions">
            <a :href="slide.url" v-for="slide in slides">
                <img :src="slide.image" class="slide-item width-100">
            </a>
        </slick>
        <form method="GET" action="">
            <input type="search" name="q" v-model="q" placeholder="Поиск" class="article-slider-search" />
        </form>
    </div>
</template>

<script>

    export default {
        props: [
            'slides',
            'query'
        ],
        mounted: function() {
            this.q = this.query;
        },
        data() {
            return {
                q: "",
                slickOptions: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    dots: true,
                    autoplay: true,
                    autoplaySpeed: 5000
                }
            }
        }
    }
</script>
