<template>
	<div class="grid-container blocks">
		<show-modal v-if="drug" :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 large-12 xlarge-6">
				<h2 class="relative blue">
                    <a class="cover show-for-large-only show-for-small-only" :class=" { active:openedSlides }" @click="openedSlides = !openedSlides"></a>
                    Актуальное
                </h2>
			</div>
			<div class="cell small-12 medium-9 flex-container align-middle" v-if="openedSlides">
				<div class="width-100 clearfix grid-x">
					<div class="cell small-12"
						 :class="{'medium-10': showNavigation, 'medium-12': !showNavigation}">
						<div class="actuals-container">
							<a @click="refreshSlider(actual)" class="all"
							   v-bind:class="{active: actual == selected, blue: actual != selected}"
							   v-bind:title="actual.title" v-for="actual in actuals">
								{{ actual.title }}
							</a>
						</div>
					</div>
					<div class="cell hide-for-large-only medium-2" v-if="showNavigation">
						<transition name="fade" mode="out-in" appear>
							<div class="display-inline-block text-right margin-left-1 float-right">
								<a class="carousel__prev"
								   @click="prev()">
									<i class="icon icon-arrow-point-to-left"></i>
								</a>
								<a class="carousel__next" @click="next()">
									<i class="icon icon-arrow-right"></i>
								</a>
							</div>
						</transition>
					</div>
				</div>
			</div>
			<div class="cell small-12 margin-bottom-1">
				<hr class="margin-0 blue">
			</div>
		</div>
		<div class="grid-margin-x" v-if="openedSlides">
			<slick ref="slick" :options="slickOptions">
				<div class="padding-1 flex-container" v-for="drug in drugs">
					<drugs-item-block :drug="drug" v-on:openModal="openModal"></drugs-item-block>
				</div>
			</slick>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			actuals: {
				type: Array
		    }
		},
		data() {
			return {
				drug: false,
				showModal: false,
				openedSlides: false,
                slickOptions: {
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    infinite: true,
                    arrows: false,
                    dots: false,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: true,
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: true,
                            },
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: true,
                            }
                        },
                        {
                            breakpoint: 360,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: true,
                            }
                        }
                    ]
                },
				selected: false
			}
		},
        methods: {
        	openModal: function(drug) {
        		this.drug = drug;
        		this.showModal = true;
        	},
            next() {
                this.$refs.slick.next();
            },
            prev() {
                this.$refs.slick.prev();
            },
            refreshSlider: function (actual) {
                this.selected = actual;
                this.reInit();
            },
			// https://github.com/staskjs/vue-slick/issues/52#issuecomment-354021627
            reInit: function () {
                let currIndex = this.$refs.slick.currentSlide();
                this.$refs.slick.destroy();
                this.$nextTick(() => {
                    this.$refs.slick.create();
                    this.$refs.slick.goTo(currIndex, true);
                })
            }
        },
        created: function () {
			this.selected = this.actuals[0];
			if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent))
                this.openedSlides = false;
            else
                this.openedSlides = true;
		},
		computed: {
			drugs: function() {
				return this.selected.drugs;
            },
            classes: function () {
                return {
                    'grid-x margin-bottom-1 align-stretch': this.drugs.length < 4
                }
            },
			showNavigation: function () {
				return this.drugs && this.drugs.length > 4
            },
		}
	}
</script>