<template>
    <div class="grid-x grid-margin-x">
        <show-modal v-if="drug" :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
        <div class="cell large-4 medium-6 small-12" v-for="item in drugs">
            <drugs-item-block
                    :key="item.id"
                    :drug="item"
                    v-on:openModal="openModal">
            </drugs-item-block>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            drugs: {
                type: Array,
            },
        },
        data() {
            return {
                drug: false,
                showModal: false,
            }
        },
        methods: {
            openModal: function (drug) {
                this.drug = drug;
                this.showModal = true;
            },
        }
    }
</script>