<template>
	<div v-if="showComponent" class="catpad0 blocks">
		<show-modal v-if="drug" :drug="drug" :showModal="showModal" v-on:close="showModal = false"></show-modal>
		<div class="grid-x grid-margin-x">
			<div class="cell small-8 medium-8">
				<h2 v-bind:class="cssClass">{{ title }}</h2>
			</div>
			<div class="cell small-4 medium-4 flex-container align-middle">
				<div class="width-100 clearfix">
					<div class="display-inline-block text-right margin-left-1 float-right" v-show="dataDrugs && dataDrugs.length > limit">
                        <a class="carousel__prev" @click="$refs.slick.prev()">
							<i class="icon icon-arrow-point-to-left"></i>
						</a>
                        <a class="carousel__next" @click="$refs.slick.next()">
							<i class="icon icon-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="cell small-12 margin-bottom-1">
				<hr class="margin-0" v-bind:class="cssClass">
			</div>
		</div>
        <div class="grid-margin-x">
            <slick ref="slick" :options="slickOptions">
                <div v-for="drug in dataDrugs" class="padding-1 flex-container">
                    <drugs-item-block :drug="drug" :show-image="showImage" v-on:openModal="openModal"></drugs-item-block>
                </div>
            </slick>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			title: {
				type: String
		    },
			cssClass: {
				type: String,
				default: 'blue'
		    },
			limit: {
				type: Number,
				default: 4
		    },
			drugs: {
				type: Array
		    },
            isViewed: {
                type: Boolean,
				default: false,
            },
            showImage: {
                type: Boolean,
				default: true,
            },
        },
        data() {
            return {
                dataDrugs: [],
				drug: false,
				showModal: false,
                slickOptions: {
                    slidesToShow: this.limit,
                    slidesToScroll: this.limit,
                    infinite: true,
                    arrows: false,
                    dots: false,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: true,
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: true,
                            },
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: true,
                            }
                        },
                        {
                            breakpoint: 360,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: true,
                            }
                        }
                    ]
                }
            }
        },
        created() {
			this.dataDrugs = this.drugs;
            if (this.isViewed) {
                let storedItems = localStorage.getItem('viewed');
                if(storedItems) {
                    this.dataDrugs = JSON.parse(storedItems).reverse();
                }
            }
        },
        computed: {
            showComponent: function() {
                return this.dataDrugs !== undefined && this.dataDrugs.length > 0;
        	}
        },
        methods: {
        	openModal: function(drug) {
        		this.drug = drug;
        		this.showModal = true;
        	}
        },
        watch: {
            drugs: function () {
                this.dataDrugs = this.drugs;
            }
        }
	}
</script>