<template>
	<div class="callout shadow-hover padding-0 position-relative drug__item__block">
		<div class="statuses">
    		<div v-if="drug.type == 2" class="prescription padding-horizontal-1" title="Товар продается при наличии рецепта">
				<i class="icon-pharmacy-icon"></i>
			</div>
			<div v-else-if="drug.type == 3" class="super-prescription padding-horizontal-1" title="Товар продается только при наличии рецепта по форме 107-1/у">
				<i class="icon-pharmacy-icon"></i>
			</div>
			<div v-if="hasDiscount" class="sale">%</div>
		</div>
        <favorite :drug-id="drug.id" :is-favorite="drug.is_favorite"></favorite>
		<a v-if="showImage" v-bind:href="drug.url" v-bind:title="drug.title" class="drug-image-container">
			<img v-bind:src="'/image/240/183/' + drug.image" v-bind:title="drug.title" v-bind:alt="drug.title">
		</a>
		<div class="padding-1">
			<h3>
				<a v-bind:href="drug.url" v-bind:title="drug.title">
					{{ drug.title }}
				</a>
			</h3>
			<div class="properties">
				<p v-if="drug.manufacturer" class="margin-0">
					Пр-во: <abbr v-if="drug.manufacturer.title.length > 25" :title="drug.manufacturer.title">{{ drug.manufacturer.title.substr(0, 22) }}...</abbr>
					<template v-else>{{drug.manufacturer.title}}</template>
				</p>
				<!--<p class="margin-0">В наличие</p>-->
			</div>
		</div>
		<hr class="margin-0">
		<div class="grid-x search-drugs__drug pricecontainer">
			<div class="cell small-9 medium-9 flex-container align-middle">
				<div class="price">
					<template v-if="hasDiscount">
						<p class="red discount-price">{{ drug.price }} руб.</p>
						<p>{{ priceWithDiscount }} руб.</p>
					</template>
					<p v-else>{{ drug.price }} руб.</p>
				</div>
			</div>
			<div class="cell small-3 medium-3 text-center flex-container align-middle">
				<a class="button text-uppercase expanded" @click="$emit('openModal', drug)" v-bind:title="drug.title">
					<img src="/images/newcart.svg">
				</a>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
        props: {
            drug: {
                type: Object
            },
            showImage: {
                type: Boolean,
				default: true
            },
        },
        computed: {
            priceWithDiscount: function () {
                let discount = +this.drug.discount;
                let price = +this.drug.price;
                if (discount === null) {
                    return price;
                }
                if (this.drug.discount_is_percent) {
                    discount = price * discount * 0.01;
                }
                return (price - discount).toFixed(2);
            },
            hasDiscount: function () {
                return +this.priceWithDiscount !== +this.drug.price;
            }
        }
    }
</script>