<template>
	<div class="width-100 callout shadow-hover padding-0">
		<a v-bind:href="drug.url" v-bind:title="drug.title" class="image">
			<img v-bind:src="'/image/240/183' + drug.image" v-bind:title="drug.title" v-bind:alt="drug.title" class="width-100">
		</a>	
		<div class="padding-1">
			<h3>
				<a v-bind:href="drug.url" v-bind:title="drug.title">
					{{ drug.title }}
				</a>
			</h3>
			<div class="properties">
				<p v-if="drug.manufacturer" class="margin-0">Пр-во: {{ drug.manufacturer.title }}</p>
				<p class="margin-0">В наличие</p>
			</div>
		</div>
		<hr class="margin-0">
		<div class="padding-1 padding-bottom-0">
			<div class="price">
				{{ drug.default_price }} руб.
			</div>
			<a class="button text-uppercase expanded" v-bind:href="drug.url" v-bind:title="drug.title">
				В корзину
			</a>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			drug: {
				type: Object
		    }
		}
	}
</script>