<template>
    <div class="grid-x grid-margin-x margin-bottom-1 promotions">
        <div class="cell small-12">
            <h1>Акции</h1>
        </div>
        <div v-for="promotion in promotions" class="cell small-12">
            <div class="width-100 callout shadow-hover padding-1 promotion">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-5">
                        <img v-bind:src="'/image/340/160/' + promotion.image" v-bind:alt="promotion.title" v-bind:title="promotion.title">
                    </div>
                    <div class="cell small-12 medium-7">
                        <h2>{{ promotion.title }}</h2>
                        <p>{{ promotion.text }}</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-4 small-6">
                                <div class="promotion_label">Сроки проведения:</div>
                                <div class="promotion_date">
                                    <i class="icon-calendar blue" style="font-size:1.1rem"></i>
                                    <template v-if="promotion.diff === null">
                                        Бессрочно
                                    </template>
                                    <template v-else>
                                        {{ promotion.start_datetime | dateFormat }} - {{ promotion.end_datetime |
                                        dateFormat }}
                                    </template>
                                </div>
                            </div>
                            <div class="cell medium-4 small-6">
                                <template v-if="promotion.diff !== null && isStarted(promotion.start_datetime)">
                                    <div class="promotion_label">До окончания:</div>
                                    <div class="promotion_date">
                                        <countdown :time="promotion.diff" v-bind:auto-start="true" :leading-zero="false">
                                            <template slot-scope="props">
                                            <span class="countdown">
                                                <i class="icon-clock blue" style="font-size:1.1rem"></i>
                                                <template v-if="props.days > 0">{{ props.days }} {{props.days | plural(['день', 'дня', 'дней'])}}</template>
                                                <span v-if="props.days > 0 && props.hours > 0">, </span>
                                                <template v-if="props.hours > 0">{{ props.hours }} {{props.hours | plural(['час', 'часа', 'часов'])}}</template>
                                                <template v-else>{{ props.minutes }} {{props.minutes | plural(['минута', 'минуты', 'минут'])}}</template>
                                            </span>
                                            </template>
                                        </countdown>
                                    </div>
                                </template>
                            </div>
                            <div class="cell small-12 medium-4">
                                <a class="button expanded" v-bind:href="promotion.url" target="_blank" v-bind:title="promotion.title">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Countdown from '@xkeshi/vue-countdown';
    import moment from 'moment'
    export default {
        components: {
            Countdown,
            moment
        },
        props: [
            'promotions'
        ],
        filters: {
            plural: function(value, words) {
                let n = Math.abs(value);
                n %= 100;
                if (n >= 5 && n <= 20) return words[2];
                n %= 10;
                if (n === 1) return words[0];
                if (n >= 2 && n <= 4) return words[1];
                return words[2];
            },
            dateFormat: function(value) {
                return moment(String(value)).format('DD.MM');
            }
        },
        methods: {
            isStarted: function (date) {
                return moment().diff(moment(String(date)), 'days') > 0;
            }
        }
    }
</script>
