header {
	top: 0px; 
	width: 100%; 
	min-height: 100px;
	background-color: #f6f8f9;
	.mdi {
		font-size: rem-calc(18);
	}
	.header-flex {
		height: 65px;
		display: flex;
		align-items: center;
	}
	.search-drugs-wrap {
		.autocomplete {
			width: calc(100% - 170px);
			float: left;
		}
		button.expanded {
			width: 170px;
		}
	}
	.header-menu {
		.float-right {
			.menu {
				li:first-child a {
					position: relative;
					&:before {
						content: '';
						height: 14px;
						position: absolute;
						right: 0;
						width: 1px;
						background: #adadad;
						top: calc(50% - 7px);
					}
				}
				a {
					color: #757575;
				}
			}
		}
		.menu {
			min-height: 40px;
			li {
				border-bottom: 1px solid transparent;
				a {
					font-size: rem-calc(12);
					color: $black;
				}
				&:hover, &.active {
					border-bottom: 1px solid $blue;
					a {
						color: $blue;
					}
				}
			}
		}
	}
	.logo_wrap {
		display: block;
		width: 100%;
		text-align: center;
		img {
			width: 70%;
		}
	}
	.background {
		background: #e6edf1 url('/images/header-background.jpg') no-repeat 50% 50%;
		background-size: cover;
		border-top: 1px solid #dfe1e3;
		min-height: 145px;
		small {
			font-size: rem-calc(12);
			line-height: 50%;
		}
		.confirm-city {
			border-radius: 4px;
			box-shadow: 1px 1.732px 21px rgba(0,0,0,0.38);
			background-color: #ffffff;
			border: 1px solid $light-gray;
			color: rgb(136,136,136);
			font-size: rem-calc(13);
			min-width: 200px;
			position: absolute;
			z-index: 900;
			&__yes {
				font-size: rem-calc(12) !important;
				border-radius: 3px !important;
              padding: 0 1em;
              line-height: 20px;
              margin-bottom: 0;
			}
			&__other {
				font-size: rem-calc(11);
				color: $blue;
				border-bottom: 1px dashed $blue;
				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
		.choose-city, .choose-drugstore {
			font-size: rem-calc(14);
			color: $black;
			.mdi {
				font-size: rem-calc(24);
			}
		}
		.free-phone {
			font-size: rem-calc(21);
			font-weight: 700;
		}
		.catalog-menu {
			position: relative;
			.overlay {
				position: fixed;
              top: 0;
              left: 0;
				z-index: 50;
              background: rgba(255, 255, 255, 0.75);
              visibility: hidden;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              width: 100%;
				height: 100%;
				opacity: 0;
				&.visible {
					visibility: visible;
					opacity: 1;
				}
			}

			.catalog-menu-categories.visible {
				display: block !important;
			}

			.menu-button {
				font-size: rem-calc(14);
				color: $white;
				background: $blue;
              	padding-top: 0;
              	padding-bottom: 0;
              	height: 34px;
				line-height: 32px;
				z-index: 51;
				position: relative;
				margin-bottom: 0;
				i {
					margin-right: 5px;
					&:before {
						line-height: normal;
                      display: inline-block;
                      margin-bottom: 2px;
					}
				}
				.mdi {
					font-size: rem-calc(32);
				}
			}
			.catalog-menu-categories {
				display: none;
				position: absolute;
				left: 0;
				right: 0;
				top: 35px;
				list-style: none;
				margin: 0;
				z-index: 900;
				border-radius: 3px;
				box-shadow: 0px 4px 10px rgba(75,75,75,0.23);
				li {
					padding: 12px;
					border-bottom: 1px solid #efefef;
					background: $white;
					//position: relative;
					.caticon {
						height: 50px;
						display: flex;
						width: 50px;
						justify-content: center;
						align-items: center;
						position: relative;
						img {
							position: absolute;
							left: calc(50% - 15px);
							top: calc(50% -15px);
						}
						img.img-hover {
							opacity: 0;
						}
					}
					&:hover {
						.caticon {
							img {
								opacity: 0;
							}
							img.img-hover {
								opacity: 1;
							}
						}
					}
					.cattitle {
						height: 50px;
						display: flex;
						align-items: center;
						width: calc(100% - 55px);
						margin-left: 5px;
					}
					&:hover {
						background: #e9f9f9;
						.catalog-menu-subcategories {
							display: block;
						}
						a {
							color: $blue;
						}
					}
					a {
						font-size: rem-calc(16);
						color: $black;
					}
					.catalog-menu-subcategories {
						display: none;
						position: absolute;
						z-index: 1;
						margin: 0;
                      left: 100%;
						top: 0;
						height: 100%;
                      width: 900px;
						background: $white;
						border: 1px solid #efefef;
						border-radius: 3px;
						box-shadow: 0px 4px 10px rgba(75,75,75,0.23);
						a {
							font-size: rem-calc(14);
							display: inline-block;
							padding: 3px 0;
							color: $black;
							&:hover {
								color: $blue;
							}
						}
					}
				}
			}
		}
		.search-drugs {
			margin-right: 0!important;
			&.small-2 {
				margin-left: 0!important;
			}
			input[type="text"] {
				font-size: 0.875rem;
				padding: 0.5rem;
				height: 34px;
				line-height: 34px;
				border-color: #42aaf5;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				padding-left: 60px;
				background-image: url('/images/search-blue.svg');
				background-position: 20px center;
				background-repeat: no-repeat;
				background-size: 20px;
			}
			button {
				font-size: rem-calc(14);
              	padding-top: 0;
              	padding-bottom: 0;
              	height: 34px;
				line-height: 34px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				background-image: linear-gradient(to top, rgb(66, 170, 245), rgb(115, 178, 246));
				margin-bottom: 0;
				.mdi {
					font-size: rem-calc(24);
				}
			}
			.autocomplete-suggestions {
				width: 143%;
              	.drugstores-select {
					margin-bottom: 0;
                	font-size: 14px;
				}
				.button.expanded {
					margin-bottom: 0!important;
				}
			}
			&__drug {
				&__image {
					max-width: 90px;
					max-height: 70px;
				}
				&__title {
					color: $blue;
                  	font-size: rem-calc(16);
                  	line-height: 1;
					&:hover {
						border-bottom-color: transparent;
					}
				}
				&__price {
					font-size: rem-calc(24);
					font-weight: 700;
                  margin-bottom: 0.6rem !important;
				}
			}
		}
		.cart-header .collapse {
			margin: 0;
			width: 21%;
			margin-left: -5px;
		}
		.shares {
			color: $white;
			font-size: rem-calc(14);
          	padding-top: 0;
          	padding-bottom: 0;
         	height: 34px;
			line-height: 32px;
			margin-bottom: 0;
			i {
				margin-right: 5px;
				&:before {
					line-height: normal;
					display: inline-block;
				}
			}
			.mdi {
				font-size: rem-calc(24);
			}
		}
	}
	.cart-header {
		padding-top: 10px;
		padding-bottom: 10px;
		&:hover {
			.cart-preview {
				visibility: visible;
				opacity: 1;
			}
		}
		.cart-preview {
			position: absolute;
			top: 100%;
			right: 0;
			padding: 0;
			background: #fff;
			border-radius: 4px;
			border: 1px solid;
			border-color: #dfe1e3;
			width: 340px;
			z-index: 990;
			visibility: hidden;
			opacity: 0;
			transition: 0.2s;
			.table-wrap {
				padding: 15px;
				border-bottom: 1px solid #dfe1e3;
				margin-bottom: 15px;
				table {
					margin-bottom: 0;
					tr {
						border-bottom: 8px solid #fff;
					}
					img {
						width: 50px;
					}
					.title {
						color: #333;
						font-size: 0.85em;
						padding: 0px 5px;
						display: inline-block;
						width: 120px;
					}
				}
			}
			.total-wrap {
				padding: 0px 15px;
			}
			.basketAdd__count {
				width: 100px;
				padding-right: 5px;
				white-space: nowrap;
			}
			.basketAdd__count__decriment, .basketAdd__count__increment, .basketAdd__count__input {
				width: 30px;
				height: 30px;
				line-height: 28px;
			}
			.total__price {
				font-size: 1rem;
				font-weight: bold;
				b {
					font-size: 1.4rem;
				}
			}
			.button.alert {
				color: #fff;
				text-transform: uppercase;
				background-image: none;
			}
		}
	}
}
.fixed-header {
	.scroll-hide {
		display: none;
	}
	.small-header-wrap {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 101;
		-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.35);
    	box-shadow: 0 3px 5px 0 rgba(0,0,0,.35);
		background: #e6edf1 url('/images/header-background.jpg') no-repeat 50% 50%;
		padding: 1rem 0;
		.margin-bottom-1 {
			margin-bottom: 0!important;
		}
	}
	.scroll-flex-center {
		display: flex;
		align-items: center;
		height: 70px;
	}
}
