.articles {
	h1 {
		font-size: rem-calc(22);
		font-weight: 700;
	}
	h2 {
		font-size: rem-calc(18);
	}
	h3 {
		font-size: rem-calc(16);
	}
	li {
		margin-bottom: 10px;
	}
	.article-label {
		position: absolute;
		right: 10px;
		top: 10px;
		background: rgba(20, 60, 165, 0.5);
		color: #fff;
	}
	.article-absolute-link {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		display: block;
	}
	.article {
		cursor: pointer;
		h2 {
			a {
				font-size: rem-calc(18);
				font-weight: 700;
				color: $black;
			}
		}
		.article_anonce {
			font-size: rem-calc(16);
		}
		.article_more {
			font-size: rem-calc(14);
			color: $light-gray;
		}
		.article_date {
			font-size: rem-calc(14);
			color: $light-gray;
		}
		&:hover {
			h2 {
				a {
					color: $blue;
				}
			}
			.article_more {
				color: $blue;
			}
		}
	}
}
.article-slider {
	&-search {
	    position: absolute;
	    z-index: 2;
	    bottom: 30px;
	    width: 400px;
	    left: 50%;
	    margin-left: -200px;
	    border-color: #42aaf5;
	}
}